XML/CFS-Simulation/Schemas/CFS_PDEelectrostatic.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for an electrostatic PDE
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of element for electrostatic PDEs -->
  <!-- ******************************************************************* -->
  <xsd:element name="electrostatic" type="DT_PDEElectrostatic"
    substitutionGroup="PDEBasic">
    <xsd:unique name="CS_ElectrostaticRegion">
      <xsd:selector xpath="cfs:region"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for electrostatic PDEs -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_PDEElectrostatic">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- Regions the PDE lives on -->
          <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="name" type="xsd:token" use="required"/>
              <xsd:attribute name="nonLinear" type="DT_ElecNonLin"
                use="optional" default="no"/>
              <xsd:attribute name="tag" type="xsd:token" use="optional"
                default="anyTag"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Surface regions on which results can be calculated-->
          <xsd:element name="surface" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="name" type="xsd:token" use="required"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="dirichletHom"   type="DT_ElecHD"   />
                <xsd:element name="dirichletInhom" type="DT_ElecID"   />
                <xsd:element name="neumannInhom"   type="DT_ElecIN"   />
                <xsd:element name="constraint"     type="DT_ElecCS"   />
                <xsd:element name="load"           type="DT_ElecLoad" />
                <xsd:element name="impedance"      type="DT_ElecImpedance" />
              </xsd:choice>
              <xsd:attribute name="tag" type="xsd:token" use="optional"
                default="anyTag"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Section for specifying non-linear parameters (optional) -->
          <xsd:element name="nonLinear" type="DT_NonLinParams" minOccurs="0"/>

          <!-- Desired solution values (optional) -->
          <xsd:element name="storeResults" type="DT_ElecStoreResults"
            minOccurs="0" maxOccurs="1"/>

        </xsd:sequence>

        <!-- Subtype of PDE -->
        <xsd:attribute name="subType" use="optional" default="normal">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
	      <xsd:enumeration value="normal"/>
	      <xsd:enumeration value="flatShell"/>
              <xsd:enumeration value="axi"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of the boundary condition types for electrostatic -->
  <!-- ******************************************************************* -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_ElecHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="nodeList"/>
        <xsd:attribute name="dof" type="xsd:token" use="optional"
          default="ep"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_ElecID">
    <xsd:complexContent>
      <xsd:extension base="DT_ElecHD">
        <xsd:attribute name="value" type="xsd:token" use="required"/>
        <xsd:attribute name="dynamics" type="xsd:token" use="optional"
          default="none"/>
        <xsd:attribute name="phase" type="xsd:token" use="optional"
          default="0.0"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_ElecIN">
    <xsd:complexContent>
      <xsd:extension base="DT_ElecID"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for constraint condition -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_ElecCS">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="nodeList"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- Element type for specifying loads -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_ElecLoad">
    <xsd:complexContent>
      <xsd:extension base="DT_ElecID"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying a simple impedance, connected in -->
  <!-- series with a pair of given nodes -->
  <xsd:complexType name="DT_ElecImpedance">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="node1" type="xsd:token" use="required"/>
        <xsd:attribute name="node2" type="xsd:token" use="required"/>
        <xsd:attribute name="resistance" type="xsd:double"
          use="optional" default="0.0"/>
        <xsd:attribute name="inductance" type="xsd:double"
        use="optional" default="0.0"/>
        <xsd:attribute name="capacitance" type="xsd:double" use="optional"
          default="0.0"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************* -->

  <!-- What data can a single node have in an electrostatic PDE -->
  <xsd:simpleType name="DT_NodeDataElec">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="elecPotential"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- What data can a single element have in a electrostatic PDE -->
  <xsd:simpleType name="DT_ElemDataElec">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="elecFieldIntensity"/>
      <xsd:enumeration value="elecEnergy"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Data type for describing final node values to be stored -->
  <xsd:complexType name="DT_NodeResultsElec">
    <xsd:attribute name="type" type="DT_NodeDataElec" use="required"/>
    <xsd:attribute name="region" type="xsd:token" use="optional"
      default="all"/>
  </xsd:complexType>

  <!-- Data type for describing history of node values to be stored -->
  <xsd:complexType name="DT_NodeHistoryElec">
    <xsd:attribute name="type" type="DT_NodeDataElec" use="required"/>
    <xsd:attribute name="saveNodes" type="xsd:token" use="optional"
      default=""/>
    <xsd:attribute name="saveRegion" type="xsd:token" use="optional"
      default=""/>
  </xsd:complexType>

  <!-- Data type for describing final element values to be stored -->
  <xsd:complexType name="DT_ElemResultsElec">
    <xsd:attribute name="type" type="DT_ElemDataElec" use="required"/>
    <xsd:attribute name="region" type="xsd:token" use="optional"
      default="all"/>
  </xsd:complexType>

  <!-- Data type for describing history of element values to be stored -->
  <xsd:complexType name="DT_ElemHistoryElec">
    <xsd:attribute name="type" type="DT_ElemDataElec" use="required"/>
    <xsd:attribute name="saveElems" type="xsd:token" use="optional"
      default=""/>
    <xsd:attribute name="saveRegion" type="xsd:token" use="optional"
      default=""/>
  </xsd:complexType>

  <!-- Element type for computing of electric charges -->
  <xsd:complexType name="DT_ChargeElec">
    <xsd:attribute name="region" type="xsd:token" use="required" />
    <xsd:attribute name="element" type="xsd:token" use="required"/>
    <xsd:attribute name="outputType" use="optional" default="surface">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="surface"/>
          <xsd:enumeration value="volume"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <!-- Global type for specifying desired electrostatic output quantities -->
  <xsd:complexType name="DT_ElecStoreResults">
    <xsd:sequence>
      <xsd:element name="nodeResults" type="DT_NodeResultsElec" minOccurs="0"
        maxOccurs="unbounded"/>
      <xsd:element name="nodeHistory" type="DT_NodeHistoryElec" minOccurs="0"
        maxOccurs="unbounded"/>
      <xsd:element name="elemResults" type="DT_ElemResultsElec" minOccurs="0"
        maxOccurs="unbounded"/>
      <xsd:element name="elemHistory" type="DT_ElemHistoryElec" minOccurs="0"
        maxOccurs="unbounded"/>
      <xsd:element name="charge" type="DT_ChargeElec" minOccurs="0"
        maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for non-linearity in electrostatic PDEs -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_ElecNonLin">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="geo"/>
      <xsd:enumeration value="hysteresis"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
