XML/CFS-Simulation/Schemas/CFS_Solvers.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description for Solver parameters
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of basic Solver data type -->
  <!-- ******************************************************************* -->

  <!-- This is an abstract basic type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_SolverBasic" abstract="true"/>


  <!-- ******************************************************************* -->
  <!--   Definition of basic Solver element -->
  <!-- ******************************************************************* -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised Solver elements -->
  <xsd:element name="SolverBasic" type="DT_SolverBasic" abstract="true"/>

  <!-- ******************************************************************* -->
  <!--   Definition of basic EigenSolver data type -->
  <!-- ******************************************************************* -->

  <!-- This is an abstract basic type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_EigenSolverBasic" abstract="true"/>


  <!-- ******************************************************************* -->
  <!--   Definition of basic EigenSolver element -->
  <!-- ******************************************************************* -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised Solver elements -->
  <xsd:element name="EigenSolverBasic" type="DT_EigenSolverBasic" abstract="true"/>
    

  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                       HYPRE_GMRES Solver                      == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for HYPRE_GMRES Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="hypreGMRES" type="DT_SolverHypreGMRES"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for HYPRE_GMRES Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverHypreGMRES">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="tol" type="DT_PosFloat" minOccurs="0"/>
          <xsd:element name="maxIter" type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="maxKrylovDim"  type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="logging" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:enumeration value="0"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="printLevel" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:enumeration value="0"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                      HYPRE_BICGSTAB Solver                    == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for HYPRE_BICGSTAB Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="hypreBICGSTAB" type="DT_SolverHypreBICGSTAB"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for HYPRE_BICGSTAB Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverHypreBICGSTAB">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="tol" type="DT_PosFloat" minOccurs="0"/>
          <xsd:element name="maxIter" type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="logging" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:enumeration value="0"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="printLevel" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:enumeration value="0"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                        HYPRE_PCG Solver                       == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for HYPRE_PCG Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="hyprePCG" type="DT_SolverHyprePCG"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for HYPRE_PCG Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverHyprePCG">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="tol" type="DT_PosFloat" minOccurs="0"/>
          <xsd:element name="maxIter" type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="logging" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:enumeration value="0"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="printLevel" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:enumeration value="0"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="twoNorm" type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                          OLAS_PCG Solver                      == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for OLAS_PCG Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="cg" type="DT_SolverOLASPCG"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for OLAS_PCG Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverOLASPCG">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="tol" type="DT_PosFloat" minOccurs="0"/>
          <xsd:element name="maxIter" type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="resDirectly" type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="logging" type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                         LAPACK_LU Solver                      == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for LAPACK_LU Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="lapackLU" type="DT_SolverLAPACKLU"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for LAPACK_LU Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverLAPACKLU">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="tryScaling" type="DT_CFSBool" minOccurs="0"/>
          <xsd:element name="refineSol" type="DT_CFSBool" minOccurs="0"/>
          <xsd:element name="logging" type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                         LAPACK_LL Solver                      == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for LAPACK_LL Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="lapackLL" type="DT_SolverLAPACKLL"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for LAPACK_LL Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverLAPACKLL">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="logging" type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                         PARDISO Solver                        == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for PARDISO Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="pardiso" type="DT_SolverPARDISO"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for PARDISO Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverPARDISO">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="posDef"    type="DT_CFSBool" minOccurs="0"/>
          <xsd:element name="hermitean" type="DT_CFSBool" minOccurs="0"/>
          <xsd:element name="symStruct" type="DT_CFSBool" minOccurs="0"/>
          <xsd:element name="ordering"  type="DT_PardisoOrdering"
            minOccurs="0"/>
          <xsd:element name="logging"   type="DT_CFSBool" minOccurs="0"/>
          <xsd:element name="stats"     type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="DT_PardisoOrdering">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="noReordering"/>
      <xsd:enumeration value="minimumDegree"/>
      <xsd:enumeration value="nestedDissection"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                        SPARSE DIRECT Solver                   == -->
  <!-- ==                                                               == -->
  <!-- ==                     (LU_SOLVER or LDL_SOLVER)                 == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for DIRECT Solvers -->
  <!-- ******************************************************************* -->
  <xsd:element name="directLU" type="DT_SolverDIRECT_LU"
    substitutionGroup="SolverBasic"/>
  <xsd:element name="directLDL" type="DT_SolverDIRECT_LDL"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data types for DIRECT Solvers -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverDIRECT_LU">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="saveFacFile" type="xsd:token"  minOccurs="0"/>
          <xsd:element name="logging"     type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DT_SolverDIRECT_LDL">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="itRefSteps" type="xsd:nonNegativeInteger"
            minOccurs="0"/>
          <xsd:element name="itRefVerbosity" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:enumeration value="0"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="saveFacFile" type="xsd:token" minOccurs="0"/>
          <xsd:element name="savePatternOnly" type="DT_CFSBool"
            minOccurs="0"/>
          <xsd:element name="logging" type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                         OLAS_GMRES Solver                     == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for OLAS_GMRES Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="gmres" type="DT_SolverOLASGMRES"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for OLAS_GMRES Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverOLASGMRES">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="tol" type="DT_PosFloat" minOccurs="0"/>
          <xsd:element name="maxIter" type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="maxKrylovDim" type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="logging" type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                        OLAS_MINRES Solver                     == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for OLAS_MINRES Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="minres" type="DT_SolverOLASMINRES"
    substitutionGroup="SolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for OLAS_GMRES Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_SolverOLASMINRES">
    <xsd:complexContent>
      <xsd:extension base="DT_SolverBasic">
        <xsd:sequence>
          <xsd:element name="tol" type="DT_PosFloat" minOccurs="0"/>
          <xsd:element name="maxIter" type="xsd:positiveInteger"
            minOccurs="0"/>
          <xsd:element name="logging" type="DT_CFSBool" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- =================================================================== -->
  <!-- ==                                                               == -->
  <!-- ==                    ARPACK EIGENVALUE SOLVER                   == -->
  <!-- ==                                                               == -->
  <!-- =================================================================== -->


  <!-- ******************************************************************* -->
  <!-- Definition of element for ARPACK Eigenvalue Solver -->
  <!-- ******************************************************************* -->
  <xsd:element name="arpack" type="DT_EigenSolverARPACK"
    substitutionGroup="EigenSolverBasic"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for ARPACK Eigenvalue Solver -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_EigenSolverARPACK">
    <xsd:complexContent>
      <xsd:extension base="DT_EigenSolverBasic">

        <xsd:sequence>
          <xsd:element name="tolerance" type="DT_PosFloat" minOccurs="0"/>
          <xsd:element name="maxIt" type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="numVec" type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="logging" type="DT_CFSBool" minOccurs="0"/>
          <xsd:element name="which" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="LA"/>
                <xsd:enumeration value="SA"/>
                <xsd:enumeration value="LM"/>
                <xsd:enumeration value="SM"/>
                <xsd:enumeration value="LR"/>
                <xsd:enumeration value="SR"/>
                <xsd:enumeration value="LI"/>
                <xsd:enumeration value="SI"/>
                <xsd:enumeration value="BE"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
      
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
