XML/CFS-Simulation/Schemas/CFS_PDEacoustic.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for an acoustics PDE
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of element for acoustics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:element name="acoustic" type="DT_PDEAcoustic"
    substitutionGroup="PDEBasic">
    <xsd:unique name="CS_AcousticRegion">
      <xsd:selector xpath="cfs:region"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for acoustics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_PDEAcoustic">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- Regions the PDE lives on (including optional damping model) -->
          <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="damping" type="DT_AcousticDamp"
                  minOccurs="0"/>
                <xsd:element name="pml" type="DT_AcousticPML"
                  minOccurs="0"/>
                <xsd:element name="dampLayer" type="DT_AcousticDampLayer"
                  minOccurs="0"/>
                <xsd:element name="flowData" type="DT_AcousticFlow"
                  minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="name" type="xsd:token" use="required"/>
              <xsd:attribute name="nonLinear" type="DT_AcousticNonLin"
                use="optional" default="no"/>
              <xsd:attribute name="tag" type="xsd:token" use="optional"
                default="anyTag"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Surface regions on which results as force are calculated -->
          <xsd:element name="surface" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="name" type="xsd:token" use="required"/>
            </xsd:complexType>
          </xsd:element>

          <!-- To define coupled region in flownoise case (optional) -->
          <xsd:element name="coupledRegion" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:restriction base="xsd:anyType">
                  <xsd:attribute name="name" type="xsd:string" use="optional"
                    default="none"/>
                </xsd:restriction>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="valRHS" type="DT_CFSBool" minOccurs="0"
            maxOccurs="1" default="no"/>

          <!--  Parameter to check if we are using nrbc -->
          <xsd:element name="isCoupledNrbc" type="DT_CFSBool" minOccurs="0"
            maxOccurs="1" default="no"/>

          <!--  Three parameters are to activate the write out of the
          grid and coupled values (optional) -->
          <xsd:element name="writeCoupledGrid" type="DT_CFSBool" minOccurs="0"
            maxOccurs="1" default="no"/>

          <xsd:element name="writeSrcFileperTS" type="DT_CFSBool" minOccurs="0"
            maxOccurs="1" default="no"/>

          <xsd:element name="writeSrcFileperNode" type="DT_CFSBool" minOccurs="0"
            maxOccurs="1" default="no"/>

          <!-- Type of FlowData (optional) -->
          <xsd:element name="flowData" minOccurs="0">
            <xsd:complexType>
              <xsd:attribute name="type" use="required">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="nodalSrc"/>
                    <xsd:enumeration value="vortexSrc"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>

          <!-- Time Stepping Formulation (optional)-->
          <xsd:element name="timeSteppingFormulation"
            type="DT_AcousticTimeStep" minOccurs="0"
            default="effStiffMatrix"/>

          <!-- Information for simulation including bubbles (optional) -->
          <xsd:element name="bubbles" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="bubbleType">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="Gilmore"/>
                      <xsd:enumeration value="KellerMiksis"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="bubbleNumDensity" type="DT_NonNegFloat"/>
              </xsd:sequence>
              <xsd:attribute name="tag" type="xsd:token" use="optional"
                default="anyTag"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Section for specifying acoustic slice data (pulse-wave
          computation on slices) -->
          <xsd:element name="sliceData" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="dimension" 
                  type="DT_DomainDimension"/>
                <xsd:element name="waveLength" 
                  type="DT_PosFloat"/>
                <xsd:element name="safetyRegion" 
                  type="DT_PosFloat"/>
                <xsd:element name="addNrOfWaveLength" 
                  type="xsd:nonNegativeInteger"/>
                <xsd:element name="elementsPerWavelength" 
                  type="xsd:nonNegativeInteger"/>
                <xsd:element name="pulseTime" 
                  type="DT_PosFloat"/>
                <xsd:element name="pulseOffset" 
                  type="DT_NonNegFloat"/>
                <xsd:element name="pulseStartDamping" 
                  type="DT_NonNegFloat"/>
                <xsd:element name="soundSpeed" 
                  type="DT_PosFloat"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="dirichletHom"   type="DT_AcousticHD"  />
                <xsd:element name="dirichletInhom" type="DT_AcousticID"  />
                <xsd:element name="neumannInhom"   type="DT_AcousticIN"  />
                <xsd:element name="load"           type="DT_AcousticLoad"      />
                <xsd:element name="absorbingBCs"   type="DT_AbsorbingBC" />
              </xsd:choice>
              <xsd:attribute name="tag" type="xsd:token" use="optional"
                default="anyTag"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Data type to define parameters of vortex source -->
          <xsd:element name="vortexSrc" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="outType"       type="xsd:nonNegativeInteger"/>
                <xsd:element name="p0Phys"       type="DT_NonNegFloat"/>
                <xsd:element name="rho0Phys"       type="DT_NonNegFloat"/>
                <xsd:element name="r_0Phys"       type="DT_NonNegFloat"/>
                <xsd:element name="GammaZirkPhys"       type="DT_NonNegFloat"/>
                <xsd:element name="Equationgamma" type="DT_NonNegFloat"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- Section for specifying non-linear parameters (optional) -->
          <xsd:element name="nonLinear" type="DT_NonLinParams" minOccurs="0"/>

          <!-- Desired solution values (optional) -->
          <!-- Currently this is not supported, since it is difficult
          to define in the acoustics case since it depends on the
          boundary conditions -->
          <xsd:element name="storeResults" type="DT_AcousticStoreResults"
            minOccurs="0" maxOccurs="1"/>

        </xsd:sequence>

        <!-- Type of acoustic formulation (optional) -->
        <xsd:attribute name="formulation" use="optional"
          default="acouPressure">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="acouPressure"/>
              <xsd:enumeration value="acouPotential"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

        <!-- Type of acoustic pde -->
        <xsd:attribute name="subType" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="flowNoise"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="type" use="optional" default="lagrange">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="lagrange"/>
              <xsd:enumeration value="legendre"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="order" use="optional"
        type="xsd:positiveInteger" default="1"/>

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of the boundary condition types for acoustics -->
  <!-- ******************************************************************* -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_AcousticHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="nodeList"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_AcousticID">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticHD">
        <xsd:attribute name="value" type="xsd:token" use="required"/>
        <xsd:attribute name="dynamics" type="xsd:token" use="optional"
          default="none"/>
        <xsd:attribute name="phase" type="xsd:token" use="optional"
          default="0.0"/>
	<xsd:attribute name="fileName" type="xsd:token" use="optional"
          default="none"/>
	<xsd:attribute name="interpolType" type="xsd:token" use="optional"
          default="NNB"/>
	<xsd:attribute name="noNodes" type="xsd:token" use="optional"
          default="-1"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticIN">
    <xsd:complexContent>
      <xsd:restriction base="DT_AcousticID">
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="surfElemList"/>
        </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying loads -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticLoad">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticID"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying absorbing boundary conditions -->
  <!-- Identical to that of homogeneous Dirichlet case -->
  <xsd:complexType name="DT_AbsorbingBC">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticHD"/>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for non-linearity in mechanic PDEs -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticNonLin">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="westervelt"/>
      <xsd:enumeration value="kuznetsov"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************* -->
  <!--   Definition for PML                                                -->
  <!-- ******************************************************************* -->

   <xsd:complexType name="DT_AcousticPML">
     <xsd:sequence>
       <xsd:element name="propRegion" minOccurs="0" maxOccurs="1">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="xMin" type="xsd:double" minOccurs="1" maxOccurs="1"/>
              <xsd:element name="xMax" type="xsd:double" minOccurs="1" maxOccurs="1"/>
              <xsd:element name="yMin" type="xsd:double" minOccurs="1" maxOccurs="1"/>
              <xsd:element name="yMax" type="xsd:double" minOccurs="1" maxOccurs="1"/>
              <xsd:element name="zMin" type="xsd:double" minOccurs="1" maxOccurs="1"/>
              <xsd:element name="zMax" type="xsd:double" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>

    <!-- Type of PML -->
    <xsd:attribute name="type" use="optional" default="inverseDist">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="constant"   />
          <xsd:enumeration value="quadDist"     />
          <xsd:enumeration value="inverseDist"     />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="dampFactor" type="xsd:double" use="optional"
      default="1"/>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition for damping Layer                                      -->
  <!-- ******************************************************************* -->

   <xsd:complexType name="DT_AcousticDampLayer">

    <!-- Type of PML -->
    <xsd:attribute name="type" use="optional" default="exponential">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="linear"   />
          <xsd:enumeration value="quadDist"     />
          <xsd:enumeration value="inverseDist"     />
          <xsd:enumeration value="exponential"     />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

    <xsd:attribute name="xM" type="xsd:double" use="required"/>
    <xsd:attribute name="yM" type="xsd:double" use="required"/>
    <xsd:attribute name="zM" type="xsd:double" use="required"/>
    <xsd:attribute name="radiusStart" type="xsd:double" use="required"/>
    <xsd:attribute name="radiusEnd" type="xsd:double" use="required"/>
    <xsd:attribute name="dampFactor" type="xsd:double" use="optional"
      default="10"/>
    <xsd:attribute name="dampFactorMax" type="xsd:double" use="optional"
      default="100"/>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition for Flow data                                          -->
  <!-- ******************************************************************* -->

   <xsd:complexType name="DT_AcousticFlow">

      <xsd:sequence>
        <xsd:element name="flowDir" type="xsd:token"/>
        <xsd:element name="flowOrd" type="xsd:nonNegativeInteger"/>
        <xsd:element name="flowVel" type="xsd:double"/>
        <xsd:element name="flowDia" type="xsd:double"/>
        <xsd:element name="flowLen" type="xsd:double"/>
        <xsd:element name="flowDecay" type="xsd:double"/>
        <xsd:element name="flowCenterX" type="xsd:double"/>
        <xsd:element name="flowCenterY" type="xsd:double"/>
        <xsd:element name="flowCenterZ" type="xsd:double"/>
      </xsd:sequence>

  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for damping model -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_AcousticDamp">

    <!-- Type of damping -->
    <xsd:attribute name="type" use="optional" default="no">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="fractional"   />
          <xsd:enumeration value="rayleigh"     />
          <xsd:enumeration value="absorbingBC"  />
          <xsd:enumeration value="thermoViscous"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

    <!-- Type of fractional damping algorithm -->
    <xsd:attribute name="fracAlg" use="optional" default="gl">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="gl"/>
          <xsd:enumeration value="blank"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

    <!-- Number of past time-steps for fractional damping -->
    <xsd:attribute name="fracMemory" type="xsd:positiveInteger" use="optional"
      default="1"/>

    <!-- Type of interpolation -->
    <xsd:attribute name="interpolation" use="optional" default="no">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="lin1pt"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for time stepping formulation -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticTimeStep">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="effMassMatrix"/>
      <xsd:enumeration value="effStiffMatrix"/>
      <xsd:enumeration value="diagMassMatrix"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************* -->

  <!-- What data can a single node have in an acoustic PDE -->
  <xsd:simpleType name="DT_AcousticNodeData">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressure"/>
      <xsd:enumeration value="acouPotential"/>
      <xsd:enumeration value="acouPotentialD1"/>
      <xsd:enumeration value="acouPotentialD2"/>
      <xsd:enumeration value="acouRHSval"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- What data can a single element have in an acoustic PDE -->  
  <xsd:simpleType name="DT_AcousticElemData">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouForce"/>
      <xsd:enumeration value="acouPressure"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Data type for describing final node values to be stored -->
  <xsd:complexType name="DT_AcousticNodeResults">
    <xsd:attribute name="type" type="DT_AcousticNodeData" use="required"/>
    <xsd:attribute name="region" type="xsd:token" use="optional"
      default="all"/>
  </xsd:complexType>

  <!-- Data type for describing history of node values to be stored -->
  <xsd:complexType name="DT_AcousticNodeHistory">
    <xsd:attribute name="type" type="DT_AcousticNodeData" use="required"/>
    <xsd:attribute name="saveNodes" type="xsd:token" use="optional"
      default=""/>
    <xsd:attribute name="saveRegion" type="xsd:token" use="optional"
      default=""/>
    <xsd:attribute name="format" use="optional" default="complete">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="complete"/>
          <xsd:enumeration value="maxVal"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <!-- Data type for describing history of node values to be stored -->
  <xsd:complexType name="DT_AcousticSpecialNodes">
    <xsd:attribute name="type" type="DT_AcousticNodeData" use="required"/>
    <xsd:attribute name="saveNodes" type="xsd:token" use="required"/>
    <xsd:attribute name="file" type="xsd:token" use="required"/>
  </xsd:complexType>

  <!-- Data type for describing final element values to be stored -->
  <xsd:complexType name="DT_AcousticElemResults">
    <xsd:attribute name="type" type="DT_AcousticElemData" use="required"/>
    <xsd:attribute name="region" type="xsd:token" use="optional"
      default="all"/>
  </xsd:complexType>
  
  <!-- Data type for describing history of element values to be stored -->
  <xsd:complexType name="DT_AcousticElemHistory">
    <xsd:attribute name="type" type="DT_AcousticElemData" use="required"/>
    <xsd:attribute name="saveElems" type="xsd:token" use="optional"
      default=""/>
    <xsd:attribute name="saveRegion" type="xsd:token" use="optional"
      default=""/>
  </xsd:complexType>  

  <!-- Element type for computing of acoustic power -->
  <xsd:complexType name="DT_PowerAcou">
    <xsd:attribute name="region" type="xsd:token" use="required" />
    <xsd:attribute name="element" type="xsd:token" use="required"/>
  </xsd:complexType>

  <!-- Global type for specifying the desired acoustic output quantities -->
  <xsd:complexType name="DT_AcousticStoreResults">
    <xsd:sequence>
      <xsd:element name="nodeResults" type="DT_AcousticNodeResults"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="nodeHistory" type="DT_AcousticNodeHistory"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="specialNodes" type="DT_AcousticSpecialNodes"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="elemResults" type="DT_AcousticElemResults"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="elemHistory" type="DT_AcousticElemHistory"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="acouIntensityPower" type="DT_PowerAcou" minOccurs="0"
        maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_DomainDimension">
    <xsd:attribute name="dimX" type="DT_PosFloat"/>
    <xsd:attribute name="dimY" type="DT_PosFloat"/>
    <xsd:attribute name="dimZ" type="DT_PosFloat"/>
  </xsd:complexType>
  
</xsd:schema>
