XML/CFS-Simulation/Schemas/CFS_PDEmagnetic.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for a magnetic PDE
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of element for magnetics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:element name="magnetic" type="DT_PDEMagnetic"
    substitutionGroup="PDEBasic">
    <xsd:unique name="CS_MagneticRegion">
      <xsd:selector xpath="cfs:region"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for magnetics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_PDEMagnetic">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- Regions the PDE lives on -->
          <xsd:element name="regionList" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:token" use="required"/>
                    <xsd:attribute name="nonLinId" type="xsd:token" 
                      use="optional" default=""/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- List defining nonlinear types -->
          <xsd:element name="nonLinList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="permeability" type="DT_MagneticNonLinPerm"/>
                <xsd:element name="hysteresis" type="DT_MagNonLinHyst"/>
                </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="dirichletHom"   type="DT_MagneticHD"/>
                <xsd:element name="dirichletInhom" type="DT_MagneticID"/>
                <xsd:element name="neumannInhom"   type="DT_MagneticIN"/>
                <xsd:element name="constraint"     type="DT_MagneticCS"   />
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- Section for specifying the coils (optional) -->
          <xsd:element name="coils" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="BasicCoil" minOccurs="1"
                  maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- Section for specifying permanent magnets (optional) -->
          <xsd:element name="magnets" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="magnet" type="DT_Magnet" minOccurs="1"
                  maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- Section for specifying non-linear parameters (optional) -->
          <xsd:element name="nonLinear" type="DT_NonLinParams" minOccurs="0"/>

          <!-- Desired solution values (optional) -->
          <xsd:element name="storeResults" type="DT_MagneticStoreResults"
            minOccurs="0" maxOccurs="1"/>
          
        </xsd:sequence>

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of permeability nonlienarity -->
  <!-- ******************************************************************* -->

  <!-- Definition of permeability nonlinearity type -->
  <xsd:complexType name="DT_MagneticNonLinPerm">
    <xsd:complexContent>
      <xsd:extension base="DT_NonLinBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of hysteresis nonlinearity -->
  <!-- ******************************************************************* -->

  <!-- Definition of hysteresis nonlinearity type -->
  <xsd:complexType name="DT_MagNonLinHyst">
    <xsd:complexContent>
      <xsd:extension base="DT_NonLinBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of the magnetic unknown types -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_MagneticUnknownType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="magPotential"/>
      <xsd:enumeration value="elecPotential"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of enumeration type describing the degrees of freedom  -->
  <!-- ******************************************************************* -->

  <xsd:simpleType name="DT_MagneticDOF">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="x"/>
      <xsd:enumeration value="y"/>
      <xsd:enumeration value="z"/>
      <xsd:enumeration value="phi"/>
      <xsd:enumeration value="r"/>
      <xsd:enumeration value=""/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of the boundary condition types for magnetics -->
  <!-- ******************************************************************* -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_MagneticHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="dof" type="DT_MagneticDOF" use="optional" default=""/>
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="nodeList"/>
        <xsd:attribute name="quantity" default="magPotential"
          type="DT_MagneticUnknownType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_MagneticID">
    <xsd:complexContent>
      <xsd:extension base="DT_MagneticHD">
        <xsd:attribute name="value" type="xsd:token" use="required"/>
        <xsd:attribute name="phase" type="xsd:token" 
          use="optional" default="0.0"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_MagneticIN">
    <xsd:complexContent>
      <xsd:extension base="DT_MagneticID"/>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- Element type for constraint condition -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_MagneticCS">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="nodeList"/>
        <xsd:attribute name="quantity" default="magPotential"
          type="DT_MagneticUnknownType"/>
        <xsd:attribute name="masterDof" type="xsd:token" use="optional"
          default=""/>
        <xsd:attribute name="slaveDof" type="xsd:token" use="optional"
          default=""/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for non-linearity in mechanic PDEs -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_MagneticNonLin">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="geo"/>
      <xsd:enumeration value="permeability"/>
      <xsd:enumeration value="conductivity"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************* -->

  <!-- Definition of nodal result types of magnetic PDE -->
  <xsd:simpleType name="DT_MagneticNodeResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="magPotential"/>
      <xsd:enumeration value="magRhsLoad"/>
      <xsd:enumeration value="elecPotential"/>
      <xsd:enumeration value="magForceVWP"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Definition of elem result types of magnetic PDE -->
  <xsd:simpleType name="DT_MagneticElemResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="magFluxDensity"/>
      <xsd:enumeration value="magHfield"/>
      <xsd:enumeration value="magEddyCurrent"/>
    </xsd:restriction>
  </xsd:simpleType>

 <!-- Definition of region result types of magnetic PDE -->
  <xsd:simpleType name="DT_MagneticRegionResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="magEnergy"/>
      <xsd:enumeration value="magEddyPower"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Global type for specifying desired electrostatic output quantities -->
  <xsd:complexType name="DT_MagneticStoreResults">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded">

        <!-- Nodal result definition -->
        <xsd:element name="nodeResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_NodeResult">
                <xsd:attribute name="type" type="DT_MagneticNodeResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        
        <!-- Element result definition -->
        <xsd:element name="elemResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_ElemResult">
                <xsd:attribute name="type" type="DT_MagneticElemResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- Region result definition -->
        <xsd:element name="regionResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_RegionResult">
                <xsd:attribute name="type" type="DT_MagneticRegionResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

      

      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying coils -->
  <!-- ******************************************************************* -->

  <!-- Data type for basic coil -->
  <xsd:complexType name="DT_BasicCoil">
    <xsd:sequence>
      <xsd:element name="windingCrossSection" type="DT_PosFloat"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:token" use="required"/>
  </xsd:complexType>

  <!-- Data type for 3D measurement coils -->
  <xsd:complexType name="DT_MeasurementCoil3D">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicCoil">
        <xsd:sequence>
          <xsd:element name="saveFileL"  type="xsd:token" minOccurs="0"
            default="none"/>
          <xsd:element name="saveFileU" type="xsd:token" minOccurs="0"
            default="none"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Data type for 2D measurement coils -->
  <xsd:complexType name="DT_MeasurementCoil2D">
    <xsd:complexContent>
      <xsd:extension base="DT_MeasurementCoil3D">
        <xsd:sequence>
          <xsd:element name="id"         type="xsd:positiveInteger"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Data type for 3D voltage coils -->
  <xsd:complexType name="DT_VoltageCoil3D">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicCoil">
        <xsd:sequence>
          <xsd:element name="value"      type="xsd:token"/>
          <xsd:element name="phase"      type="xsd:token" minOccurs="0"
            default="0"/>
          <xsd:element name="resistance" type="DT_PosFloat"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Data type for 2D voltage coils -->
  <xsd:complexType name="DT_VoltageCoil2D">
    <xsd:complexContent>
      <xsd:extension base="DT_VoltageCoil3D">
        <xsd:sequence>
          <xsd:element name="id"         type="xsd:positiveInteger"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Data type for 2D current coils -->
  <xsd:complexType name="DT_CurrentCoil2D">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicCoil">
        <xsd:sequence>
          <xsd:element name="value"      type="xsd:token"/>
          <xsd:element name="phase"      type="xsd:token" minOccurs="0"
            default="0"/>
          <xsd:element name="id"         type="xsd:positiveInteger"/>
          <xsd:element name="saveFileL"  type="xsd:token" minOccurs="0"
            default="none"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Data type for 3D current coils -->
  <xsd:complexType name="DT_CurrentCoil3D">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicCoil">
        <xsd:sequence>
          <xsd:element name="value"      type="xsd:token"/>
          <xsd:element name="phase"      type="xsd:token" minOccurs="0"
            default="0"/>
          <xsd:element name="flowDirection" type="DT_FlowDirection"/>
          <xsd:element name="saveFileL"  type="xsd:token" minOccurs="0"
            default="none"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element for specifying flow direction (directly) -->
  <xsd:complexType name="DT_FlowDirection">
      <xsd:sequence>
        <xsd:element name="direction" minOccurs="1" maxOccurs="3">
          <xsd:complexType> 
            <xsd:attribute name="dof" type="DT_MagneticDOF" use="required"/>
            <xsd:attribute name="value" type="xsd:float" use="required"/>
          </xsd:complexType>
        </xsd:element>
       </xsd:sequence>
       <xsd:attribute name="coordSysId" type="xsd:token"
          use="optional" default="default"/>
   </xsd:complexType>

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised elements in the coils list -->
  <xsd:element name="BasicCoil" type="xsd:anyType" abstract="true"/>

  <!-- Elements for specifying the different coils -->
  <xsd:element name="measurementCoil2d" type="DT_MeasurementCoil2D"
    substitutionGroup="BasicCoil"/>
  <xsd:element name="measurementCoil3d" type="DT_MeasurementCoil3D"
    substitutionGroup="BasicCoil"/>
  <xsd:element name="voltageCoil2d" type="DT_VoltageCoil2D"
    substitutionGroup="BasicCoil"/>
  <xsd:element name="voltageCoil3d" type="DT_VoltageCoil3D"
    substitutionGroup="BasicCoil"/>
  <xsd:element name="currentCoil2d" type="DT_CurrentCoil2D"
    substitutionGroup="BasicCoil"/>
  <xsd:element name="currentCoil3d" type="DT_CurrentCoil3D"
    substitutionGroup="BasicCoil"/>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for permanent magnets -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_Magnet">
    <xsd:attribute name="name"    type="xsd:token"/>
    <xsd:attribute name="orientX" type="xsd:float"/>
    <xsd:attribute name="orientY" type="xsd:float"/>
    <xsd:attribute name="orientZ" type="xsd:float"/>
  </xsd:complexType>

</xsd:schema>
