XML/CFS-Simulation/Schemas/CFS_PDEacousticXYZ.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for an acoustics PDE
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of element for acoustics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:element name="acousticXYZ" type="DT_PDEAcousticXYZ"
    substitutionGroup="PDEBasic">
    <xsd:unique name="CS_AcousticXYZRegion">
      <xsd:selector xpath="cfs:region"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for acoustics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_PDEAcousticXYZ">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- Regions the PDE lives on (including optional damping model) -->
          <xsd:element name="regionList" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:token" use="required"/>
                    <xsd:attribute name="dampingId" type="xsd:token" 
                      use="optional" default=""/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          
          <!-- List defining damping types -->
          <xsd:element name="dampingList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="pml" type="DT_AcousticXYZDampingPML"/>
                <xsd:element name="rayleigh" type="DT_AcousticXYZDampingRayl"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
          
          <!-- Time Stepping Formulation (optional)-->
          <xsd:element name="timeSteppingFormulation"
            type="DT_AcousticXYZTimeStep" minOccurs="0"
            default="effStiffMatrix"/>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="dirichletHom"   type="DT_AcousticXYZHD"  />
                <xsd:element name="dirichletInhom" type="DT_AcousticXYZID"  />
                <xsd:element name="neumannInhom"   type="DT_AcousticXYZIN"  />
                <xsd:element name="load"           type="DT_AcousticXYZLoad"      />
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- Desired solution values (optional) -->
          <!-- Currently this is not supported, since it is difficult
          to define in the acoustics case since it depends on the
          boundary conditions -->
          <xsd:element name="storeResults" type="DT_AcousticXYZStoreResults"
            minOccurs="0" maxOccurs="1"/>

        </xsd:sequence>

        <!-- Type of acoustic pde -->
        <xsd:attribute name="subType" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="flowNoise"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

   
  <!-- ******************************************************************* -->
  <!--   Definition of PML damping -->
  <!-- ******************************************************************* -->
  
  <!-- Definition of pml damping type -->
  <xsd:complexType name="DT_AcousticXYZDampingPML">
    <xsd:complexContent>
      <xsd:extension base="DT_DampingBasic">
        <xsd:sequence>

          <!-- Geometric definition of region -->
          <xsd:element name="propRegion" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="xMin" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="xMax" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="yMin" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="yMax" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="zMin" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="zMax" type="xsd:double" minOccurs="1" maxOccurs="1"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- Type of PML -->
          <xsd:element name="type" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="constant"   />
                <xsd:enumeration value="quadDist"     />
                <xsd:enumeration value="inverseDist"     />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>

          <!-- Damping factor -->
          <xsd:element name="dampFactor" type="xsd:double"
            minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
          
  <!-- ******************************************************************* -->
  <!--   Definition of rayleigh damping -->
  <!-- ******************************************************************* -->
  
  <!-- Definition of rayleigh damping type -->
  <xsd:complexType name="DT_AcousticXYZDampingRayl">
    <xsd:complexContent>
      <xsd:extension base="DT_DampingBasic">
     </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of the acousticXYZ unknown types -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticXYZUnknownType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressureXYZ"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************* -->
  <!--   Definition of enumeration type describing the degrees of freedom  -->
  <!-- ******************************************************************* -->

  <xsd:simpleType name="DT_AcousticXYZDOF">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="x"/>
      <xsd:enumeration value="y"/>
      <xsd:enumeration value="z"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of the boundary condition types for acoustics -->
  <!-- ******************************************************************* -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_AcousticXYZHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="nodeList"/>
        <xsd:attribute name="dof" type="DT_AcousticXYZDOF"
          use="required"/>
        <xsd:attribute name="quantity" default="acouPressureXYZ"
          type="DT_AcousticXYZUnknownType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_AcousticXYZID">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticXYZHD">
        <xsd:attribute name="value" type="xsd:double" use="required"/>
        <xsd:attribute name="phase" type="xsd:double" use="optional"
          default="0.0"/>
	<xsd:attribute name="fileName" type="xsd:token" use="optional"
          default="none"/>
	<xsd:attribute name="interpolType" type="xsd:token" use="optional"
          default="NNB"/>
	<xsd:attribute name="noNodes" type="xsd:token" use="optional"
          default="-1"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticXYZIN">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticXYZID"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying loads -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticXYZLoad">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticXYZID"/>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition for PML                                                -->
  <!-- ******************************************************************* -->

   <xsd:complexType name="DT_AcousticXYZPML">

  
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for damping model -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_AcousticXYZDamp">

    <!-- Type of damping -->
    <xsd:attribute name="type" use="optional" default="no">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="rayleigh"     />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for time stepping formulation -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticXYZTimeStep">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="effMassMatrix"/>
      <xsd:enumeration value="effStiffMatrix"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************* -->

  <!-- Definition of nodal result types of acousticXYZ PDE -->
  <xsd:simpleType name="DT_AcousticXYZNodeResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressureXYZ"/>
      <xsd:enumeration value="acouPressure"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Definition of element result types of acousticXYZ PDE -->
  <xsd:simpleType name="DT_AcousticXYZElemResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressure"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Global type for specifying desired electrostatic output quantities -->
  <xsd:complexType name="DT_AcousticXYZStoreResults">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded">
        
        <!-- Nodal result definition -->
        <xsd:element name="nodeResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_NodeResult">
                <xsd:attribute name="type" type="DT_AcousticXYZNodeResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        
        <!-- Element result definition -->
        <xsd:element name="elemResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_ElemResult">
                <xsd:attribute name="type" type="DT_AcousticXYZElemResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element> 

      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>
