XML/CFS-Simulation/Schemas/CFS_Domain.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description for domain section of parameter file
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************** -->
  <!-- Data type for general geometry specification -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_Geometry">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="type" use="optional" default="3d">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="plane"/>
              <xsd:enumeration value="axi"/>
              <xsd:enumeration value="3d"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!-- Data type for specification of a region in the mesh file -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_DomainRegion">
    <xsd:sequence>
      <xsd:element name="matRotation" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="alpha" type="xsd:double" use="optional"
            default="0.0"/>
          <xsd:attribute name="beta" type="xsd:double" use="optional"
            default="0.0"/>
          <xsd:attribute name="gamma" type="xsd:double" use="optional"
            default="0.0"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="material" type="xsd:token" use="optional" default=""/>
    <xsd:attribute name="composite" type="xsd:token" use="optional" default=""/>
    <xsd:attribute name="refCoordSys" type="xsd:token" use="optional" default=""/>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!-- Data type for specification of a surface region in the mesh -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_DomainSurface">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!-- Data type for specification of a non-conforming interface -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_DomainNCIface">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="masterSide" type="xsd:token" use="required"/>
    <xsd:attribute name="slaveSide" type="xsd:token" use="required"/>
    <xsd:attribute name="lagrangeMultType" type="xsd:token" use="optional"/>
    <xsd:attribute name="isecCalculation" type="xsd:token" use="optional"/>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!-- Data type for specifying of a set of special nodes in the mesh file -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_DomainNodes">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!-- Data type for specifying of a set of special elements in mesh file -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_DomainElems">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
  </xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!-- Data type for specifying a composite material, defined by several -->
  <!-- layers -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_DomainComposite">
    <xsd:sequence>
      <xsd:element name="startHeight" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <xsd:sequence>
        <xsd:element name="lamina" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="material" type="xsd:token"
            use="required"/>
            <xsd:attribute name="thickness" type="DT_NonNegFloat" use="required"/>
            <xsd:attribute name="orientation" type="xsd:double"   
              use="optional" default="0.0"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:token" use="required"/>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of basic CoordSys data type -->
  <!-- ******************************************************************** -->

  <!-- This is an abstract basic type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_CoordSysBasic" abstract="true">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of basic CoordSys element -->
  <!-- ******************************************************************** -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised CoordSys elements -->
  <xsd:element name="CoordSysBasic" type="DT_CoordSysBasic" abstract="true"/>
    
    
  <!-- ******************************************************************** -->
  <!--   Definition of element for cylindric coordinate system -->
  <!-- ******************************************************************** -->
  <xsd:element name="cylindric" type="DT_CoordSysCylindric"
    substitutionGroup="CoordSysBasic"/>
  

  <!-- ******************************************************************** -->
  <!--   Definition of data type for cylindric coordinate system -->
  <!-- ******************************************************************** -->

  <xsd:complexType name="DT_CoordSysCylindric">
    <xsd:complexContent>
      <xsd:extension base="DT_CoordSysBasic">
        <xsd:sequence>
          <xsd:element name="origin" type="DT_PointType"/>
          <xsd:element name="zAxis" type="DT_PointType"/>
          <xsd:element name="rAxis" type="DT_PointType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of element for polar coordinate system -->
  <!-- ******************************************************************** -->
  <xsd:element name="polar" type="DT_CoordSysPolar"
    substitutionGroup="CoordSysBasic"/>
  

  <!-- ******************************************************************** -->
  <!--   Definition of data type for polar coordinate system -->
  <!-- ******************************************************************** -->

  <xsd:complexType name="DT_CoordSysPolar">
    <xsd:complexContent>
      <xsd:extension base="DT_CoordSysBasic">
        <xsd:sequence>
          <xsd:element name="origin" type="DT_PointType2D"/>
          <xsd:element name="rAxis" type="DT_PointType2D"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Data type for domain section -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_Domain">
    <xsd:sequence>
      <!-- Region list -->
      <xsd:element name="regionList" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="region" type="DT_DomainRegion" minOccurs="1" 
              maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- Surface region list -->
      <xsd:element name="surfRegionList" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="surfRegion" type="DT_DomainSurface"
            minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- Non-conforming interface region list -->
      <!-- A non-conforming interface is defined by references to two
	   neighboring surface regions -->
      <xsd:element name="ncInterfaceList" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ncInterface" type="DT_DomainNCIface"
            minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Named elems list -->
      <xsd:element name="elemList" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="elems" type="DT_DomainElems" minOccurs="0"
              maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- Named nodes list -->
      <xsd:element name="nodeList" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nodes" type="DT_DomainNodes" minOccurs="0"
              maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- Composite material list -->
      <xsd:element name="composite" type="DT_DomainComposite" minOccurs="0"
        maxOccurs="unbounded"/>

      <!-- Coordinate system list -->
      <xsd:element name="coordSys" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="CoordSysBasic" minOccurs="1"
              maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Directivity nodes list -->
      <xsd:element name="directivityNodes" type="DT_DirectiNodes" minOccurs="0"
        maxOccurs="1"/>
    </xsd:sequence>

    <!-- Type of geometry used for the domain -->
    <xsd:attribute name="geometryType" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="plane"/>
          <xsd:enumeration value="axi"/>
          <xsd:enumeration value="3d"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!-- Data type for specif. a distance elem for saving directivity  nodes  -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_DirectiDistance">
    <xsd:attribute name="radius" type="xsd:double" use="required"/>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!-- Data type for specif. the center point for saving directivity nodes  -->
  <!-- ******************************************************************** -->
   <xsd:complexType name="DT_DirectiCenter">
    <xsd:attribute name="x" type="xsd:double" use="optional" default="0.0"/>
    <xsd:attribute name="y" type="xsd:double" use="optional" default="0.0"/>
    <xsd:attribute name="z" type="xsd:double" use="optional" default="0.0"/>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!-- Data type for specif. the planes for saving directivity nodes        -->
  <!-- ******************************************************************** -->
   <xsd:complexType name="DT_DirectiPlanes">
    <xsd:attribute name="xyName" type="xsd:string" use="optional" default="dir_XY"/>
    <xsd:attribute name="xyBegin" type="xsd:double"
    use="optional" default="0"/>
    <xsd:attribute name="xyEnd" type="xsd:double"
    use="optional" default="360"/>
    <xsd:attribute name="xzName" type="xsd:string" use="optional" default="dir_XZ"/>
    <xsd:attribute name="xzBegin" type="xsd:double"
    use="optional" default="0"/>
    <xsd:attribute name="xzEnd" type="xsd:double"
    use="optional" default="0"/>
    <xsd:attribute name="yzName" type="xsd:string" use="optional" default="dir_YZ"/> 
    <xsd:attribute name="yzBegin" type="xsd:double"
    use="optional" default="0"/>
    <xsd:attribute name="yzEnd" type="xsd:double"
    use="optional" default="0"/>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Data type for directivityNodes section -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_DirectiNodes">
    <xsd:sequence>
      <xsd:element name="coordSys" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="name" type="xsd:token" use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nodes" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name" type="xsd:token"
            use="required"/>
          <xsd:attribute name="distance" type="xsd:float"
            use="required"/>
          <xsd:attribute name="startAngle" type="xsd:float"
            use="optional" default="0"/>
          <xsd:attribute name="stopAngle" type="xsd:float"
            use="optional"   default="360"/>
          <xsd:attribute name="incAngle" type="xsd:float"
            use="optional" default="1"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
