XML/CFS-Simulation/Schemas/CFS_Analysis.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description for all things related to the type of analysis
    </xsd:documentation>
  </xsd:annotation>

  <!-- Data type for specifying type of analysis to be performed -->
  <xsd:complexType name="DT_Analysis">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="type" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="static"/>
              <xsd:enumeration value="harmonic"/>
              <xsd:enumeration value="transient"/>
              <xsd:enumeration value="eigenFrequency"/>
              <xsd:enumeration value="transientHarmonic"/>
              <xsd:enumeration value="paramIdent"/>
              <xsd:enumeration value="multiSequence"/>
              <xsd:enumeration value="bubbleDynamic"/>
              <xsd:enumeration value="transient4Slice"/>
              <xsd:enumeration value="multiHarmonic"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of basic Analysis type -->
  <!-- ******************************************************************* -->

  <!-- This is an abstract basic type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_AnalysisBasic" abstract="true"/>


  <!-- ******************************************************************* -->
  <!--   Definition of basic Analysis element -->
  <!-- ******************************************************************* -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised analysis elements -->

  <xsd:element name="AnalysisBasic" type="DT_AnalysisBasic" abstract="true"/> 


  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisTransient -->
  <!-- ******************************************************************* -->
  <xsd:element name="transient" type="DT_AnalysisTransient"
    substitutionGroup="AnalysisBasic"> 
  </xsd:element>

  <!-- Data type for transient section, i.e. parameters required for
       performing a transient analysis -->
  <xsd:complexType name="DT_AnalysisTransient">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="numSteps" type="xsd:nonNegativeInteger"/>
          <xsd:element name="firstDt" type="DT_PosFloat"/>
          <xsd:element name="stepSaveBeg" type="xsd:nonNegativeInteger"/>
          <xsd:element name="stepSaveEnd" type="xsd:nonNegativeInteger"/>
          <xsd:element name="stepSaveInc" type="xsd:nonNegativeInteger"/>
          <xsd:element name="timeDataFile" minOccurs="0"
            maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:restriction base="xsd:anyType">
                  <xsd:attribute name="name" type="xsd:string" use="optional"
                    default="none"/>
                </xsd:restriction>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="writeRestartInc"
          type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="tag" type="xsd:string" use="optional"
          default="anyTag"/> 
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisHarmonic -->
  <!-- ******************************************************************* -->
  <xsd:element name="harmonic" type="DT_AnalysisHarmonic"
    substitutionGroup="AnalysisBasic"/>

  <!-- Data type for harmonic section, i.e. parameters required for
       performing a harmonic analysis -->
  <xsd:complexType name="DT_AnalysisHarmonic">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="numFreq" type="xsd:nonNegativeInteger"/>
          <xsd:element name="startFreq" type="DT_PosFloat"/>
          <xsd:element name="stopFreq" type="DT_PosFloat"/>
          <xsd:element name="sampling" minOccurs="0" maxOccurs="1"
            default="linear">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="linear"/>
                <xsd:enumeration value="log"/>
                <xsd:enumeration value="reverseLog"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="adjustDamping" type="DT_CFSBool" minOccurs="0"
	                     maxOccurs="1" default="no"/>
          <xsd:element name="matDataFreq" type="DT_PosFloat" minOccurs="0"
	                     maxOccurs="1"/>
          <xsd:element name="freqDataFile" minOccurs="0"
            maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:restriction base="xsd:anyType">
                  <xsd:attribute name="name" type="xsd:string" use="optional"
                    default="none"/>
                </xsd:restriction>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="tag"  type="xsd:string" use="optional"
          default="anyTag"/> 
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> 
  
  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisMultiHarmonic -->
  <!-- ******************************************************************* -->
  <xsd:element name="eigenFrequency" type="DT_AnalysisEigenFrequency"
    substitutionGroup="AnalysisBasic"/>

  <!-- Data type for performing an eigenfrequency analysis -->
  <xsd:complexType name="DT_AnalysisEigenFrequency">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="isQuadratic" type="DT_CFSBool"/>
          <xsd:element name="numModes" type="xsd:nonNegativeInteger"/>
          <xsd:element name="freqShift" type="DT_NonNegFloat"/>
          <xsd:element name="writeModes" type="DT_CFSBool"/>
        </xsd:sequence>
        <xsd:attribute name="tag"  type="xsd:string" use="optional"
          default="anyTag"/> 
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> 


  <!-- ******************************************************************* -->
  <!--   Definition of element paramIdent -->
  <!-- ******************************************************************* -->
  <xsd:element name="paramIdent" type="DT_AnalysisParamIdent"
    substitutionGroup="AnalysisBasic"/>

  <!-- Data type for parameter Identification and simple computations of
       impedance curves -->
  <xsd:complexType name="DT_AnalysisParamIdent">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="calcImpedanceCurve" type="DT_CFSBool"
            minOccurs="0" maxOccurs="1" default="no"/>
          <xsd:element name="calcMechDisplCurve" type="DT_CFSBool"
            minOccurs="0" maxOccurs="1" default="no"/>
          <xsd:element name="mechDisplAtNode" type="xsd:nonNegativeInteger"/>
          <xsd:element name="dofOfMechDispl" type="xsd:nonNegativeInteger"/>
          <xsd:element name="numFreq" type="xsd:nonNegativeInteger"/>
          <xsd:element name="startFreq" type="DT_PosFloat"/>
          <xsd:element name="stopFreq" type="DT_PosFloat"/>
          <xsd:element name="maxNrInnerIterations"
            type="xsd:nonNegativeInteger"/>
          <xsd:element name="maxNrOuterIterations"
            type="xsd:nonNegativeInteger"/>
          <xsd:element name="artDataNoise" type="DT_NonNegFloat"/>
        </xsd:sequence>
        <xsd:attribute name="tag"  type="xsd:string" use="optional"
          default="anyTag"/> 
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> 

  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisMultiHarmonic -->
  <!-- ******************************************************************* -->
  <xsd:element name="multiHarmonic" type="DT_AnalysisMultiHarmonic"
    substitutionGroup="AnalysisBasic"/>

  <!-- Data type for harmonic section, i.e. parameters required for
       performing a harmonic analysis -->
  <xsd:complexType name="DT_AnalysisMultiHarmonic">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="numFreq" type="xsd:nonNegativeInteger"/>
          <xsd:element name="startFreq" type="DT_PosFloat"/>
          <xsd:element name="stopFreq" type="DT_PosFloat"/>
          <xsd:element name="nrMultiHarmonics" type="xsd:nonNegativeInteger"/>
        </xsd:sequence>
        <xsd:attribute name="tag"  type="xsd:string" use="optional"
          default="anyTag"/> 
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> 

  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisMultiSequence -->
  <!-- ******************************************************************* -->
  <xsd:element name="multiSequence" type="DT_AnalysisMultiSequence"
    substitutionGroup="AnalysisBasic"/> 

  <xsd:complexType name="DT_AnalysisMultiSequence">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="step" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="pde" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="refTag" type="xsd:token"
                      use="required"/>
                    <xsd:attribute name="type" type="DT_PDEType"
                      use="required"/>
                    <xsd:attribute name="analysis" use="required">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                          <xsd:enumeration value="static"/>
                          <xsd:enumeration value="harmonic"/>
                          <xsd:enumeration value="transient"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:attribute>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
              <xsd:attribute name="index" type="xsd:positiveInteger"
              use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Data type for inverse Problem of parameter identification in
       piezoelectric systems, i.e. parameters required for  performing a
       piezoParamIdent analysis -->
  <!--<xsd:simpleType name="DT_PiezoParamIdent"/>-->

  <!-- ******************************************************************* -->
  <!--   Definition of data type for global non-linear parameters -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_NonLinSolver">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="newton"/>
      <xsd:enumeration value="fixPoint"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DT_LineSearch">
    <xsd:attribute name="type" use="optional" default="none">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="none"/>
          <xsd:enumeration value="minEnergy"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="DT_NonLinParams">
    <xsd:sequence>
      <xsd:element name="lineSearch"  type="DT_LineSearch"/>
      <xsd:element name="incStopCrit" type="DT_PosFloat"/>
      <xsd:element name="resStopCrit" type="DT_PosFloat"/>
      <xsd:element name="maxNumIters" type="xsd:positiveInteger"/>
    </xsd:sequence>
    <xsd:attribute name="method" type="DT_NonLinSolver" use="optional"
      default="fixPoint"/>
    <xsd:attribute name="logging" type="DT_CFSBool" use="optional"
      default="no"/>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of element bubbleDriver -->
  <!-- ******************************************************************* -->
  <xsd:element name="bubbleDriver" type="DT_AnalysisBubbleDriver"
    substitutionGroup="AnalysisBasic"/>

  <!-- Data type for bubbleDriver section, i.e. parameters required for
       performing a bubbleDriver analysis -->
  <xsd:complexType name="DT_AnalysisBubbleDriver">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="bubbleType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="Gilmore"/>
                <xsd:enumeration value="KellerMiksis"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="pressure" type="xsd:float"/>
          <xsd:element name="frequency" type="DT_NonNegFloat"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisTransient for slice Technique       -->
  <!-- ******************************************************************* -->
  <xsd:element name="transient4Slice" type="DT_AnalysisTransientSlice"
    substitutionGroup="AnalysisBasic"> 
  </xsd:element>

  <!-- Data type for transient section, i.e. parameters required for
       performing a transient analysis with slicing technique -->
  <xsd:complexType name="DT_AnalysisTransientSlice">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="numSteps" type="xsd:nonNegativeInteger"/>
          <xsd:element name="firstDt" type="DT_PosFloat"/>
          <xsd:element name="stepSaveBeg" type="xsd:nonNegativeInteger"/>
          <xsd:element name="stepSaveEnd" type="xsd:nonNegativeInteger"/>
          <xsd:element name="stepSaveInc" type="xsd:nonNegativeInteger"/>
          <xsd:element name="timeDataFile" minOccurs="0"
            maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:restriction base="xsd:anyType">
                  <xsd:attribute name="name" type="xsd:string" use="optional"
                    default="none"/>
                </xsd:restriction>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="tag"  type="xsd:string" use="optional"
          default="anyTag"/> 
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisTransientHarmonic -->
  <!-- ******************************************************************* -->
  <xsd:element name="transientHarmonic" type="DT_AnalysisTransientHarmonic"
    substitutionGroup="AnalysisBasic"> 
  </xsd:element>

  <!-- Data type for transientHarmonic section, i.e. parameters required for
       performing a transientHarmonic analysis -->
  <xsd:complexType name="DT_AnalysisTransientHarmonic">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>       
          <xsd:element name="analysisPart" minOccurs="2" maxOccurs="unbounded">
            <xsd:complexType>  
              <xsd:attribute name="type" use="required">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="harmonic"/>
                    <xsd:enumeration value="transient"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:attribute>
              <xsd:attribute name="pdeName" type="xsd:token" use="required"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> 

</xsd:schema>
