XML/CFS-Simulation/Schemas/CFS_FileFormats.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description for variaous IO format and file definitions
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************** -->
  <!--   Definition file formats element data type -->
  <!-- ******************************************************************** -->
  
  <!-- Data type for defining the input, output and material formats -->
  <xsd:complexType name="DT_FileFormats">
    <xsd:sequence>
      <xsd:element name="input"  type="DT_InputList" minOccurs="0"
      maxOccurs="1"/>
      <xsd:element name="output" type="DT_OutputList" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="materialData" type="DT_MatFile" minOccurs="1"
      maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of basic data input type -->
  <!-- ******************************************************************** -->

  <!-- This is an abstract basic input type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_InputBasic" abstract="true"/>


  <!-- ******************************************************************** -->
  <!--   Definition of basic data input element -->
  <!-- ******************************************************************** -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised Input elements -->
  <xsd:element name="InputBasic" type="DT_InputBasic" abstract="true"/>


 <!-- Data type for specification of output file format -->
  <xsd:complexType name="DT_InputList">
    <xsd:sequence>
      <xsd:element ref="InputBasic" minOccurs="0"
        maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of element MESH input -->
  <!-- ******************************************************************** -->
  <xsd:element name="mesh" type="DT_InputMesh"
    substitutionGroup="InputBasic"/> 
  
  <!-- ******************************************************************** -->
  <!--   Definition of MESH data input type -->
  <!-- ******************************************************************** -->

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputMesh">
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of element gmv input -->
  <!-- ******************************************************************** -->
  <xsd:element name="gmvIn" type="DT_InputGMV"
    substitutionGroup="InputBasic"/> 

 <!-- ******************************************************************** -->
  <!--   Definition of GMV  data input type -->
  <!-- ******************************************************************** -->

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputGMV">
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of element HDF5 input -->
  <!-- ******************************************************************** -->
  <xsd:element name="hdf5" type="DT_InputHDF5"
    substitutionGroup="InputBasic"/> 

 <!-- ******************************************************************** -->
  <!--   Definition of HDF5 data input type -->
  <!-- ******************************************************************** -->

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputHDF5">
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of basic data output type -->
  <!-- ******************************************************************** -->

  <!-- This is an abstract basic type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_OutputBasic" abstract="true"/>


  <!-- ******************************************************************** -->
  <!--   Definition of basic data output element -->
  <!-- ******************************************************************** -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised PDE elements -->
  <xsd:element name="OutputBasic" type="DT_OutputBasic" abstract="true"/>


 <!-- Data type for specification of output file format -->
  <xsd:complexType name="DT_OutputList">
    <xsd:sequence>
      <xsd:element ref="OutputBasic" minOccurs="0"
        maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  
  <!-- ******************************************************************** -->
  <!--   Definition of element GMV output -->
  <!-- ******************************************************************** -->
  <xsd:element name="gmv" type="DT_OutputGMV"
    substitutionGroup="OutputBasic"/> 


  <!-- ******************************************************************** -->
  <!--   Definition of data type for GMV output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputGMV">
    <xsd:complexContent>
      <xsd:extension base="DT_OutputBasic">
        <xsd:attribute name="fixedGrid" type="DT_CFSBool" default="yes"/>
        <xsd:attribute name="binaryFormat" type="DT_CFSBool" default="no"/>
        <xsd:attribute name="id" type="xsd:token" default="default"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of element UNV output -->
  <!-- ******************************************************************** -->
  <xsd:element name="unv" type="DT_OutputUNV"
    substitutionGroup="OutputBasic"/>
  
  
  
  <!-- ******************************************************************** -->
  <!--   Definition of data type for UNV output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputUNV">
    <xsd:complexContent>
      <xsd:extension base="DT_OutputBasic">
        <xsd:attribute name="id" type="xsd:token" default="default"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of element GSI output -->
  <!-- ******************************************************************** -->
  <xsd:element name="gsi" type="DT_OutputGSI"
    substitutionGroup="OutputBasic"/>


  <!-- ******************************************************************** -->
  <!--   Definition of data type for GSI output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputGSI">
    <xsd:complexContent>
      <xsd:extension base="DT_OutputBasic">
        <xsd:attribute name="binaryFormat" type="DT_CFSBool" default="yes"/>
        <xsd:attribute name="id" type="xsd:token" default="default"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of element GiD output -->
  <!-- ******************************************************************** -->
  <xsd:element name="gid" type="DT_OutputGiD"
    substitutionGroup="OutputBasic"/>


  <!-- ******************************************************************** -->
  <!--   Definition of data type for GiD output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputGiD">
    <xsd:complexContent>
      <xsd:extension base="DT_OutputBasic">
        <xsd:attribute name="binaryFormat" type="DT_CFSBool" default="no"/>
        <xsd:attribute name="id" type="xsd:token" default="default"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of element text output -->
  <!-- ******************************************************************** -->
  <xsd:element name="text" type="DT_OutputText"
    substitutionGroup="OutputBasic"/>


  <!-- ******************************************************************** -->
  <!--   Definition of data type for GiD output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputText">
    <xsd:complexContent>
      <xsd:extension base="DT_OutputBasic">
        <xsd:attribute name="id" type="xsd:token" default="histDefault"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  
  <!-- Data type for name of file containing material data -->
  <xsd:complexType name="DT_MatFile">
    <xsd:attribute name="file" type="xsd:string" use="optional"
      default="mat.dat"/>
    <xsd:attribute name="format" use="optional" default="dat">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="dat"/>
          <xsd:enumeration value="xml"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:token" default="histDefault"/>
  </xsd:complexType>
  



</xsd:schema>

