share/xml/CFS-Dat/CFS_Dat.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org" xmlns:cfs="http://www.cfs++.org" elementFormDefault="qualified">


  <xsd:annotation>
    <xsd:documentation xml:lang="en"> Parameter file schema for the Coupled Field Data processing
      project CFS-Dat </xsd:documentation>
  </xsd:annotation>


  <xsd:include schemaLocation="../CFS-Simulation/Schemas/CFS_Misc.xsd"/>
	<xsd:include schemaLocation="../CFS-Simulation/Schemas/CFS_FileFormats.xsd" />
  <xsd:include schemaLocation="../CFS-Simulation/Schemas/CFS_PDEbasic.xsd" />
  <xsd:include schemaLocation="../CFS-Simulation/Schemas/CFS_Documentation.xsd"/>
  
	<!-- ******************************************************************* -->
	<!--   Definition of enclosing main element -->
	<!-- ******************************************************************* -->
  
  <xsd:complexType name="DT_BaseFilter">
    <xsd:attribute name="id" use="required" type="xsd:token">
      <xsd:annotation>
        <xsd:documentation> Human readable id for the current filter. Can be any string but must be
          unique within the document. For outputfilters, this id will be used for the result file
          name. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="inputFilterIds" use="optional" type="xsd:token" default="none">
      <xsd:annotation>
        <xsd:documentation> Space separated Ids for the input filter. Creates a connection between
          the filter with the given id and the current filter. Will be ignored for input filters.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="DT_GridType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="fullGrid">
        <xsd:annotation>
          <xsd:documentation> Will generate a full scale CFS grid which can be used for mesh result
            export. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="simpleGrid">
        <xsd:annotation>
          <xsd:documentation> Will generate a full scale CFS grid which can be used for mesh result
            export.But no additional element information thus reducing memory consumption at the
            cost of less flexibility. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <!--xsd:enumeration value="justCentroids">
        <xsd:annotation>
          <xsd:documentation>
            Just reads cell centroids, cell volumes and element results. Diregards connectivity etc. thus reducing the required memory.
            Those grids can not be exported on output filters.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="justNodes">
        <xsd:annotation>
          <xsd:documentation>
            Just read nodes and their coordinates from the input and features nodal results defined on 
            the input mesh. Not valid for export except e.g. for csv point cloud export.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DT_DatMeshInput">
    <xsd:complexContent mixed="true">
      <xsd:extension base="DT_BaseFilter">
        <xsd:sequence>
          <xsd:element name="inputFile">
            <xsd:complexType>
              <xsd:choice>
                <xsd:group ref="InputGroup" minOccurs="1" maxOccurs="1"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="gridType" type="DT_GridType" default="fullGrid"/>
        <xsd:attribute name="printResultInfo" type="DT_CFSBool" default="no"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="DT_DefOn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="nodes"/>
      <xsd:enumeration value="elements"/>
      <xsd:enumeration value="regions"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DT_ResultDef">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:choice minOccurs="1" maxOccurs="1">
          <xsd:element name="regionList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence>
                    <xsd:element name="region" type="DT_SingleRegionResultDescr" minOccurs="1"
                      maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="allRegions" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_AllRegionResultDescr">
                  <xsd:attribute name="onlyVolumes" type="DT_CFSBool" default="no"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <!--xsd:attribute name="defOn" type="DT_DefOn" use="required"/-->
        <xsd:attribute name="resultName" type="xsd:string" use="required"/>
        <xsd:attribute name="saveBegin" type="xsd:token" default="0"/>
        <xsd:attribute name="saveEnd" type="xsd:token" default="2147483647"/>
        <xsd:attribute name="saveInc" type="xsd:token" default="1"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DT_DatMeshOutput">
    <xsd:complexContent mixed="true">
      <xsd:extension base="DT_BaseFilter">
        <xsd:sequence>
          <xsd:element name="outputFile">
            <xsd:complexType>
              <xsd:choice>
                <xsd:group ref="OutputGroup" minOccurs="1" maxOccurs="1"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="saveResults">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="result" type="DT_ResultDef" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DT_TDeriv1">
    <xsd:complexContent mixed="true">
      <xsd:extension base="DT_BaseFilter">
        <xsd:choice>
          <xsd:element name="singleResult">
            <xsd:annotation>
              <xsd:documentation> Computes time derivatives a single defined result.
                Must not be a CFS type variable.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="inputQuantity">
                  <xsd:complexType>
                    <xsd:attribute name="resultName" type="xsd:token" use="required"/>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="outputQuantity">
                  <xsd:complexType>
                    <xsd:attribute name="resultName" type="xsd:token" use="required"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="allResults">
            <xsd:annotation>
              <xsd:documentation> It is tried to compute time derivatives for all requested resutls.
                Make sure to use CFS compilant result names. In addition not all derivative
                reslations (baseName->D1Name->D2Name) are yet supported. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DT_BinOpFilt">
    <xsd:complexContent mixed="true">
      <xsd:extension base="DT_BaseFilter">
        <xsd:all>
          <xsd:element name="quantity1" maxOccurs="1" minOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="resultName" type="xsd:token" use="required"/>
          </xsd:complexType>
          </xsd:element>
          <xsd:element name="quantity2" maxOccurs="1" minOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="resultName" type="xsd:token" use="required"/>
          </xsd:complexType>
          </xsd:element>
          <xsd:element name="output" maxOccurs="1" minOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="resultName" type="xsd:token" use="required"/>
          </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name="opType" use="required">
          <xsd:simpleType>
            <xsd:restriction  base="xsd:string">
              <xsd:enumeration value="plus"/>
              <xsd:enumeration value="minus"/>
              <xsd:enumeration value="div"/>
              <xsd:enumeration value="mult"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="DT_SimpleQuantity">
    <xsd:attribute name="resultName" type="xsd:token"/>
  </xsd:complexType>

  <xsd:complexType name="DT_SimplePoint">
    <xsd:attribute name="x" type="xsd:double"/>
    <xsd:attribute name="y" type="xsd:double"/>
    <xsd:attribute name="z" type="xsd:double"/>
  </xsd:complexType>

  <xsd:complexType name="DT_RotDomain">
    <xsd:choice>
      <xsd:element name="region">
        <xsd:complexType>
          <xsd:attribute name="regionName"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cylinder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="p1" type="DT_SimplePoint" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="p2" type="DT_SimplePoint" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="radius" minOccurs="1" maxOccurs="1">
              <xsd:complexType>
                <xsd:attribute name="value" type="xsd:double"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="rpm" type="xsd:double"/>
  </xsd:complexType>


  <xsd:complexType name="DT_RotSTDeriv">
    <xsd:complexContent mixed="true">
      <xsd:extension base="DT_BaseFilter">
        <xsd:sequence>
          <xsd:element name="pressure" type="DT_SimpleQuantity" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="presGrad" type="DT_SimpleQuantity" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="outputQuantity" type="DT_SimpleQuantity" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="rotatingDomain" type="DT_RotDomain" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:simpleType name="DT_InterpolationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Conservative_CellCentroid"/>
      <xsd:enumeration value="Conservative_CutCell"/>
      <xsd:enumeration value="Cell2Node"/>
      <xsd:enumeration value="NearestNeighbour"/>
      <xsd:enumeration value="RBF"/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:complexType name="DT_NNScheme">
    <xsd:choice>
      <!--xsd:element name="CGAL" default="1"/>
      <xsd:element name="FLANN" default="2"/-->
    </xsd:choice>
    <xsd:attribute name="searchAlgorithm" type="xsd:string" use="optional"  default="CGAL"/>
    <xsd:attribute name="interpolationExponent" type="xsd:integer" default="2" use="optional"/>
    <xsd:attribute name="searchRadius" type="xsd:double" default="5" use="optional"/>
    <xsd:attribute name="numNeighbours" type="xsd:integer" default="20" use="optional"/>
  </xsd:complexType>



  <xsd:complexType name="DT_Interpolation">
    <xsd:complexContent mixed="true">
      <xsd:extension base="DT_BaseFilter">
        <xsd:sequence>
          <xsd:element name="scheme" type="DT_NNScheme" minOccurs="0">
          </xsd:element>
          <xsd:element name="targetMesh">
            <xsd:complexType>
              <xsd:choice>
                <xsd:group ref="InputGroup" minOccurs="1" maxOccurs="1"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="singleResult">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="inputQuantity">
                  <xsd:complexType>
                    <xsd:attribute name="resultName" type="xsd:token" use="required"/>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="outputQuantity">
                  <xsd:complexType>
                    <xsd:attribute name="resultName" type="xsd:token" use="required"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="regions" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="sourceRegions">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:attribute name="name"/>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="targetRegions">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:attribute name="name"/>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" use="required" type="DT_InterpolationType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


 <xsd:simpleType name="DT_DerivativeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GradientDifferentiator"/>
      <xsd:enumeration value="DivergenceDifferentiator"/>
      <xsd:enumeration value="RotorDifferentiator"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DT_Differentiation">
    <xsd:complexContent mixed="true">
      <xsd:extension base="DT_BaseFilter">
        <xsd:sequence>
          <xsd:element name="scheme" type="DT_NNScheme" minOccurs="0">
          </xsd:element>
          <xsd:element name="targetMesh">
            <xsd:complexType>
              <xsd:choice>
                <xsd:group ref="InputGroup" minOccurs="1" maxOccurs="1"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="singleResult">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="inputQuantity">
                  <xsd:complexType>
                    <xsd:attribute name="resultName" type="xsd:token" use="required"/>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="outputQuantity">
                  <xsd:complexType>
                    <xsd:attribute name="resultName" type="xsd:token" use="required"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="regions" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="sourceRegions">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:attribute name="name"/>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="targetRegions">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:attribute name="name"/>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" use="required" type="DT_DerivativeType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:group name="FilterGroup">
    <xsd:choice>
      <xsd:element name="meshInput" type="DT_DatMeshInput"/>
      <xsd:element name="meshOutput" type="DT_DatMeshOutput"/>
      <xsd:element name="timeDeriv1" type="DT_TDeriv1"/>
      <xsd:element name="substantialDeriv" type="DT_RotSTDeriv"/>
      <xsd:element name="interpolation" type="DT_Interpolation"/>
      <xsd:element name="differentiation" type="DT_Differentiation"/>
      <xsd:element name="binaryOperation"         type="DT_BinOpFilt">
        <xsd:annotation>
          <xsd:documentation>
            This filter combines two given results according to the specified operation.
            opType may be plus,minus,mult,div
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>

  <xsd:complexType name="DT_FilterList">
    <xsd:sequence>
      <xsd:element name="stepValueDefinition">
        <xsd:complexType>
          <xsd:choice>
            <!--xsd:element name="fromInputResult">
              <xsd:complexType>
                <xsd:attribute name="filterId" type="xsd:token" use="required"/>
                <xsd:attribute name="resultName" type="xsd:token" use="required"/>
              </xsd:complexType>
            </xsd:element-->
            <xsd:element name="dynamic"/>
            <xsd:element name="startStop">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="startStep">
                    <xsd:complexType>
                      <xsd:attribute name="value" type="xsd:int" use="required"/>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="numSteps">
                    <xsd:complexType>
                      <xsd:attribute name="value" type="xsd:int" use="required"/>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="delta">
                    <xsd:complexType>
                      <xsd:attribute name="value" type="xsd:double" use="required"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>

      <xsd:group ref="FilterGroup" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="cfsdat">
    <xsd:complexType>
      <xsd:sequence>
			  <!-- Tags for documenting simulations (required just for test suite)-->
        <xsd:element name="documentation" type="DT_Documentation" minOccurs="0"/>
        <!-- File format list for io-specifications (required)-->
        <xsd:element name="pipeline" type="DT_FilterList" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
