share/xml/CFS-Material/Schemas/CFS_MAThysteresis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:include schemaLocation="CFS_Misc.xsd"/>
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for all kind of hysteresis stuff
    </xsd:documentation>
  </xsd:annotation>
  
  <!-- ******************************************************************* -->
  <!--   Definition of hysterese model                                     -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_HystModel">
    <xsd:choice>
      <xsd:element name="scalarPreisach" type="DT_ScalarPreisachHystModel"/>
      <xsd:element name="vectorPreisach_Sutor" type="DT_VectorPreisachHystModelSutor"/>
      <xsd:element name="vectorPreisach_Mayergoyz" type="DT_VectorPreisachHystModelMayergoyz"/>
    </xsd:choice>
  </xsd:complexType>
    
    <xsd:complexType name="DT_SmallSignalForm">
    <xsd:choice>
      <xsd:element name="uncoupled"/>
      <xsd:element name="piezo_eform"/>
      <xsd:element name="piezo_dform"/>
      <xsd:element name="magstrict_hform"/>
      <xsd:element name="magstrict_gform"/>
    </xsd:choice>
  </xsd:complexType>  
    
  <xsd:complexType name="DT_MuDATParams">
    <xsd:sequence>
      <xsd:element name="A" type="xsd:double" minOccurs="1"/>
      <xsd:element name="h" type="xsd:double" minOccurs="1"/>
      <xsd:element name="sigma" type="xsd:double" minOccurs="1"/>
      <xsd:element name="eta" type="xsd:double" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
   <xsd:complexType name="DT_MuDATExtendedParams">
    <xsd:sequence>
      <xsd:element name="A" type="xsd:double" minOccurs="1"/>
      <xsd:element name="h1" type="xsd:double" minOccurs="1"/>
      <xsd:element name="h2" type="xsd:double" minOccurs="1"/>
      <xsd:element name="sigma1" type="xsd:double" minOccurs="1"/>
      <xsd:element name="sigma2" type="xsd:double" minOccurs="1"/>
      <xsd:element name="eta" type="xsd:double" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
   <xsd:complexType name="DT_AnhystereticParams">
     <xsd:sequence>
       <xsd:element name="a" type="xsd:double" minOccurs="0" default="0"/>
       <xsd:element name="b" type="xsd:double" minOccurs="0" default="0"/>
       <xsd:element name="c" type="xsd:double" minOccurs="0" default="0"/>
       <xsd:element name="onlyAnhyst" type="xsd:boolean" minOccurs="0" default="false"/>
     </xsd:sequence>
  </xsd:complexType>  
    
  <xsd:complexType name="DT_HystWeights">
    <xsd:sequence>
      <xsd:element name="dim_weights"  type="xsd:nonNegativeInteger" minOccurs="1"/>
      <xsd:choice>
          <xsd:element name="const" type="xsd:double" default="0.5"/>
          <xsd:element name="muDat" type="DT_MuDATParams" />
          <xsd:element name="muDatExtended" type="DT_MuDATExtendedParams" />
          <xsd:element name="weightTensor">
            <xsd:simpleType>
              <xsd:restriction base="DT_DoubleList">
                <xsd:maxLength value="100000000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>   
    
  <xsd:complexType name="DT_HystVecLevenbergMarquardt">
    <xsd:sequence>
      <xsd:element name="maxNumberIterations" type="xsd:nonNegativeInteger" minOccurs="0" default="35"/>
      <xsd:element name="residualTolH" type="xsd:double" minOccurs="0" default="1e-12"/>
      <xsd:element name="residualTolB" type="xsd:double" minOccurs="0" default="1e-12"/>
      <xsd:element name="jacobiResolution" type="xsd:double" minOccurs="0" default="1e-12"/>
      <xsd:element name="useTikhonov" type="xsd:boolean" minOccurs="0" default="false"/>
      <xsd:element name="alphaRegStart" type="xsd:double" minOccurs="0" default="0.25"/>
      <xsd:element name="alphaRegMin" type="xsd:double" minOccurs="0" default="0.001953125"/>
      <xsd:element name="alphaRegMax" type="xsd:double" minOccurs="0" default="8192.0"/>
    </xsd:sequence>
  </xsd:complexType>  
    
    <xsd:complexType name="DT_initialInOutState">
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Define initial state of hyst operator
            (A): input > given vector will be fed into forward hyst operator
            (B): output > given vector will be fed into inversion method for hyst operator;
                          this means, that the actual output of the hyst operator will be
                          equal to the given vector MINUS reversible and anhysteretic parts   
          </xsd:documentation>
        </xsd:annotation>
      <xsd:element name="Vector">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:minLength value="3"/> 
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="scaleVectorBySaturation" type="xsd:boolean" minOccurs="0" default="true"/>
      </xsd:sequence>
    </xsd:complexType> 
    
 <!-- <xsd:complexType name="DT_ScalPreisachExtension">
    <xsd:sequence>
      <xsd:element name="useExtension" type="xsd:boolean" minOccurs="0" default="false"/>
      <xsd:element name="rotResistance"  type="xsd:double" minOccurs="0" default="1"/>
      <xsd:element name="angularDistance" type="xsd:double" minOccurs="0" default="0"/>
    </xsd:sequence>
  </xsd:complexType> -->
    
  <xsd:complexType name="DT_ScalarPreisachHystModel">
 <!--  <xsd:documentation xml:lang="en">
    Scalar Preisach model in magnetics is defined by
     i) hSat / jSat = Saturation values for H-Field and Polarization Jp = mu_0*M (with M = magnetization)
     ii) dirJ       = direction of Jp = direction of M
     iii) a set of Preisach weights (the number of rows has to be specified by parameter dim_weights)
    
     For the magnetostrictive case
     -) strainForm > if set to 1, the magnetostrictive g-form will be assumed as basis
                    > if set to 0, the magnetostrictive h-form will be assumed as basis (DEFAULT)
      Note that in both cases, [c^B], [h] and [nu^S] are provided as small signal parameter.
      In case of g-form, those will be transformed to the [s^B], [g] and [nu^T] at the beginning of the simulation
        and then during each iteration transformed back to [c^B], [h] and [nu^S].
      Idea behind g-form: as [h]/[g] depends on Jp/M, [nu^S] = [nu^T] + [g][c^B][g]^t will do in case that
                           [nu^T] is taken as basis
    -) betaCoef > the irreversible strains are computed via a polynomial sum of the
               the polarization, i.e.
               S^i = beta_0 + beta_1*J + beta_2*J^2 + beta_3*J^3 ... beta_n*J^n
            > specify vector of n+1 doubles representing beta_n to beta_0 (from left to right)
            > length of vector defined by dimCoefs 
   </xsd:documentation>-->
    <xsd:sequence>
      <xsd:element name="inputSat" type="xsd:double"/>
      <xsd:element name="outputSat" type="xsd:double"/>
      <xsd:element name="dirPolarization" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
          <xsd:minLength value="3"/> 
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <!--<xsd:element name="dirJ" type="DT_Direction"/>-->
      <!--<xsd:element name="pseudoVectorExtension" type="DT_ScalPreisachExtension" minOccurs="0"/>-->
      <xsd:element name="weights" type="DT_HystWeights" minOccurs="1"/>
      <xsd:element name="anhystereticParameter" type="DT_AnhystereticParams" minOccurs="0"/>
      <xsd:element name="initialState" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="initialOutput" type="DT_initialInOutState">
            </xsd:element> 
            <xsd:element name="initialInput" type="DT_initialInOutState">
            </xsd:element> 
          </xsd:choice>
        </xsd:complexType>
      </xsd:element> 
      <xsd:element name="smallSignalForm" type="DT_SmallSignalForm" minOccurs="0"/>
      <xsd:element name="strainSat" type="xsd:double" minOccurs="0"/>
      <xsd:element name="dim_betaCoefs" type="xsd:nonNegativeInteger" minOccurs="0" default="1"/>
      <xsd:element name="betaCoefs" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
          <xsd:minLength value="1"/> 
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
  </xsd:complexType>
    
  <xsd:complexType name="DT_VectorPreisachHystModelMayergoyz_Base">
    <xsd:sequence>
    <xsd:element name="inputSat" type="xsd:double"/>
    <xsd:element name="outputSat" type="xsd:double"/>
    <xsd:element name="weights" type="DT_HystWeights" minOccurs="1"/>
    <xsd:element name="weightsAdaptedToMayergoyzVectorModel" type="xsd:boolean" minOccurs="0" default="false"/>
    <xsd:element name="anhystereticParameter" type="DT_AnhystereticParams" minOccurs="0"/>
    <xsd:element name="smallSignalForm" type="DT_SmallSignalForm" minOccurs="0"/>
    <xsd:element name="strainSat" type="xsd:double" minOccurs="0"/>
    <xsd:element name="dim_betaCoefs" type="xsd:nonNegativeInteger" minOccurs="0" default="1"/>
    <xsd:element name="betaCoefs" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
          <xsd:minLength value="1"/> 
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
  </xsd:complexType> 
  
  <xsd:complexType name="DT_VectorPreisachHystModelMayergoyz_Isotropic">
    <xsd:sequence>
    <xsd:element name="numDirections" type="xsd:nonNegativeInteger" minOccurs="1" default="11"/>
    <xsd:element name="ScalarModel" type="DT_VectorPreisachHystModelMayergoyz_Base" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType> 
  
  <xsd:complexType name="DT_VectorPreisachHystModelMayergoyz_Anisotropic">
    <xsd:sequence>
    <xsd:element name="ScalarModelsForSingleDirection" minOccurs="1" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="ScalarModel" type="DT_VectorPreisachHystModelMayergoyz_Base" minOccurs="1"/>
          <xsd:element name="direction" minOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="DT_DoubleList">
                <xsd:minLength value="3"/> 
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="nameTag" type="xsd:token"/>
      </xsd:complexType>
      </xsd:element> 
      </xsd:sequence>
  </xsd:complexType>   
  
  <xsd:complexType name="DT_MayergoyzClipping">
    <xsd:choice>
      <xsd:element name="noClipping"/>
      <xsd:element name="clipAmplitude"/>
      <xsd:element name="clipComponentParallelToInput"/>
    </xsd:choice>
  </xsd:complexType>
  
  <xsd:complexType name="DT_VectorPreisachHystModelMayergoyz">    
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="isotropic" type="DT_VectorPreisachHystModelMayergoyz_Isotropic" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="anIsotropic" type="DT_VectorPreisachHystModelMayergoyz_Anisotropic" minOccurs="1" maxOccurs="1"/>
      </xsd:choice>
      <xsd:element name="clipOutputToSat" type="DT_MayergoyzClipping" minOccurs="0"/>
      <xsd:element name="hystInversion" type="DT_HystVecLevenbergMarquardt" minOccurs="0"/>
      <xsd:element name="initialState" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="initialOutput" type="DT_initialInOutState">
            </xsd:element> 
            <xsd:element name="initialInput" type="DT_initialInOutState">
            </xsd:element> 
          </xsd:choice>
        </xsd:complexType>
      </xsd:element> 
    </xsd:sequence>
  </xsd:complexType>  
         
   <xsd:complexType name="DT_SutorModelVersion">
    <xsd:choice>
      <xsd:element name="Classical_Version_2012__list_implementation"/>
      <xsd:element name="Revised_Version_2015__list_implementation"/>
      <xsd:element name="Classical_Version_2012__matrix_implementation"/>
      <xsd:element name="Revised_Version_2015__matrix_implementation"/>
    </xsd:choice>
  </xsd:complexType>  
       
    <xsd:complexType name="DT_VectorPreisachHystModelSutor">
   <!-- <xsd:documentation xml:lang="en">
     Vector Preisach model in magnetics is defined by
     i) hSat / jSat = Saturation values for H-Field and Polarization Jp = mu_0*M (with M = magnetization)
     ii) evalVersion    = type of model and implementation that shall be used
                        1: classical model (Sutor2012), list based implementation
                        2: revised model (Sutor2015), list based implementation (DEFAULT)
                        10: classical model (Sutor2012), matrix based implementation
                        20: revised model (Sutor2015), matrix based implementation
     iii) rotResistance > parameter needed for classical and revised model
                        > spcifies how strong the direction of the polarization changes in relation to the
                          amplitude
                        > classical model: xthres = |x_in|^k
                        > revised model: xthres = k*|x_in|
     iv)  angularDistance > parameter needed only for revised model
                          > maximal angle that might remain inside the material between polarization and
                              outer field; gets applied each time when rotation states change direction;
                              angular distance decreases to 0 for amplitudes going towards saturation                        
     v) a set of Preisach weights (the number of rows has to be specified by parameter dim_weights)
    
     Optional parameter:
     a) angularClipping > if set to a value != 0, all stored direction vectors are clipped to multiples of this angular value (in rad)
     b) angularResolution,amplitudeResolution > changes in rotation angle/input amplitude below these thresholds
                                                are not resolved; old state remains unchanged
     c) initialState > vector providing an initial input to the hyst operator that shall be applied before the
                        actual simulation starts; can be used to simulate a material which starts in saturation
                        (for that purpose, the initial input has to have an amplitude >= hSat of course)
                       Attention: this has to be conform with boundary conditions, i.e. if you specify initial state
                                  to be (hSat,0,0), the polarization must be allowed to point into x direction at the boundary
                                  
     Debug parameter:
     x) printOut > if set to X!=0, the overlaid switching and rotation state (i.e. the Preisach plane) will be outputted
                   to a bmp file (FOR EACH ELEMENT!) for each Xth time step
     y) bmpResolution > resolution of the bmp images (only used if printOut != 0
       
      For the magnetostrictive case:
      -) strainForm > if set to 1, the magnetostrictive g-form will be assumed as basis
                     > if set to 0, the magnetostrictive h-form will be assumed as basis
       Note that in both cases, [c^B], [h] and [nu^S] are provided as small signal parameter.
       In case of g-form, those will be transformed to the [s^B], [g] and [nu^T] at the beginning of the simulation
         and then during each iteration transformed back to [c^B], [h] and [nu^S].
       Idea behind g-form: as [h]/[g] depends on Jp/M, [nu^S] = [nu^T] + [g][c^B][g]^t will do in case that
                            [nu^T] is taken as basis
       -) betaCoef > the irreversible strains are computed via a polynomial sum of the
            the polarization, i.e.
            S^i = beta_0 + beta_1*J + beta_2*J^2 + beta_3*J^3 ... beta_n*J^n
         > specify vector of n+1 doubles representing beta_n to beta_0 (from left to right)
         > length of vector defined by dimCoefs
    </xsd:documentation>-->
    <xsd:sequence>
      <xsd:element name="inputSat" type="xsd:double"/>
      <xsd:element name="outputSat" type="xsd:double"/>
      <xsd:element name="evalVersion" type="DT_SutorModelVersion" minOccurs="0"/>
      <xsd:element name="rotResistance"  type="xsd:double" minOccurs="0" default="1"/>
      <xsd:element name="angularDistance" type="xsd:double" minOccurs="0" default="0"/>
      <xsd:element name="weights" type="DT_HystWeights" minOccurs="1"/>
      <xsd:element name="anhystereticParameter" type="DT_AnhystereticParams" minOccurs="0"/>
      <xsd:element name="initialState" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="initialOutput" type="DT_initialInOutState">
            </xsd:element> 
            <xsd:element name="initialInput" type="DT_initialInOutState">
            </xsd:element> 
          </xsd:choice>
        </xsd:complexType>
      </xsd:element> 
      <xsd:element name="angularClipping" type="xsd:double" minOccurs="0" default="1e-4"/>
      <xsd:element name="angularResolution" type="xsd:double" minOccurs="0" default="1e-9"/>
      <xsd:element name="amplitudeResolution" type="xsd:double" minOccurs="0" default="1e-9"/>
      <xsd:element name="printOut"  type="xsd:nonNegativeInteger" minOccurs="0" default="0"/>
      <xsd:element name="bmpResolution"  type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="smallSignalForm" type="DT_SmallSignalForm" minOccurs="0"/>
      <xsd:element name="strainSat" type="xsd:double" minOccurs="0"/>
      <xsd:element name="dim_betaCoefs" type="xsd:nonNegativeInteger" minOccurs="0" default="1"/>
      <xsd:element name="betaCoefs" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:minLength value="1"/> 
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="hystInversion" type="DT_HystVecLevenbergMarquardt" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
