share/xml/CFS-Material/Schemas/CFS_MATmagnetic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for material description of an magnetic material
    </xsd:documentation>
  </xsd:annotation>

  <xsd:include schemaLocation="CFS_MAThysteresis.xsd"/>

  <!-- ******************************************************************* -->
  <!--   Definition of material for magnetic PDEs -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_MatMagnetic">
    <xsd:sequence>
      <xsd:element name="electricConductivity" type="DT_elecConductivity"/>
      <xsd:element name="magneticReluctivity_MagStrict" type="DT_MagstrictReluctivity" minOccurs="0"/>
      <xsd:element name="magneticPermeability" type="DT_MagnPermeability"/>
      <xsd:element name="hystModel" type="DT_HystModel" minOccurs="0"/>
      <xsd:element name="magnetoStrictionTensor_h_mag" type="DT_MagStrictTensor_mag" minOccurs="0"/>
      <xsd:element name="density" type="xsd:token" minOccurs="0"/>
      <xsd:element name="coreLoss" type="DT_CoreLoss" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  

<!--
  <!-\- ******************************************************************* -\->
  <!-\-   Definition of electric conductivity-\->
  <!-\- ******************************************************************* -\->
  <xsd:complexType name="DT_elecConductivity">
    <xsd:sequence>
      <xsd:element name="linear" type="DT_LinElecConductivity"/>
      <xsd:element name="nonlinear" type="DT_NonLinElecConductivity" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-\- ******************************************************************* -\->
  <!-\-   Definition of electric conductivity -\->
  <!-\- ******************************************************************* -\->
  <xsd:complexType name="DT_LinElecConductivity">
    <xsd:choice>
      <xsd:element name="isotropic" type="DT_NonNegFloat"/>
    </xsd:choice>
  </xsd:complexType>
  
  
  
  <!-\- ******************************************************************* -\->
  <!-\-   Definition of non linear electric conductivity-\->
  <!-\- ******************************************************************* -\->
  <xsd:complexType name="DT_NonLinElecConductivity">
    <xsd:sequence>
      <xsd:element name="isotropic" type="DT_IsotrNonLinElecConductivity"/>
    </xsd:sequence>
  </xsd:complexType>
  
  
  <!-\- ******************************************************************* -\->
  <!-\-   Definition of isotropic non linear electric conductivity-\->
  <!-\- ******************************************************************* -\->
  <xsd:complexType name="DT_IsotrNonLinElecConductivity">
    <xsd:sequence>
      <xsd:element name="dependency" type="xsd:string"/>
      <xsd:element name="approxType" type="xsd:string"/>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat"/>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat"/>
      <xsd:element name="dataName" type="xsd:string"/>
      <xsd:element name="factor" type="xsd:float" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  -->
  
  <!-- ******************************************************************* -->
  <!--   Definition of magstrict coupling -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagStrictTensor_mag">
    <xsd:sequence>
      <xsd:element name="real">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="imag" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
    <xsd:attribute name="dim1" type="xsd:nonNegativeInteger" use="required"/>
    <xsd:attribute name="dim2" type="xsd:nonNegativeInteger" use="required"/>
  </xsd:complexType>
 
  <!-- ******************************************************************* -->
  <!--   Definition of nonlinear magnetic reluctivity (only for magstrict coupling) -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagstrictReluctivity" >
    <xsd:sequence>
      <xsd:element name="nonlinear" type="DT_NonLinMagstrictReluctivity" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>  

  <!-- ******************************************************************* -->
  <!--   Definition of magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagnPermeability">
    <xsd:sequence>
      <xsd:element name="linear" type="DT_LinMagnPermeability"/>
      <xsd:element name="nonlinear" type="DT_NonLinMagnPermeability" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of linear magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_LinMagnPermeability">
    <xsd:choice>
      <xsd:element name="tensor" type="DT_MagTensor"/>
      <xsd:element name="isotropic" type="DT_NonNegFloat"/>
      <xsd:element name="orthotropic" type="DT_MagOrthotropic"/>
    </xsd:choice>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of general tensor linear magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagTensor">
    <xsd:sequence>
      <xsd:element name="real">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="imag" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
    <xsd:attribute name="dim1" type="xsd:nonNegativeInteger" use="required"/>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of real and imaginery part orthotropic mechanical elasticity  -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagOrthotropic">
    <xsd:sequence>
      <xsd:element name="permeability_1" type="DT_NonNegFloat"/>
      <xsd:element name="permeability_2" type="DT_NonNegFloat"/>
      <xsd:element name="permeability_3" type="DT_NonNegFloat"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of non linear magnetic reluctivity -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_NonLinMagstrictReluctivity">
    <xsd:choice>
      <xsd:element name="isotropic" type="DT_IsotrNonLinMagstrictReluctivity"/>
    </xsd:choice>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of non linear magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_NonLinMagnPermeability">
    <xsd:choice>
      <xsd:element name="isotropic" type="DT_IsotrNonLinMagnPermeability"/>
      <xsd:element name="anisotropic" type="DT_AnisotrNonLinMagnPermeability"/>
    </xsd:choice>
  </xsd:complexType>

  <!-- restriction to the available approximation types -->
  <xsd:simpleType name="DT_NonLinMagApproxType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="smoothSplines"/>
      <xsd:enumeration value="analytic"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of isotropic non linear magnetic reluctivity -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_IsotrNonLinMagstrictReluctivity">
    <xsd:sequence>
      <xsd:element name="dependency" type="xsd:string"/>
      <xsd:element name="approxType" type="xsd:string"/>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat"/>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat"/>
      <xsd:element name="dataName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of isotropic non linear magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_IsotrNonLinMagnPermeability">
    <xsd:sequence>
      <!--xsd:element name="dependency" type="xsd:string"/--><!-- this one is never used in cfs -->
      <xsd:element name="approxType" type="DT_NonLinMagApproxType"/>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. It represents the weighting between smoothing and accuracy.
            In the standard optimization problem for smoothing splines, it corresponds to the standard deviation of the input.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. If the field is higher than the specified value, an
            exponential function is used for extrapolation, such that the reluctivity approaches the vacuum reluctivity.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dataName" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. File name of the data to be approximated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nuExpr" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the analytic approxType. It is a string interpreted by the math parser, where "B_R" represents
            the Euclidean norm of the flux density. Basically, any function depending on B can be specified.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nuDerivExpr" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the analytic approxType. It is a string interpreted by the math parser, where "B_R" represents
            the Euclidean norm of the flux density. It represents the first derivative of nuExpr with respect to B.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of non linear BH curves (ansiotropic)-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_AnisotrNonLinMagnPermeability">
    <xsd:sequence>
      <xsd:element name="data" type="DT_AnisotropicNonLinBHCurves" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DT_AnisotropicNonLinBHCurves">
    <xsd:sequence>
      <xsd:element name="angle" type="DT_NonNegFloat"/>
      <xsd:element name="approxType" type="DT_NonLinMagApproxType"/>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. It represents the weighting between smoothing and accuracy.
            In the standard optimization problem for smoothing splines, it corresponds to the standard deviation of the input.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. If the field is higher than the specified value, an
            exponential function is used for extrapolation, such that the reluctivity approaches the vacuum reluctivity.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dataName" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. File name of the data to be approximated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nuExpr" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the analytic approxType. It is a string interpreted by the math parser, where "B_R" represents
            the Euclidean norm of the flux density. Basically, any function depending on B can be specified.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nuDerivExpr" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the analytic approxType. It is a string interpreted by the math parser, where "B_R" represents
            the Euclidean norm of the flux density. It represents the first derivative of nuExpr with respect to B.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="zScaling" type="DT_NonNegFloat"/>
    </xsd:sequence>
  </xsd:complexType>  
  
  <!-- ******************************************************************* -->
  <!--   Information on coil loss -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_CoreLoss">
    <xsd:sequence>
      <xsd:element name="dataName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
