share/xml/CFS-Material/Schemas/CFS_MATmagnetic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for material description of an magnetic material
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of material for magnetic PDEs -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_MatMagnetic">
    <xsd:sequence>
      <xsd:element name="electricConductivity" type="DT_elecConductivity"/>
      <xsd:element name="magneticReluctivity_MagStrict" type="DT_MagstrictReluctivity" minOccurs="0"/>
      <xsd:element name="magneticPermeability" type="DT_MagnPermeability"/>
      <xsd:element name="hystModel" type="DT_MagHystModel" minOccurs="0"/>
      <xsd:element name="magnetoStrictionTensor_h_mag" type="DT_MagStrictTensor_mag" minOccurs="0"/>
      <xsd:element name="density" type="xsd:token" minOccurs="0"/>
      <xsd:element name="coreLoss" type="DT_CoreLoss" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  

<!--
  <!-\- ******************************************************************* -\->
  <!-\-   Definition of electric conductivity-\->
  <!-\- ******************************************************************* -\->
  <xsd:complexType name="DT_elecConductivity">
    <xsd:sequence>
      <xsd:element name="linear" type="DT_LinElecConductivity"/>
      <xsd:element name="nonlinear" type="DT_NonLinElecConductivity" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-\- ******************************************************************* -\->
  <!-\-   Definition of electric conductivity -\->
  <!-\- ******************************************************************* -\->
  <xsd:complexType name="DT_LinElecConductivity">
    <xsd:choice>
      <xsd:element name="isotropic" type="DT_NonNegFloat"/>
    </xsd:choice>
  </xsd:complexType>
  
  
  
  <!-\- ******************************************************************* -\->
  <!-\-   Definition of non linear electric conductivity-\->
  <!-\- ******************************************************************* -\->
  <xsd:complexType name="DT_NonLinElecConductivity">
    <xsd:sequence>
      <xsd:element name="isotropic" type="DT_IsotrNonLinElecConductivity"/>
    </xsd:sequence>
  </xsd:complexType>
  
  
  <!-\- ******************************************************************* -\->
  <!-\-   Definition of isotropic non linear electric conductivity-\->
  <!-\- ******************************************************************* -\->
  <xsd:complexType name="DT_IsotrNonLinElecConductivity">
    <xsd:sequence>
      <xsd:element name="dependency" type="xsd:string"/>
      <xsd:element name="approxType" type="xsd:string"/>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat"/>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat"/>
      <xsd:element name="dataName" type="xsd:string"/>
      <xsd:element name="factor" type="xsd:float" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  -->
  
  <!-- ******************************************************************* -->
  <!--   Definition of magstrict coupling -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagStrictTensor_mag">
    <xsd:sequence>
      <xsd:element name="real">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="imag" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
    <xsd:attribute name="dim1" type="xsd:nonNegativeInteger" use="required"/>
    <xsd:attribute name="dim2" type="xsd:nonNegativeInteger" use="required"/>
  </xsd:complexType>
 
  <!-- ******************************************************************* -->
  <!--   Definition of nonlinear magnetic reluctivity (only for magstrict coupling) -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagstrictReluctivity" >
    <xsd:sequence>
      <xsd:element name="nonlinear" type="DT_NonLinMagstrictReluctivity" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>  

  <!-- ******************************************************************* -->
  <!--   Definition of magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagnPermeability">
    <xsd:sequence>
      <xsd:element name="linear" type="DT_LinMagnPermeability"/>
      <xsd:element name="nonlinear" type="DT_NonLinMagnPermeability" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of linear magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_LinMagnPermeability">
    <xsd:choice>
      <xsd:element name="tensor" type="DT_MagTensor"/>
      <xsd:element name="isotropic" type="DT_NonNegFloat"/>
      <xsd:element name="orthotropic" type="DT_MagOrthotropic"/>
    </xsd:choice>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of general tensor linear magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagTensor">
    <xsd:sequence>
      <xsd:element name="real">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="imag" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
    <xsd:attribute name="dim1" type="xsd:nonNegativeInteger" use="required"/>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of real and imaginery part orthotropic mechanical elasticity  -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagOrthotropic">
    <xsd:sequence>
      <xsd:element name="permeability_1" type="DT_NonNegFloat"/>
      <xsd:element name="permeability_2" type="DT_NonNegFloat"/>
      <xsd:element name="permeability_3" type="DT_NonNegFloat"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of non linear magnetic reluctivity -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_NonLinMagstrictReluctivity">
    <xsd:choice>
      <xsd:element name="isotropic" type="DT_IsotrNonLinMagstrictReluctivity"/>
    </xsd:choice>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of non linear magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_NonLinMagnPermeability">
    <xsd:choice>
      <xsd:element name="isotropic" type="DT_IsotrNonLinMagnPermeability"/>
      <xsd:element name="anisotropic" type="DT_AnisotrNonLinMagnPermeability"/>
    </xsd:choice>
  </xsd:complexType>

  <!-- restriction to the available approximation types -->
  <xsd:simpleType name="DT_NonLinMagApproxType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="smoothSplines"/>
      <xsd:enumeration value="analytic"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of isotropic non linear magnetic reluctivity -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_IsotrNonLinMagstrictReluctivity">
    <xsd:sequence>
      <xsd:element name="dependency" type="xsd:string"/>
      <xsd:element name="approxType" type="xsd:string"/>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat"/>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat"/>
      <xsd:element name="dataName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of isotropic non linear magnetic permeability-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_IsotrNonLinMagnPermeability">
    <xsd:sequence>
      <!--xsd:element name="dependency" type="xsd:string"/--><!-- this one is never used in cfs -->
      <xsd:element name="approxType" type="DT_NonLinMagApproxType"/>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. It represents the weighting between smoothing and accuracy.
            In the standard optimization problem for smoothing splines, it corresponds to the standard deviation of the input.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. If the field is higher than the specified value, an
            exponential function is used for extrapolation, such that the reluctivity approaches the vacuum reluctivity.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dataName" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. File name of the data to be approximated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nuExpr" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the analytic approxType. It is a string interpreted by the math parser, where "B_R" represents
            the Euclidean norm of the flux density. Basically, any function depending on B can be specified.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nuDerivExpr" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the analytic approxType. It is a string interpreted by the math parser, where "B_R" represents
            the Euclidean norm of the flux density. It represents the first derivative of nuExpr with respect to B.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of non linear BH curves (ansiotropic)-->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_AnisotrNonLinMagnPermeability">
    <xsd:sequence>
      <xsd:element name="data" type="DT_AnisotropicNonLinBHCurves" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DT_AnisotropicNonLinBHCurves">
    <xsd:sequence>
      <xsd:element name="angle" type="DT_NonNegFloat"/>
      <xsd:element name="approxType" type="DT_NonLinMagApproxType"/>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. It represents the weighting between smoothing and accuracy.
            In the standard optimization problem for smoothing splines, it corresponds to the standard deviation of the input.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. If the field is higher than the specified value, an
            exponential function is used for extrapolation, such that the reluctivity approaches the vacuum reluctivity.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dataName" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. File name of the data to be approximated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nuExpr" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the analytic approxType. It is a string interpreted by the math parser, where "B_R" represents
            the Euclidean norm of the flux density. Basically, any function depending on B can be specified.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nuDerivExpr" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the analytic approxType. It is a string interpreted by the math parser, where "B_R" represents
            the Euclidean norm of the flux density. It represents the first derivative of nuExpr with respect to B.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="zScaling" type="DT_NonNegFloat"/>
    </xsd:sequence>
  </xsd:complexType>  
  
  <!-- ******************************************************************* -->
  <!--   Definition of hysterese model                                     -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_MagHystModel">
    <xsd:choice>
      <xsd:element name="preisach" type="DT_MagPreisachHystModel"/>
      <xsd:element name="vectorPreisach" type="DT_MagVectorPreisachHystModel"/>
    </xsd:choice>
  </xsd:complexType>
    
  <xsd:complexType name="DT_MagHystVecLevenbergMarquardt">
    <xsd:sequence>
      <xsd:element name="maxNumberIterations" type="xsd:nonNegativeInteger" minOccurs="0" default="35"/>
      <xsd:element name="residualTolH" type="xsd:double" minOccurs="0" default="1e-12"/>
      <xsd:element name="residualTolB" type="xsd:double" minOccurs="0" default="1e-12"/>
      <xsd:element name="jacobiResolution" type="xsd:double" minOccurs="0" default="1e-12"/>
      <xsd:element name="useTikhonov" type="xsd:boolean" minOccurs="0" default="false"/>
      <xsd:element name="alphaRegStart" type="xsd:double" minOccurs="0" default="0.25"/>
    </xsd:sequence>
  </xsd:complexType>  
    
  <xsd:complexType name="DT_ScalPreisachExtension">
    <xsd:sequence>
      <xsd:element name="useExtension" type="xsd:boolean" minOccurs="0" default="false"/>
      <xsd:element name="rotResistance"  type="xsd:double" minOccurs="0" default="1"/>
      <xsd:element name="angularDistance" type="xsd:double" minOccurs="0" default="0"/>
      <xsd:element name="initialState" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:minLength value="3"/> 
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType> 
    
  <xsd:complexType name="DT_MagPreisachHystModel">
 <!--  <xsd:documentation xml:lang="en">
    Scalar Preisach model in magnetics is defined by
     i) hSat / jSat = Saturation values for H-Field and Polarization Jp = mu_0*M (with M = magnetization)
     ii) dirJ       = direction of Jp = direction of M
     iii) a set of Preisach weights (the number of rows has to be specified by parameter dim_weights)
    
     For the magnetostrictive case
     -) strainForm > if set to 1, the magnetostrictive g-form will be assumed as basis
                    > if set to 0, the magnetostrictive h-form will be assumed as basis (DEFAULT)
      Note that in both cases, [c^B], [h] and [nu^S] are provided as small signal parameter.
      In case of g-form, those will be transformed to the [s^B], [g] and [nu^T] at the beginning of the simulation
        and then during each iteration transformed back to [c^B], [h] and [nu^S].
      Idea behind g-form: as [h]/[g] depends on Jp/M, [nu^S] = [nu^T] + [g][c^B][g]^t will do in case that
                           [nu^T] is taken as basis
    -) betaCoef > the irreversible strains are computed via a polynomial sum of the
               the polarization, i.e.
               S^i = beta_0 + beta_1*J + beta_2*J^2 + beta_3*J^3 ... beta_n*J^n
            > specify vector of n+1 doubles representing beta_n to beta_0 (from left to right)
            > length of vector defined by dimCoefs 
   </xsd:documentation>-->
    <xsd:sequence>
      <xsd:element name="hSat" type="xsd:double"/>
      <xsd:element name="jSat" type="xsd:double"/>
      <xsd:element name="dirJ" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
          <xsd:minLength value="3"/> 
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <!--<xsd:element name="dirJ" type="DT_Direction"/>-->
      <xsd:element name="pseudoVectorExtension" type="DT_ScalPreisachExtension" minOccurs="0"/>
      <xsd:element name="dim_weights"  type="xsd:nonNegativeInteger"/>
      <xsd:element name="weights">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="100000000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="strainForm" type="xsd:nonNegativeInteger" minOccurs="0" default="0"/>
      <xsd:element name="dim_betaCoefs" type="xsd:nonNegativeInteger" minOccurs="0" default="1"/>
      <xsd:element name="betaCoefs" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
          <xsd:minLength value="1"/> 
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="DT_MagVectorPreisachHystModel">
   <!-- <xsd:documentation xml:lang="en">
     Vector Preisach model in magnetics is defined by
     i) hSat / jSat = Saturation values for H-Field and Polarization Jp = mu_0*M (with M = magnetization)
     ii) evalVersion    = type of model and implementation that shall be used
                        1: classical model (Sutor2012), list based implementation
                        2: revised model (Sutor2015), list based implementation (DEFAULT)
                        10: classical model (Sutor2012), matrix based implementation
                        20: revised model (Sutor2015), matrix based implementation
     iii) rotResistance > parameter needed for classical and revised model
                        > spcifies how strong the direction of the polarization changes in relation to the
                          amplitude
                        > classical model: xthres = |x_in|^k
                        > revised model: xthres = k*|x_in|
     iv)  angularDistance > parameter needed only for revised model
                          > maximal angle that might remain inside the material between polarization and
                              outer field; gets applied each time when rotation states change direction;
                              angular distance decreases to 0 for amplitudes going towards saturation                        
     v) a set of Preisach weights (the number of rows has to be specified by parameter dim_weights)
    
     Optional parameter:
     a) angularClipping > if set to a value != 0, all stored direction vectors are clipped to multiples of this angular value (in rad)
     b) angularResolution,amplitudeResolution > changes in rotation angle/input amplitude below these thresholds
                                                are not resolved; old state remains unchanged
     c) initialState > vector providing an initial input to the hyst operator that shall be applied before the
                        actual simulation starts; can be used to simulate a material which starts in saturation
                        (for that purpose, the initial input has to have an amplitude >= hSat of course)
                       Attention: this has to be conform with boundary conditions, i.e. if you specify initial state
                                  to be (hSat,0,0), the polarization must be allowed to point into x direction at the boundary
                                  
     Debug parameter:
     x) printOut > if set to X!=0, the overlaid switching and rotation state (i.e. the Preisach plane) will be outputted
                   to a bmp file (FOR EACH ELEMENT!) for each Xth time step
     y) bmpResolution > resolution of the bmp images (only used if printOut != 0
       
     For the magnetostrictive case:
     -) strainForm > if set to 1, the magnetostrictive g-form will be assumed as basis
                    > if set to 0, the magnetostrictive h-form will be assumed as basis
      Note that in both cases, [c^B], [h] and [nu^S] are provided as small signal parameter.
      In case of g-form, those will be transformed to the [s^B], [g] and [nu^T] at the beginning of the simulation
        and then during each iteration transformed back to [c^B], [h] and [nu^S].
      Idea behind g-form: as [h]/[g] depends on Jp/M, [nu^S] = [nu^T] + [g][c^B][g]^t will do in case that
                           [nu^T] is taken as basis
      -) betaCoef > the irreversible strains are computed via a polynomial sum of the
           the polarization, i.e.
           S^i = beta_0 + beta_1*J + beta_2*J^2 + beta_3*J^3 ... beta_n*J^n
        > specify vector of n+1 doubles representing beta_n to beta_0 (from left to right)
        > length of vector defined by dimCoefs
   </xsd:documentation>-->
    <xsd:sequence>
      <xsd:element name="hSat" type="xsd:double"/>
      <xsd:element name="jSat" type="xsd:double"/>
      <xsd:element name="evalVersion"  type="xsd:nonNegativeInteger" minOccurs="0" default="2"/>
      <xsd:element name="rotResistance"  type="xsd:double" minOccurs="0" default="1"/>
      <xsd:element name="angularDistance" type="xsd:double" minOccurs="0" default="0"/>
      <xsd:element name="dim_weights"  type="xsd:nonNegativeInteger" minOccurs="1"/>
     <xsd:element name="weights" minOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="100000000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="angularClipping" type="xsd:double" minOccurs="0" default="1e-4"/>
      <xsd:element name="angularResolution" type="xsd:double" minOccurs="0" default="1e-9"/>
      <xsd:element name="amplitudeResolution" type="xsd:double" minOccurs="0" default="1e-9"/>
      <xsd:element name="initialState" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
              <xsd:minLength value="3"/> 
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="printOut"  type="xsd:nonNegativeInteger" minOccurs="0" default="0"/>
      <xsd:element name="bmpResolution"  type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="strainForm" type="xsd:nonNegativeInteger" minOccurs="0" default="0"/>
      <xsd:element name="dim_betaCoefs" type="xsd:nonNegativeInteger" minOccurs="0" default="1"/>
      <xsd:element name="betaCoefs" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
          <xsd:minLength value="1"/> 
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="hystInversion" type="DT_MagHystVecLevenbergMarquardt" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Information on coil loss -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_CoreLoss">
    <xsd:sequence>
      <xsd:element name="dataName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
