share/xml/CFS-Material/Schemas/CFS_Misc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org/material"
  xmlns="http://www.cfs++.org/material"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description for all things that did not fit elsewhere
    </xsd:documentation>
  </xsd:annotation>

  <!-- ******************************************************************* -->
  <!--   Definition of various missing simple data types -->
  <!-- ******************************************************************* -->

  <!-- Data type for positive floating point numbers -->
  <xsd:simpleType name="DT_PosFloat">
    <xsd:restriction base="xsd:float">
      <xsd:minExclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Data type for non-negative floating point numbers -->
  <xsd:simpleType name="DT_NonNegFloat">
    <xsd:restriction base="xsd:float">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Data type for floating point numbers in [0,1] -->
  <xsd:simpleType name="DT_FloatUnitInterval">
    <xsd:restriction base="xsd:float">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Data type for floating point numbers in [0,0.5] -->
  <xsd:simpleType name="DT_FloatPoissonInterval">
    <xsd:restriction base="xsd:float">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="0.5"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Data type for specifying an angle in degrees (DEG) -->
  <xsd:simpleType name="DT_DegAngle">
    <xsd:restriction base="xsd:float">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="360"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Data type for setting flags -->
  <xsd:simpleType name="DT_CFSBool">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="yes"/>
      <xsd:enumeration value="no"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Data type for setting a array of doubles -->
  <xsd:simpleType name="DT_DoubleList">
    <xsd:list itemType="xsd:double"/>
  </xsd:simpleType> 
  
  <!-- Data type for setting a array of tokens -->
  <xsd:simpleType name="DT_TokenList">
    <xsd:list itemType="xsd:token"/>
  </xsd:simpleType> 

  <!-- ************************************************************* -->
  <!--   Definition for a scalar type, with real and imaginary parts -->
  <!-- ************************************************************* -->
  <xsd:complexType name="DT_ScalarType">
    <xsd:sequence>
      <xsd:element name="real" type="xsd:token"/>
      <xsd:element name="imag" type="xsd:token" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ************************************************************* -->
  <!--  Definition of a general tensor without size restriction      -->
  <!-- ************************************************************* -->
  <xsd:complexType name="DT_TensorGeneralType">
    <xsd:sequence>
      <xsd:element name="real" type="DT_TokenList"/>
      <xsd:element name="imag" type="DT_TokenList" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="dim1" type="xsd:nonNegativeInteger" use="required"/>
    <xsd:attribute name="dim2" type="xsd:nonNegativeInteger" use="optional"/>
  </xsd:complexType>

  <!-- ************************************************************* -->
  <!--   Definition for a  tensorial data type (3x3 tensor),         -->
  <!--   which can be defined by isotropic, transversal-isotropic,   -->
  <!--   orthotropic or general tensor notation                      -->
  <!-- ************************************************************* -->
  <xsd:complexType name="DT_Square3TensorType">
    <xsd:choice>
      <xsd:element name="isotropic" type="DT_ScalarType"/>
      <xsd:element name="transversalIsotropic" type="DT_Square3TensorTypeTransIso"/>
      <xsd:element name="orthotropic" type="DT_Square3TensorTypeOrtho"/>
      <xsd:element name="tensor" type="DT_Square3TensorTypeGeneral"/>
    </xsd:choice>
  </xsd:complexType>

  <!-- General tensor representation of 3x3 tensor -->
  <xsd:complexType name="DT_Square3TensorTypeGeneral">
    <xsd:sequence>
      <xsd:element name="real">
        <xsd:simpleType>
          <xsd:restriction base="DT_TokenList">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="imag" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_TokenList">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
    <xsd:attribute name="dim1" type="xsd:nonNegativeInteger" use="required"/>
    <xsd:attribute name="dim2" type="xsd:nonNegativeInteger" use="required"/>
  </xsd:complexType>
  
  <!-- Transveral-isotropic tensor representation -->
  <xsd:complexType name="DT_Square3TensorTypeTransIso">
    <xsd:sequence>
      <xsd:element name="value" type="DT_ScalarType"/>
      <xsd:element name="value_3" type="DT_ScalarType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Orthotropic tensor representation -->
  <xsd:complexType name="DT_Square3TensorTypeOrtho">
    <xsd:sequence>
      <xsd:element name="value_1" type="DT_ScalarType"/>
      <xsd:element name="value_2" type="DT_ScalarType"/>
      <xsd:element name="value_3" type="DT_ScalarType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ************************************************************* -->
  <!--   Definition for a vectorial type, where both real and imaginary -->
  <!--   parts can be positive and negative                          -->
  <!-- ************************************************************* -->
  <xsd:complexType name="DT_VectorType">
    <xsd:sequence>
      <xsd:element name="real" type="DT_TokenList" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="imag" type="DT_TokenList" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="dim1" type="xsd:nonNegativeInteger" use="required"/>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of rayleigh damping for mechanics and acoustics        -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_RayleighDampingClassic">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> Specifies a "local", i.e. region based, damping matrix computed from the mass and stiffness bilinear forms. This is either done by specifying the frequency-independent alpha and beta coefficients, or by specifying the loss tangent delta at specific frequencies, so that the alpha and beta coefficients are computed from the loss tangent. The relationship for the damping is lossTangensDelta=2*damping_ratio=alpha/omega+beta*omega. The loss tangent is required to be known at two frequencies in order to compute the constants.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="computeFromTwoPoints" type="DT_RayleighTanDeltaFromTwoPoints" maxOccurs="1"/>
      <xsd:element name="computeFromTanDeltaAtFrequency" type="DT_RayleighTanDeltaAtFrequency" maxOccurs="1"/>
      <xsd:element name="coefficients" type="DT_RayleighCoefficients" maxOccurs="1"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="DT_RayleighTanDeltaFromTwoPoints">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> Provide two points that specify a 'frequency' and a 'lossTangensDelta so that CFS can compute the Rayleigh coefficients from it</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="point1" type="DT_RayleighTanDeltaPoint" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="point2" type="DT_RayleighTanDeltaPoint" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_RayleighTanDeltaAtFrequency">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> Provide a point with a center frequency 'centerFreq' and a corresponding 'lossTangensDelta' along with a 'ratioDeltaF', so that lossTangensDelta(centerFreq+ratioDeltaF*centerFreq/2)=lossTangensDelta(centerFreq-ratioDeltaF*centerFreq/2). </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="centerFreq" type="DT_NonNegFloat" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ratioDeltaF" type="DT_NonNegFloat" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="lossTangensDelta" type="DT_NonNegFloat" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_RayleighCoefficients">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> Provide 'alpha' and 'beta' directly.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="alpha" type="xsd:float" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="beta" type="xsd:float" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_RayleighAdaptedLossTangensDelta">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> Only applicable in the frequency domain. Recomputes 'alpha' and 'beta' in every frequency step to meet a desired lossTangensDelta. Can be a non-negative float to define a constant damping over all frequencies. Alternatively, can be a sampling mathParser command to link an external file containing freuqencies and corresponding lossTangensDeltas, e.g., sample1D('filename',f,1) </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="value" type="xsd:token" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="DT_KelvinVoigtDamping">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> Provide the viscous tensor for the Kelvin-Voigt damping model. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="value" type="xsd:token" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="DT_RayleighTanDeltaPoint">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> Provide 'frequency' and corresponding 'lossTangensDelta' </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="frequency" type="xsd:token" use="required"/>
    <xsd:attribute name="lossTangensDelta" type="xsd:token" use="required"/>
  </xsd:complexType>

  <!-- **************************************************************************************** -->
  <!--  Data types for specifying rational function approximations -->
  <!-- **************************************************************************************** -->
  <xsd:complexType name="DT_RationalFuncInv">
    <xsd:sequence>
      <xsd:element name="rationalFunctionApprox" type="DT_RationalFunAcouEqFluid" minOccurs="0"
        maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"> Rational function approximation, which is currently only
            used for the time domain formulation of the equivalent fluid. Provide the constant
            (high-frequency limit, i.e., instantaneous response), real poles (damped response)
            response, and complex-conjugated pole pairs (oscillatory response). </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_RationalFunAcouEqFluid">
    <xsd:sequence>
      <xsd:element name="linear" type="DT_ScalarType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"> Real-valued constant (high-frequency limit, i.e.
            instantaneous response). </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poleListReal" type="DT_RationalTerm" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"> List of real poles causing in a damped response. It is
            defined by real-valued pole (denomiator) and real-valued residue (numerator of the
            rational function). If provided, the imaginary part is ignored. The total number of
            poles is limited to 15. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poleListComplex" type="DT_RationalTerm" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"> List of comlex-conjugated pole pairs causing in an
            oscillatory response. It is defined by the real and imaginary part of the pole
            (denominator of the rational function) and residue (numerator), respectively. The total
            number of poles is limited to 15. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_RationalTerm">
    <xsd:sequence>
      <xsd:element name="rationalTerm" type="DT_RationalTermDef" minOccurs="1" maxOccurs="15">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"> Definition of rational term, consisting of denominator
            (pole) and numerator (residue). The pole can be either real or a complex-conjugated pole
            pair. The total number of poles is limited to 15. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_RationalTermDef">
    <xsd:sequence>
      <xsd:element name="pole" type="DT_ComplexTypeCompact" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"> Denominator (pole) of the rational function. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="residue" type="DT_ComplexTypeCompact" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"> Numerator (residue) of the rational function. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_ComplexTypeCompact">
    <xsd:attribute name="real" type="xsd:double" use="required" />
    <xsd:attribute name="imag" type="xsd:double" use="optional" />
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--  Data type for specifying flow direction (directly)                 -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_Direction">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ************************************************************ -->
  <!--  Definition of a general nonlinearity                         -->
  <!--  Can be extended with PDE-specific properties                 -->
  <!-- ************************************************************* -->
  <xsd:complexType name="DT_MatNonLinearity">
    <xsd:sequence>
      <xsd:element name="dependency" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A string that define which variable the nonlinearity is dependent upon.
            (e.g. temperature, voltage, etc.)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="approxType" type="DT_NonLinApproxType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The type of approximation used for interpolation or extrapolation of
            the nonlinear curve from discrete data.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="measAccuracy" type="DT_NonNegFloat" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. It represents the weighting between smoothing and accuracy.
            In the standard optimization problem for smoothing splines, it corresponds to the standard deviation of the input.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maxApproxVal" type="DT_NonNegFloat" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. If the field is higher than the specified value, an
            exponential function is used for extrapolation, such that the reluctivity approaches the vacuum reluctivity.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dataName" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This value is only necessary for the smoothSplines approxType. File name of the data to be approximated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entry" type="xsd:nonNegativeInteger" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="nonlinear" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <!-- restriction to the available approximation types -->
  <xsd:simpleType name="DT_NonLinApproxType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="No approximation"/>
      <xsd:enumeration value="LinInterpolate"/>
      <xsd:enumeration value="BiLinInterpolate"/>
      <xsd:enumeration value="TriLinInterpolate"/>
      <xsd:enumeration value="CubicSplines"/>
      <xsd:enumeration value="smoothSplines"/>
      <xsd:enumeration value="analytic"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>
