share/xml/CFS-Simulation/Schemas/CFS_PDEbasic.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for basic PDE description and boundary conditions
      All other PDE descriptions are derived from this type
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************** -->
  <!--   Definition of basic PDE data type -->
  <!-- ******************************************************************** -->

  <!-- This is an abstract basic type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_PDEBasic" abstract="true">
    
    <xsd:attribute name="feSpaceFormulation" type="DT_FeFormulationBasic" use="optional" default="default"/>
    <!-- This attribute is used to refer to the corresponding linearSystem-element -->
    <xsd:attribute name="pdeFormulation" type="DT_FeFormulationBasic" use="optional" default="default"/>
    <xsd:attribute name="systemId" type="xsd:token" use="optional" default="default"/>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of basic PDE element -->
  <!-- ******************************************************************** -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised PDE elements -->
  <xsd:element name="PDEBasic" type="DT_PDEBasic" abstract="true"/>


  <!-- ******************************************************************** -->
  <!--   Definition of standard type for boundary conditions -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying boundary conditions -->
  <xsd:complexType name="DT_BCBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of data from external fields                            -->
  <!-- ******************************************************************** -->

  <!-- Depend Type of grid coeffunction -->
  <xsd:simpleType name="DT_CoefGridDependType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="GENERAL"/>
      <xsd:enumeration value="TIMEFREQ"/>
      <xsd:enumeration value="CONST"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Mode of interpolation -->
  <xsd:simpleType name="DT_CoefGridInterpolMode">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="standard"/>
      <xsd:enumeration value="conservative"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DT_BaseGridData">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">        
        <xsd:choice>
          <xsd:element name="defaultGrid">             
             <xsd:complexType>
               <xsd:sequence>
                 <xsd:element name="globalFactor" maxOccurs="1" minOccurs="0" default="1" type="xsd:token"/>
               </xsd:sequence>
               <xsd:attribute name="quantity" use="required"/>
               <xsd:attribute name="dependtype" type="DT_CoefGridDependType" use="required" />
               <xsd:attribute name="sequenceStep" type="xsd:integer" use="optional" default="1" />
             </xsd:complexType>
          </xsd:element>
          <xsd:element name="externalGrid">
            <xsd:complexType>
              <xsd:sequence> 
                <xsd:element name="globalFactor" maxOccurs="1" minOccurs="0" default="1" type="xsd:token"/>
                <xsd:element name="globalTolerance" maxOccurs="1" minOccurs="1" type="xsd:double"/>
                <xsd:element name="localTolerance" maxOccurs="1" minOccurs="1" type="xsd:double"/>
                <xsd:element name="xyPlane" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:attribute name="z" type="xsd:double" use="required"/>
                    <xsd:attribute name="tolerance" type="DT_NonNegFloat" use="optional" default="1e-12"/>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="regionList">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:attribute name="srcRegionName" type="xsd:token" use="required"/>
                          <xsd:attribute name="regionFactor" type="xsd:token" default="1.0" use="optional"/>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
              <xsd:attribute name="gridId" type="xsd:token" use="required"/>
              <xsd:attribute name="inputId" type="xsd:token" use="required"/>
              <xsd:attribute name="quantity" use="required"/>
              <xsd:attribute name="dependtype" type="DT_CoefGridDependType" use="required" />
              <xsd:attribute name="interpolation" type="DT_CoefGridInterpolMode" use="optional" default="standard"/>            
              <xsd:attribute name="sequenceStep" type="xsd:integer" use="optional" default="1" />
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="dofs" type="xsd:token" use="optional" default="all"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of data from iterative coupled field problems           -->
  <!-- ******************************************************************** -->
	<xsd:complexType name="DT_IterCplData">
           <xsd:complexContent>
	     <xsd:restriction base="xsd:anyType">        
	    	<xsd:sequence>
		    <xsd:element name="quantity">
		    	<xsd:complexType>
		    	      <xsd:attribute name="name" type="xsd:token" use="required"/>	    		
		        </xsd:complexType>	    	
		    </xsd:element>
		</xsd:sequence>
		<xsd:attribute name="pdeName" type="xsd:token" use="required"/>
             </xsd:restriction>
	   </xsd:complexContent>
	</xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of data from external simulations                       -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_ExternalSimulation">
	<xsd:complexContent>
	 	<xsd:restriction base="xsd:anyType">        
	   	<xsd:sequence>
	   		
	    	<xsd:element name="quantity">
	    		<xsd:complexType>
	    			<xsd:attribute name="name" type="xsd:token" use="required"/>	    		
            <xsd:attribute name="pdeName" type="xsd:token" use="required"/>
	    		</xsd:complexType>	    	
	    	</xsd:element>
	    	
	      <!-- Determine time / frequency behavior-->     	
        <xsd:element name="timeFreqMapping">
          <xsd:complexType>
	    	    <xsd:choice>
	    	    	
              <!-- a) fixed time / frequency step -->
	    	   	  <xsd:element name="constant">
	    	   	    <xsd:complexType>
                  <xsd:attribute name="step" type="xsd:positiveInteger" 
                                use="optional" default="1"/>
                </xsd:complexType>          	    	   		    	   	
	    	   	  </xsd:element>
	    	   	  
              <!-- b) continuous mapping -->
	    	   	  <xsd:element name="continuous">
	    	   	  	<xsd:complexType>
		    	   	    <xsd:attribute name="interpolation" use="optional" default="linear">
		    	   	      <xsd:simpleType>
									    <xsd:restriction base="xsd:token">
									      <xsd:enumeration value="nearestNeighbor"/>
									      <xsd:enumeration value="linear"/>
									    </xsd:restriction>
									  </xsd:simpleType>
		    	   	    </xsd:attribute>
		    	   	    <xsd:attribute name="offset" type="xsd:float" 
	                               use="optional" default="0.0"/>
	    	   	    </xsd:complexType>
              </xsd:element>    	
	    	    </xsd:choice>
          </xsd:complexType>
        </xsd:element>
			</xsd:sequence>
		<xsd:attribute name="inputId" type="xsd:token" use="required"/>
		<xsd:attribute name="sequenceStep" type="xsd:integer" use="optional" default="1"/>
		</xsd:restriction>
	</xsd:complexContent>
  </xsd:complexType>
	
  <!-- ******************************************************************** -->
  <!--  Definition of scattered data on point clouds (measured, CSV, etc.)  -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_ScatteredData">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">  
        <xsd:sequence>
          <xsd:element name="fileName" minOccurs="1" maxOccurs="1" type="xsd:token">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Full path of file containing the scattered data. Currently only
                CSV files are supported.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="coordinates" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The columns of the single degrees of freedom (dofs) for the point
                coordinates can be specified component-wise.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="dof" type="xsd:token" use="required"/>
                    <xsd:attribute name="col" type="xsd:nonNegativeInteger" use="required"/>
                  </xsd:complexType>  
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="values" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The columns of the single degrees of freedom (dofs) for the values
                can be specified component-wise.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="dof" type="xsd:token" use="required"/>
                    <xsd:attribute name="col" type="xsd:nonNegativeInteger" use="required"/>
                  </xsd:complexType>  
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="factor" minOccurs="0" maxOccurs="1" type="xsd:double" default="1.0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                A scaling factor for all components of the values.
              </xsd:documentation>
            </xsd:annotation>            
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="quantity" use="required"/>
        <xsd:attribute name="format" use="optional" default="csv"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>  
  

  <!-- ******************************************************************* -->
  <!--   Definition of standard types for BCs and RHS values               -->
  <!-- ******************************************************************* -->
  <!-- Base element type for specifying boundary conditions and RHS values-->
  <xsd:complexType name="DT_BcBasic">    
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="name" type="xsd:token"  use="required"/>
        <xsd:attribute name="coordSysId" type="xsd:token" use="optional" default="default"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Homogeneous Boundary Conditions                                   -->
  <!-- ******************************************************************* --> 
  
  <!-- Homogeneous scalar boundary condition -->
  <xsd:complexType name="DT_BcHomScalar">
    <xsd:complexContent>
      <xsd:extension base="DT_BcBasic">
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
  <!-- Homogeneous vector-valued boundary condition -->
  <xsd:complexType name="DT_BcHomVector">
    <xsd:complexContent>
      <xsd:extension base="DT_BcHomScalar">
        <!-- single components given -->
        <xsd:sequence>
          <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="dof" type="xsd:token" use="required"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
   <!-- Homogeneous tensor-valued boundary condition -->
  <xsd:complexType name="DT_BcHomTensor">
    <xsd:complexContent>
      <xsd:extension base="DT_BcHomVector">
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Inhomogeneous Boundary Conditions / RHS Excitation                -->
  <!-- ******************************************************************* --> 

  <!-- Inhomogeneous scalar boundary condition / RHS value -->
  <xsd:complexType name="DT_BcInhomScalar">
    <xsd:complexContent>
      <xsd:extension base="DT_BcHomScalar">
        <xsd:choice>
          <!-- Read Data from external Grids -->
          <xsd:element name="grid" minOccurs="0" maxOccurs="1" type="DT_BaseGridData"/>
          
					<!-- Obtain data from iterative coupling -->
					<xsd:element name="coupling" minOccurs="0" maxOccurs="1" type="DT_IterCplData"/>

          <!-- External HDF5 file -->
          <xsd:element name="externalSimulation" maxOccurs="1" type="DT_ExternalSimulation"/>
        </xsd:choice>
        <xsd:attribute name="value" type="xsd:token" use="optional"/>
        <xsd:attribute name="phase" type="xsd:token" use="optional" default="0.0"/>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>


  
  <!-- Inhomogeneous vector-valued boundary condition / RHS value -->
  <xsd:complexType name="DT_BcInhomScalarCoupled">
    <xsd:complexContent>
      <xsd:extension base="DT_BcBasic">
        <xsd:choice>
          <!-- =========================== -->
          <!--  B) Iterative Coupling      -->
          <!-- =========================== -->            
          <xsd:element name="coupling" maxOccurs="1" type="DT_IterCplData"/>
          
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>

  
  <!-- Inhomogeneous vector-valued boundary condition / RHS value -->
  <xsd:complexType name="DT_BcInhomVector">
    <xsd:complexContent>
      <xsd:extension base="DT_BcHomScalar">
        <xsd:choice>
          <!-- =========================== -->
          <!--  A) Analytical Description  -->
          <!-- =========================== -->
          <!-- 1) complete vector given -->
          <xsd:sequence>
            <xsd:element name="values" type="DT_TokenList" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="phase" type="DT_TokenList" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
          
          <!-- 2) single components given -->
          <xsd:sequence>
            <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="dof" type="xsd:token" use="required"/>
                <xsd:attribute name="value" type="xsd:token" use="required"/>
                <xsd:attribute name="phase" type="xsd:token" use="optional" default="0.0"/>
              </xsd:complexType>              
            </xsd:element>
          </xsd:sequence>
          
          <!-- =========================== -->
          <!--  B) Iterative Coupling      -->
          <!-- =========================== -->            
          <xsd:element name="coupling" maxOccurs="1" type="DT_IterCplData"/>
          
          <!-- =========================== -->
          <!--  C) External Grid           -->
          <!-- =========================== -->
          <xsd:element name="grid" maxOccurs="1" type="DT_BaseGridData">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Read values from external, nodal grid.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
          <!-- =========================== -->
          <!--  D) External HDF5 file      -->
          <!-- =========================== -->
          <xsd:element name="externalSimulation" maxOccurs="1" type="DT_ExternalSimulation"/>

          <!-- =========================== -->
          <!--  E) Scattered data from CSV -->
          <!-- =========================== -->
          <xsd:element name="scatteredData" maxOccurs="1" type="DT_ScatteredData">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Scattered data coming from CSV files.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>          
          
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
  <!-- Inhomogeneous tensor-valued boundary condition / RHS value -->
  <xsd:complexType name="DT_BcInhomTensor">
    <xsd:complexContent>
      <xsd:extension base="DT_BcHomScalar">
        <xsd:choice>
          
          <!-- 1) complete vector given -->
          <xsd:sequence>
            <xsd:element name="values" type="DT_TokenList" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="phase" type="DT_TokenList" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
          
          <!-- 2) single components given -->
          <xsd:sequence>
            <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="dof" type="xsd:token" use="required"/>
                <xsd:attribute name="value" type="xsd:token" use="required"/>
                <xsd:attribute name="phase" type="xsd:token" use="optional" default="0.0"/>
              </xsd:complexType>  
            </xsd:element>
          </xsd:sequence>
          
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Periodic Boundary Conditions                                   -->
  <!-- ******************************************************************* --> 
  <xsd:complexType name="DT_BcPeriodic">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="master" type="xsd:token" use="required"/>
        <xsd:attribute name="slave"  type="xsd:token" use="required"/>
        <xsd:attribute name="quantity" type="xsd:token" use="required"/>
        <xsd:attribute name="dof" type="xsd:token" use="required"/>
        <xsd:attribute name="fixedCoords" type="xsd:token" use="optional"/>
        <xsd:attribute name="tolerance" type="DT_NonNegFloat" use="optional"
          default="1e-6"/>
        <xsd:attribute name="coordSysId" type="xsd:token" use="optional"
          default="default"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

   
  <!-- ******************************************************************** -->
  <!--   Definition of initial state -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying the initial state of a PDE, i.e.
       its intial value for the primary quantity and its time derivatives -->
  <xsd:complexType name="DT_InitialState">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
       <xsd:choice minOccurs="0">
         <!-- 1) Same simulation, different multisequence step -->
         <xsd:element name="sequenceStep" minOccurs="0">
           <xsd:complexType>
             <xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
             <xsd:attribute name="step" type="xsd:integer" use="optional" default="-1"/>
           </xsd:complexType>  
         </xsd:element>
       </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of standard type for nonlinearity -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying boundary conditions -->
  <xsd:complexType name="DT_NonLinBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="id" type="xsd:token" use="required"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:complexType name="DT_matDependencyBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="id" type="xsd:token" use="required"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  
  <!-- ******************************************************************** -->
  <!--   Definition of basic function space types -->
  <!-- ******************************************************************** -->
  <xsd:simpleType name="DT_FeFormulationBasic">
    <xsd:restriction base="xsd:token">
       <xsd:enumeration value="default"/>
       <xsd:enumeration value="H1"/>
       <xsd:enumeration value="HCurl"/>
       <xsd:enumeration value="HDiv"/>
       <xsd:enumeration value="L2"/>
       <xsd:enumeration value="TaylorHood"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of non-matching grid formulations -->
  <!-- ******************************************************************** -->
  <xsd:simpleType name="DT_NMGFormulationBasic">
    <xsd:restriction base="xsd:token">
       <xsd:enumeration value="none"/>
       <xsd:enumeration value="Nitsche"/>
       <xsd:enumeration value="Mortar"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!--********************************************************************
        Definition of Basic Datatype for non-conforming interfaces
      ******************************************************************** -->
  <xsd:complexType name="DT_NcInterfaceList">
    <xsd:sequence>
      <xsd:element name="ncInterface" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name" type="xsd:token" use="required" />
          <xsd:attribute name="formulation" type="DT_NMGFormulationBasic"
                         use="optional" default="Mortar" />
          <xsd:attribute name="nitscheFactor" type="xsd:double"
                         use="optional" default="50" />
          <xsd:attribute name="lagrangeMultType"
                         use="optional" default="standard">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="standard"/>
                <xsd:enumeration value="dualDiscont"/>
                <xsd:enumeration value="dualCubic"/>
              </xsd:restriction>
            </xsd:simpleType>      
          </xsd:attribute>
          <xsd:attribute name="crossPointHandling" type="DT_CFSBool"
                         use="optional" default="no" />
          <xsd:attribute name="movingMortar" type="DT_CFSBool"
                         use="optional" default="no"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of standard type for damping -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying boundary conditions -->
  <xsd:complexType name="DT_DampingBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="id" type="xsd:token" use="required"/>
        <!--xsd:attribute name="aPML" type="DT_CFSBool" use="optional" default="no"/-->
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of standard type for flow data -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying boundary conditions -->
  <xsd:complexType name="DT_FlowBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="id" type="xsd:token" use="required"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of PML damping -->
  <!-- ******************************************************************* -->
  
  <!-- Definition of pml damping type -->
  <xsd:complexType name="DT_DampingPML">
    <xsd:complexContent>
      <xsd:extension base="DT_DampingBasic">
        <xsd:sequence>
          
          <!-- Reference coordinate system, in which PML damping is defined -->
          <xsd:element name="coordSysId" minOccurs="0" maxOccurs="1" type="xsd:token"/>          
          
          <!-- Geometric definition of region -->
          <xsd:element name="propRegion" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="direction" minOccurs="1" maxOccurs="3">
                  <xsd:complexType>
                    <xsd:attribute name="comp" type="DT_CosyCompType" use="required"/>
                    <xsd:attribute name="min" type="xsd:token" use="required"/>
                    <xsd:attribute name="max" type="xsd:token" use="required"/>
                    </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          
          <!-- Type of PML -->
          <xsd:element name="type" minOccurs="0" maxOccurs="1" default="inverseDist">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="constant"   />
                <xsd:enumeration value="quadDist"     />
                <xsd:enumeration value="inverseDist"     />
                <xsd:enumeration value="smoothDamp"     />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          
          <!-- Damping factor -->
          <xsd:element name="dampFactor" type="xsd:token" minOccurs="0" maxOccurs="1" />
          
          <!--xsd:element name="aPML"  type="DT_CFSBool" minOccurs="0" maxOccurs="1" default="no"/-->
        </xsd:sequence>
        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- ******************************************************************** -->
  <!--   Definition of basic result data type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_BasicResult" abstract="true">
    <xsd:attribute name="complexFormat" type="DT_ComplexFormat"
      use="optional" default="amplPhase"/>
  </xsd:complexType>

  
  <!-- ******************************************************************** -->
  <!--   Definition of basic result storing data type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_ResultSavingType" abstract="true">
    <xsd:attribute name="saveBegin" type="xsd:token" default="0"/>
    <xsd:attribute name="saveEnd" type="xsd:token" default="2147483647"/>
    <xsd:attribute name="saveInc" type="xsd:token" default="1"/>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of nodal result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_NodeResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">
        <xsd:sequence minOccurs="1">

          <!-- 1.) Definition by 'regionList' -->
          <xsd:choice minOccurs="1" maxOccurs="1">

            <!-- choice for a) several results regions-->
            <xsd:element name="regionList" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="DT_ResultSavingType">
                    <xsd:sequence>
                      <xsd:element name="region"
                        type="DT_SingleRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>

            <!-- choice for b) all regions-->
            <xsd:element name="allRegions"
              type="DT_AllRegionResultDescr" minOccurs="1" maxOccurs="1"/>
          </xsd:choice>
          
          <!-- 2.) Definition by named nodes -->
          <xsd:element name="nodeList" minOccurs="0">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="nodes" type="DT_HistResultDescr"
                      minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of element result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_ElemResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">
        <xsd:sequence minOccurs="1">

          <!-- 1.) Definition by 'regionList' -->
          <xsd:choice minOccurs="0" maxOccurs="1">

            <!-- choice for a) several results regions-->
             <xsd:element name="regionList" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="DT_ResultSavingType">
                    <xsd:sequence>
                      <xsd:element name="region"
                        type="DT_SingleRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            
            <!-- choice for b) all regions-->
            <xsd:element name="allRegions"
              type="DT_AllRegionResultDescr" minOccurs="1" maxOccurs="1"/>
          </xsd:choice>

          <!-- 2.) Definition by named elements -->
          <xsd:element name="elemList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence minOccurs="0" maxOccurs="1">
                    <xsd:element name="elems" type="DT_HistResultDescr"
                      minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


 <!-- ******************************************************************** -->
  <!--   Definition of surface element result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_SurfElemResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">
        <xsd:sequence minOccurs="1">

          <!-- 1.) Definition by 'regionList' -->
          <xsd:element name="surfRegionList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence>
                    <xsd:element name="surfRegion"
                      type="DT_SingleSurfRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>

          <!-- 2.) Definition by named elements -->
          <xsd:element name="surfElemList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence minOccurs="0" maxOccurs="1">
                    <xsd:element name="surfElems" type="DT_SurfElemHistResultDescr"
                      minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>

        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
            

  <!-- ******************************************************************** -->
  <!--   Definition of region result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_RegionResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">

        <!-- 1.) Definition by 'regionList' -->
        <xsd:choice minOccurs="1" maxOccurs="1">
          
          <!-- choice for a) several results regions-->
          <xsd:element name="regionList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence>
                    <xsd:element name="region"
                      type="DT_SingleRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>

          <!-- choice for b) all regions-->
          <xsd:element name="allRegions"
            type="DT_AllRegionResultDescr" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

 <!-- ******************************************************************** -->
  <!--   Definition of surface region result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_SurfRegionResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">
        <xsd:sequence minOccurs="1">

          <!-- 1.) Definition by 'regionList' -->
          <xsd:element name="surfRegionList" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence>
                    <xsd:element name="surfRegion"
                      type="DT_SingleSurfRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of field interpolation -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_FieldResult">
    <xsd:sequence>
      <xsd:element name="list" minOccurs="0" maxOccurs="3">
        <xsd:complexType>
          <xsd:attribute name="comp" type="DT_CosyCompType" use="required"/>
          <xsd:attribute name="start" type="xsd:token" use="required"/>
          <xsd:attribute name="stop" type="xsd:token" use="required"/>
          <xsd:attribute name="inc" type="xsd:token" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="coordSysId" type="xsd:token" default="default" use="optional"/>
    <xsd:attribute name="fileName" default="xsd:token"/>
    <xsd:attribute name="csv" default="no" type="DT_CFSBool">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Format output file as comma separated values which can be read directly into ParaView.
          
          The Matlab/Octave code to read such files is: matrix = csvread('vel-line.csv',1,0);
          
          For Python refer to http://matplotlib.org/api/mlab_api.html#matplotlib.mlab.csv2rec or
          http://docs.python.org/2/library/csv.html
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="delimiter" default="," type="xsd:token">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The delimiter character for the CSV file can be defined here. By default a comma is used.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  
  <!-- ******************************************************************** -->
  <!--   Definition of single region result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_SingleRegionResultDescr">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="postProcId" type="xsd:token" default=""/>
    <xsd:attribute name="outputIds" type="xsd:token" default=""/>
    <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of all region result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_AllRegionResultDescr">
    <xsd:complexContent>
      <xsd:extension base="DT_ResultSavingType">
        <xsd:attribute name="postProcId" type="xsd:token" default=""/>
        <xsd:attribute name="outputIds" type="xsd:token"
          default=""/>
        <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of single surface region result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_SingleSurfRegionResultDescr">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="neighborRegion" type="xsd:token"
    use="optional" default=""/>
    <xsd:attribute name="postProcId" type="xsd:token" default=""/>
    <xsd:attribute name="outputIds" type="xsd:token" default=""/>
    <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of history result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_HistResultDescr">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="postProcId" type="xsd:token" default=""/>
    <xsd:attribute name="outputIds" type="xsd:token"
      default=""/>
    <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>

 <!-- ******************************************************************** -->
  <!--   Definition of surface element history result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please insert documentation here -->
  <xsd:complexType name="DT_SurfElemHistResultDescr">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="neighborRegion" type="xsd:token"
    use="optional" default=""/>
    <xsd:attribute name="postProcId" type="xsd:token" default=""/>
    <xsd:attribute name="outputIds" type="xsd:token"
      default=""/>
    <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>
  

 <!-- ***************************************************** -->
 <!--   Definition for material dependencies in PDEs        -->
 <!-- ***************************************************** -->
  <xsd:complexType name="DT_matDependency">
    <xsd:complexContent>
      <xsd:extension base="DT_matDependencyCoupled"> </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DT_matDependencyCoupled">
    <xsd:complexContent>
      <xsd:extension base="DT_matDepBasic">
        <xsd:choice>
          <!-- =========================== -->
          <!--  A) Iterative Coupling      -->
          <!-- =========================== -->            
          <xsd:element name="coupling" maxOccurs="1" type="DT_IterCplData"/>          
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>

  <xsd:complexType name="DT_matDepBasic">    
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="id" type="xsd:token"  use="required"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>
