share/xml/CFS-Simulation/Schemas/CFS_PDEacousticMixed.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for an acoustic mixed PDE
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of element for stokesFluid PDEs -->
  <!-- ******************************************************************* -->
  <xsd:element name="acousticMixed" type="DT_PDEAcousticMixed"
    substitutionGroup="PDEBasic">
    <xsd:unique name="CS_AcousticMixedRegion">
      <xsd:selector xpath="cfs:region"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for stokesFluid PDEs -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_PDEAcousticMixed">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- Regions the PDE lives on (including optional damping model) -->
          <xsd:element name="regionList" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:token" use="required"/>
                    <xsd:attribute name="dampingId" type="xsd:token" 
                      use="optional" default=""/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- List defining damping types -->
          <xsd:element name="dampingList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="pml" type="DT_AcousticDampingPML"/>
                <xsd:element name="dampLayer" type="DT_AcousticDampingLayer"/>
                <xsd:element name="rayleigh" type="DT_AcousticDampingRayl"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- Time Stepping Formulation (optional)-->
          <xsd:element name="timeSteppingFormulation"
            type="DT_AcousticMixedTimeStep" minOccurs="0"
            default="effStiffMatrix"/>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="dirichletHom"   type="DT_AcousticMixedHD"  />
                <xsd:element name="dirichletInhom" type="DT_AcousticMixedID"  />
                <xsd:element name="neumannInhom"  type="DT_AcousticMixedIN"  />
                <xsd:element name="regionLoad"  type="DT_AcouMixedRegionLoad"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- Desired solution values (optional) -->
          <xsd:element name="storeResults" type="DT_AcousticMixedStoreResults"
            minOccurs="0" maxOccurs="1"/>

        </xsd:sequence>

        <!-- Type of acoustic pde -->
        <xsd:attribute name="subType" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="3d"/>
              <xsd:enumeration value="plane"/>
              <xsd:enumeration value="axi"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

        <!-- Type of function space (Lagrange / Legendre) with
        optional order -->
        <xsd:attribute name="type" use="optional" default="lagrange">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="lagrange"/>
              <xsd:enumeration value="legendre"/>
	      <xsd:enumeration value="taylorHood"/>
        <xsd:enumeration value="spectral"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="order" use="optional"
        type="xsd:positiveInteger" default="1"/>

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of enumeration type describing the degrees of freedom  -->
  <!-- ******************************************************************* -->

  <xsd:simpleType name="DT_AcousticMixedDOF">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="x"/>
      <xsd:enumeration value="y"/>
      <xsd:enumeration value="z"/>
      <xsd:enumeration value=""/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of the acousticMixed unknown types -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticMixedUnknownType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressure"/>
      <xsd:enumeration value="acouVelocity"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************* -->
  <!--   Definition of the boundary condition types for acoustics -->
  <!-- ******************************************************************* -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_AcousticMixedHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="dof" type="DT_AcousticMixedDOF" use="optional" default=""/>
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="nodeList"/>
        <xsd:attribute name="quantity" default="acouVelocity"
          type="DT_AcousticMixedUnknownType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
   <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_AcousticMixedID">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticMixedHD">
        <xsd:attribute name="value" type="xsd:token" use="required"/>
        <xsd:attribute name="phase" type="xsd:token" use="optional" default="0"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticMixedIN">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticMixedID"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying loads -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcouMixedLoad">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticMixedID"/>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- Element type for region Loads -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_AcouMixedRegionLoad">
    <xsd:complexContent>
      <xsd:extension base="DT_AcouMixedLoad">
        <xsd:attribute name="coordSysId" type="xsd:token"
          use="optional" default="default"/>
        <xsd:attribute name="type" use="optional" default="total">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="total"/>
              <xsd:enumeration value="unit"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of data type for time stepping formulation -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticMixedTimeStep">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="effMassMatrix"/>
      <xsd:enumeration value="effStiffMatrix"/>
    </xsd:restriction>
  </xsd:simpleType>



  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************* -->

  <!-- What data can a single node have in an acoustic PDE -->
  <xsd:simpleType name="DT_AcousticMixedNodeResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouVelocity"/>
      <xsd:enumeration value="acouPressure"/>
      <xsd:enumeration value="acouRhsLoad"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Global type for specifying the desired acoustic output quantities -->
  <xsd:complexType name="DT_AcousticMixedStoreResults">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded">
        <!-- Nodal result definition -->
        <xsd:element name="nodeResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_NodeResult">
                <xsd:attribute name="type" type="DT_AcousticMixedNodeResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- Element result definition -->
       <!--  <xsd:element name="elemResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_ElemResult">
                <xsd:attribute name="type" type="DT_AcousticMixedElemResults"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element> -->

      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of data type for non-linearity in stokesFluid PDEs -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticMixedNonLin">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="convection"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>
