share/xml/CFS-Simulation/Schemas/CFS_FileFormats.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description for various IO format and file definitions
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************** -->
  <!--   Definition file formats element data type -->
  <!-- ******************************************************************** -->
  
  <!-- Data type for defining the input, output and material formats -->
  <xsd:complexType name="DT_FileFormats">
    <xsd:sequence>
      <xsd:element name="input"  type="DT_InputList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            List of input files which contain meshes and data. 
          </xsd:documentation>
        </xsd:annotation>        
      </xsd:element>
      <xsd:element name="output" type="DT_OutputList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            List of output files for mesh based data and history data. 
          </xsd:documentation>
        </xsd:annotation>        
      </xsd:element>
      <xsd:element name="materialData" type="DT_MatFile" minOccurs="1"
        maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Specification of material data file. 
          </xsd:documentation>
        </xsd:annotation>        
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of basic data input type -->
  <!-- ******************************************************************** -->

  <!-- This is an abstract basic input type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_InputBasic" abstract="true">
    <xsd:attribute name="id" type="xsd:token" default="default">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Unique id  of this input tag. Can  be used later on  to specify from
          which input file certain data sets should be read.
        </xsd:documentation>
      </xsd:annotation>      
    </xsd:attribute>
    <xsd:attribute name="gridId" type="xsd:token" default="default">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          CFS++  can   internally  handle  a   number  of  meshes   which  are
          distinguished by  this attribute. Per default all  meshes and inputs
          will be  read into  a mesh with  gridId="default". If more  than one
          mesh is required one can vary  the gridId, e.g. to get a second mesh
          from which data values may be interpolated to the first mesh.
        </xsd:documentation>
      </xsd:annotation>      
    </xsd:attribute>
  </xsd:complexType>

  <!-- Definition of input element group -->
  <xsd:group name="InputGroup">
    <xsd:choice>
      <xsd:element name="gmsh" type="DT_InputGmsh"/>
      <xsd:element name="gmv" type="DT_InputGMV"/>
      <xsd:element name="mesh" type="DT_InputMesh"/>
      <xsd:element name="mphtxt" type="DT_InputComsol"/>
      <xsd:element name="hdf5" type="DT_InputHDF5"/>      
      <xsd:element name="unv" type="DT_InputUNV"/>
      <xsd:element name="internal" type="DT_InputInternal"/>
    </xsd:choice>
  </xsd:group>

<!--

  <xsd:group name="InputGroup">
    <xsd:sequence>
      <xsd:group ref="InputGroup" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
-->

 <!-- Data type for specification of output file format -->
  <xsd:complexType name="DT_InputList">
    <xsd:sequence>
      <xsd:group ref="InputGroup" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of MESH data input type -->
  <!-- ******************************************************************** -->

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputMesh">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Original  mesh file  format of  CFS++. Can  be written  by  the mkmesh
        extension in ANSYS  and the plugin in GiD. Mesh  files are ASCII files
        and were also supported by CAPA which is the predecessor of CFS++.
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of GMSH  data input type -->
  <!-- ******************************************************************** -->

  <xsd:complexType name="DT_InputGmsh_RegionType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The region names have either been assigned to the physical entities in
        Gmsh or CFS++ chooses them based  on the integer index of the physical
        entity. In the  former case CFS++ will use the names  from Gmsh and it
        is not  necessary to  redefine the  names.  In the  latter case  it is
        recommended to use  cfstool for converting the .msh in  order to get a
        list of the actual region names.
      </xsd:documentation>
    </xsd:annotation>              

    <xsd:complexContent>
      <xsd:extension base="xsd:anyType">
        <xsd:attribute name="name"
          type="xsd:token"
          default="default">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              This name will be assigned  by CFS++ to the given phsical entity
              from the .msh file.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="physicalEntity" 
          type="xsd:nonNegativeInteger"
          default="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            Identify the physical entity for this region by an integer.
            </xsd:documentation>
          </xsd:annotation>              
        </xsd:attribute>
        <xsd:attribute name="linearize"
           type="xsd:boolean"
           default="false">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Read only linear versions (just corner nodes) of the elements in
              this region.
            </xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputGmsh">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Read mesh files generated using Gmsh (http://www.geuz.org/gmsh).
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
        <xsd:sequence minOccurs="0">
          <xsd:element name="region" type="DT_InputGmsh_RegionType"  minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="fileName"
		       type="xsd:token"
		       default="default">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Specify exact path to .msh file.
            </xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>
        <xsd:attribute name="coordSysId"
          type="xsd:token"
          default="default">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Use a coordinate system to transform all points in this mesh file.
            </xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>
        <xsd:attribute name="scaleFac"
          type="xsd:double"
          default="1.0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Scale geometry using this factor.
            </xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of Comsol .mphtxt  data input type -->
  <!-- ******************************************************************** -->

  <xsd:complexType name="DT_InputComsol_RegionType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Since no information about physical regions is saved in .mphtxt files, the regions have to be reassembled from surface and volume ids. The CFS++ regions are therefore assembled by specifying the domtype (volume or surface) and the list of ids in domains.
      </xsd:documentation>
    </xsd:annotation>              
    
    <xsd:complexContent>
      <xsd:extension base="xsd:anyType">
        <xsd:attribute name="name"
          type="xsd:token"
          default="default">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              This name will be assigned  by CFS++ to the given physical entity
              assembled from the domain ids in the .mphtxt file.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="domains" 
          type="xsd:token"
          default="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Specify a list of domain numbers as generated by CFS++ for COMSOL meshes.
            </xsd:documentation>
          </xsd:annotation>              
        </xsd:attribute>
        <xsd:attribute name="domtype"
          type="xsd:token"
          default="volume">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              May be 'surface' or 'volume' region.
            </xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  
  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputComsol">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Read mesh files generated using Comsol (http://www.comsol.com).
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
        <xsd:sequence minOccurs="0">
          <xsd:element name="region" type="DT_InputComsol_RegionType"  minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="fileName"
		       type="xsd:token"
		       default="default">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Specify exact path to .mphtxt file.
            </xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>
        <xsd:attribute name="info"
          type="xsd:boolean"
          default="false">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Print out infos while reading the .mphtxt file.
            </xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>        
        <xsd:attribute name="debug"
          type="xsd:boolean"
          default="false">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Print out debug information while reading the .mphtxt file.
            </xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of GMV  data input type -->
  <!-- ******************************************************************** -->

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputGMV">
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of HDF5 data input type -->
  <!-- ******************************************************************** -->

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputHDF5">
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
        <xsd:attribute name="generateRegionNodes"
		       type="DT_CFSBool"
		       default="no"/>
        <xsd:attribute name="readEntities"
		       type="xsd:token"
		       default=""/>
        <xsd:attribute name="linearizeEntities"
          type="xsd:token"
          default=""/>
        <xsd:attribute name="fileName"
		       type="xsd:token"
		       default="default"/>
        <xsd:attribute name="coordSysId"
           type="xsd:token"
           default="default"/>
        <xsd:attribute name="scaleFac"
           type="xsd:double"
           default="1.0"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of UNV  data input type -->
  <!-- ******************************************************************** -->

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputUNV">
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
        <xsd:attribute name="fileName"
          type="xsd:token"
          default="default"/>
        <xsd:attribute name="mapXTo"
          type="DT_InputUNVCoordMap"
          default="x"/>
        <xsd:attribute name="mapYTo"
          type="DT_InputUNVCoordMap"
          default="y"/>
        <xsd:attribute name="mapZTo"
          type="DT_InputUNVCoordMap"
          default="z"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="DT_InputUNVCoordMap">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="x"/>
      <xsd:enumeration value="y"/>
      <xsd:enumeration value="z"/>
      <xsd:enumeration value="zero"/>
    </xsd:restriction>
  </xsd:simpleType>  

  <!-- ******************************************************************** -->
  <!--   Definition of Internal data input type -->
  <!-- ******************************************************************** -->

  <!-- Data type for specification of input file format -->
  <xsd:complexType name="DT_InputInternal">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Internal mesh is generated from input in xml-format.
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexContent>
      <xsd:extension base="DT_InputBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  

  <xsd:group name="OutputGroup">
    <xsd:choice>
      <xsd:element name="gmsh" type="DT_OutputGMsh"
        minOccurs="0" maxOccurs="1"/>
      <xsd:element name="gmshParsed" type="DT_OutputGMshParsed"
        minOccurs="0" maxOccurs="1"/>
      <xsd:element name="gmv" type="DT_OutputGMV"
		   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="unv" type="DT_OutputUNV"
		   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="gid" type="DT_OutputGiD"
		   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="hdf5" type="DT_OutputHDF5"
		   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="xdmf" type="DT_OutputXDMF"
        minOccurs="0" maxOccurs="1"/>
      <xsd:element name="rst" type="DT_OutputRST"
		   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="text" type="DT_OutputText"
		   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="csv" type="DT_OutputCSV"
        minOccurs="0" maxOccurs="1"/>
      <xsd:element name="info" type="DT_OutputInfo"
        minOccurs="0" maxOccurs="1"/>
      <xsd:element name="streaming" type="DT_OutputStreaming"
        minOccurs="0" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>

  <!-- Data type for specification of output file format -->
  <xsd:complexType name="DT_OutputList">
    <xsd:sequence>
      <xsd:group ref="OutputGroup" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of data type for GMsh output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputGMsh">
    <xsd:attribute name="endianness" type="DT_CFSEndianness" default="native"/>
    <xsd:attribute name="binaryFormat" type="DT_CFSBool" default="yes"/>
    <xsd:attribute name="id" type="xsd:token" default="gmsh"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of data type for OutputGMshParsed output High order FEM -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputGMshParsed">
    <xsd:attribute name="id" type="xsd:token" default="gmshParsed"/>
    <xsd:attribute name="writeMode" type="xsd:token" default="region"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of data type for GMV output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputGMV">
    <xsd:attribute name="fixedGrid" type="DT_CFSBool" default="yes"/>
    <xsd:attribute name="binaryFormat" type="DT_CFSBool" default="no"/>
    <xsd:attribute name="id" type="xsd:token" default="gmv"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of data type for UNV output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputUNV">
    <xsd:attribute name="id" type="xsd:token" default="unv"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition writing history data to InfoNode output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputInfo">
    <xsd:attribute name="id" type="xsd:token" default="info"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>  

  <!-- ******************************************************************** -->
  <!--   Definition writing results to a streaming receiver -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputStreaming">
    <xsd:attribute name="id" type="xsd:token" default="streaming"/>
    <xsd:attribute name="host" type="xsd:token" default="localhost"/>
    <xsd:attribute name="port" type="xsd:nonNegativeInteger" default="8888"/>
    <xsd:attribute name="path" type="xsd:token" use="required"/>
    <xsd:attribute name="silent" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>  


  <!-- ******************************************************************** -->
  <!--   Definition of data type for GiD output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputGiD">
    <xsd:attribute name="binaryFormat" type="DT_CFSBool" default="yes"/> 
    <xsd:attribute name="groupEigenFreqs" type="DT_CFSBool" default="yes"/>
    <xsd:attribute name="id" type="xsd:token" default="gid"/>
    <xsd:attribute name="directory" type="xsd:string" default="results_gid"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
    <xsd:attribute name="mergeSequenceSteps" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of data type for HDF5 output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputHDF5">
    <xsd:attribute name="externalFiles" type="DT_CFSBool" default="no"/>
    <xsd:attribute name="maxChunkSize" type="xsd:positiveInteger" default="100"/>
    <xsd:attribute name="compressionLevel" default="6">
      <xsd:simpleType>
        <xsd:restriction base="xsd:nonNegativeInteger">
          <xsd:maxInclusive value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="directory" type="xsd:string" default="results_hdf5"/>
    <xsd:attribute name="id" type="xsd:token" default="hdf5"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of data type for XDMF output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputXDMF">
    <xsd:attribute name="directory" type="xsd:string" default="results_hdf5"/>
    <xsd:attribute name="id" type="xsd:token" default="xdmf"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of data type for ANSYS RST output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputRST">
    <xsd:attribute name="ansysRevision" default="11.0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:float">
          <xsd:minInclusive value="10.0"/>
          <xsd:maxInclusive value="14.0"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:token" default="rst"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of data type for text output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputText">
    <xsd:attribute name="commentChar" type="DT_Character" default="#"/>
    <xsd:attribute name="coordSysId" type="xsd:token" default="default"/>
    <xsd:attribute name="fileCollect" default="entity">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="entity"/>
          <xsd:enumeration value="timeFreq"/>
          <xsd:enumeration value="altogether"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="entityNumbering" default="global">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Determines the naming scheme for text files of nodes / element
          results: In case of 'global' numbering, the text files contain the
          global node / element number. In case of 'consecutive', the text
          files of a node / element list get enumerated from 1 on based on a 
          consecutive numbering.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="global"/>
          <xsd:enumeration value="consecutive"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:token" default="txt"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of data type for CSV output -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_OutputCSV">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Format history output file as comma separated values which can be read directly into ParaView.
        
        The Matlab/Octave code to read such files is: matrix = csvread('vel-line.csv',1,0);
        
        For Python refer to http://matplotlib.org/api/mlab_api.html#matplotlib.mlab.csv2rec or
        http://docs.python.org/2/library/csv.html
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="delimiter" type="DT_Character" default=",">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The delimiter character for the CSV file can be defined here. By default a comma is used.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="coordSysId" type="xsd:token" default="default"/>
    <xsd:attribute name="fileCollect" default="entity">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="entity"/>
          <xsd:enumeration value="timeFreq"/>
          <xsd:enumeration value="altogether"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="entityNumbering" default="global">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Determines the naming scheme for text files of nodes / element
          results: In case of 'global' numbering, the text files contain the
          global node / element number. In case of 'consecutive', the text
          files of a node / element list get enumerated from 1 on based on a 
          consecutive numbering.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="global"/>
          <xsd:enumeration value="consecutive"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:token" default="csv"/>
    <xsd:attribute name="gridId" type="xsd:token" default="default"/>
  </xsd:complexType>
  
  <!-- Data type for name of file containing material data -->
  <xsd:complexType name="DT_MatFile">
    <xsd:attribute name="file" type="xsd:string" use="optional"
      default="mat.xml"/>
    <xsd:attribute name="format" use="optional" default="xml">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="xml"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  



</xsd:schema>

