share/xml/CFS-Simulation/Schemas/CFS_PDEfullwaveMaxwellEadj.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org/simulation"
  xmlns="http://www.cfs++.org/simulation"
  xmlns:cfs="http://www.cfs++.org/simulation"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for a electromagnetic E-formulation adjoint PDE with edge degrees of freedoms
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of element for electromagnetic wave E-formulation adjoint PDEs -->
  <!-- ******************************************************************* -->
  <xsd:element name="emWaveEAdj" type="DT_PDEWaveEAdj" substitutionGroup="PDEBasic">
    <xsd:annotation>
      <xsd:documentation>Electromagnteic wave E-formulation solved by edge elements (just for 3D computations); 
      </xsd:documentation>
    </xsd:annotation>
    <xsd:unique name="CS_MagneticEWaveRegion">
      <xsd:selector xpath="cfs:region"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for magnetics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_PDEWaveEAdj">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- set penalty factor for static / non-conductive regimes -->
          <xsd:element name="penaltyFactor" type="xsd:float" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Sets the penalty factor in case of static computation or in case of transient / harmonic simulation in non-conductive regions; it is better to allow openCFS to set this factor automatically!</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="regionList" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:token" use="required"/>
                    <xsd:attribute name="polyId" type="xsd:string" use="optional" default="default"/> 
                    <xsd:attribute name="integId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="dampingId" type="xsd:token" use="optional" default=""/>
                    <xsd:attribute name="matDependIds" type="xsd:token" use="optional" default=""/>
                    <xsd:attribute name="magVecPolyId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="eVecPolyId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="VecPolyId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="elecScalPolyId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="ScaPolyId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="lagrangeMultPolyId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="magVecIntegId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="eVecIntegId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="VecIntegId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="elecScalIntegId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="ScaIntegId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="lagrangeMultIntegId" type="xsd:string" use="optional" default="default"/>
                    <xsd:attribute name="isConducRegion" type="xsd:boolean" use="optional" default="true"/>
                    <xsd:attribute name="velocityId" type="xsd:token" use="optional" default=""/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- List defining nonlinear types -->
          <xsd:element name="ncInterfaceList" type="DT_NcInterfaceList" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Definnes the non-matching interfaces</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
          <!-- List defining damping types -->
          <xsd:element name="dampingList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="pml" type="DT_DampingPML">
                  <xsd:annotation>
                    <xsd:documentation>Allows region to be a Perfectly Matched Layer</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>                
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- List defining nonlinear material dependency types -->
          <xsd:element name="matDependencyList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="electricConductivity" type="DT_matDependency">
                  <xsd:annotation>
                    <xsd:documentation>Electric conductivity as function of temperature</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="permeability" type="DT_matDependency">
                  <xsd:annotation>
                    <xsd:documentation>Magnetic permeability as function of temperature</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="matReluctivity" type="DT_matDependency">
                  <xsd:annotation>
                    <xsd:documentation>Magnetic reluctivity as function of space</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>      
                <xsd:element name="matPermittivity" type="DT_matDependency">
                  <xsd:annotation>
                    <xsd:documentation>Magnetic permittivity as function of space</xsd:documentation>
                  </xsd:annotation>                  
                </xsd:element>       
                <xsd:element name="matConductivity" type="DT_matDependency">
                  <xsd:annotation>
                    <xsd:documentation>Electric conductivity as function of space</xsd:documentation>
                  </xsd:annotation>                  
                </xsd:element>                                      
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
         
          <!-- Initial conditions (optional) -->
          <xsd:element name="initialValues" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">

                <!-- Initial state of previous sequence step / external file -->
                <xsd:element name="initialState" type="DT_InitialState" minOccurs="0" maxOccurs="1"/>

              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <!-- Dirichlet Boundary Conditions -->
                <xsd:element name="fluxParallel" type="DT_BcHomScalar">
                  <xsd:annotation>
                    <xsd:documentation>Magnetic field lines are forced to be parallel to the surface. This corresponds to homogeneous Neumann BCs for all edge degrees of freedom on the surface.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="potential" type="DT_BcInhomVector">
                  <xsd:annotation>
                    <xsd:documentation>Specifies the value of the magnetic vector potential (being in the tangential plane)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>

                <xsd:element name="elecPotential" type="DT_BcInhomScalar">
                  <xsd:annotation>
                    <xsd:documentation>Electric scalar potential</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="lagrangeMultiplier" type="DT_BcInhomScalar">
                  <xsd:annotation>
                    <xsd:documentation>Lagrange multiplier</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="lagrangeMultiplier1" type="DT_BcInhomScalar">
                  <xsd:annotation>
                    <xsd:documentation>additional Lagrange multiplier
                    for the double Lagrange multiplier Darwin formulation
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="voltOnEfield" type="DT_BcInhomScalar">
                  <xsd:annotation>
                    <xsd:documentation>hard to explain</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                
                <!-- RHS Load Values-->
                <xsd:element name="fluxDensity" type="DT_BcInhomVector"/>
                <xsd:element name="fieldIntensity" type="DT_BcInhomVector"/>
                <xsd:element name="elecFieldIntensity" type="DT_BcInhomVector"/>
                <xsd:element name="measuredFluxDensity" type="DT_BcInhomVector">
                  <xsd:annotation>
                    <xsd:documentation>Measured magnetic flux density (will be read from file) </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>   
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- Desired solution values (optional) -->
          <xsd:element name="storeResults" type="DT_WaveEAdjStoreResults" minOccurs="0"
            maxOccurs="1"/>

        </xsd:sequence>
	
        <xsd:attribute name="alpha" type="xsd:float" use="optional" default="1.0"/>
        <xsd:attribute name="useGradientFields" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="onlyVacuum" type="xsd:boolean" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of the magnetic unknown types -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_PDEWaveEAdjUnknownType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="elecFieldIntensityAdj"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of enumeration type describing the degrees of freedom  -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_PDEWaveEAdjDOF">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="x"/>
      <xsd:enumeration value="y"/>
      <xsd:enumeration value="z"/>
      <xsd:enumeration value=""/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of the boundary condition types for magnetics -->
  <!-- ******************************************************************* -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_PDEWaveEAdjHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="dof" type="DT_MagneticDOF" use="optional" default=""/>
        <xsd:attribute name="quantity" default="elecFieldIntensityAdj" type="DT_PDEWaveEAdjUnknownType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_PDEWaveEAdjID">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEWaveEAdjHD">
        <xsd:attribute name="value" type="xsd:token" use="required"/>
        <xsd:attribute name="phase" type="xsd:token" use="optional" default="0.0"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_PDEWaveEAdjIN">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEWaveEAdjHD"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for constraint condition -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_PDEWaveEAdjCS">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="quantity" default="elecFieldIntensityAdj" type="DT_PDEWaveEAdjUnknownType"/>
        <xsd:attribute name="masterDof" type="xsd:token" use="optional" default=""/>
        <xsd:attribute name="slaveDof" type="xsd:token" use="optional" default=""/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************* -->

  <!-- Definition of edge result types of magnetic PDE -->
  <xsd:simpleType name="DT_WaveEAdjResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="elecFieldIntensityAdj"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Definition of nodal result types of magnetic PDE -->
  <xsd:simpleType name="DT_WaveEAdjNodeResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="elecPotential"/>
      <xsd:enumeration value="lagrangeMultiplier"/>
      <xsd:enumeration value="lagrangeMultiplier1"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Definition of elem result types of magnetic PDE -->
  <xsd:simpleType name="DT_WaveEAdjElemResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="elecFieldIntensityAdj"/>
      <xsd:enumeration value="elecFieldVorticityAdj" />           
      <xsd:enumeration value="magElemPermeability"/>
      <xsd:enumeration value="magElemPermittivity"/>
      <xsd:enumeration value="magElemReluctivity" />     
      <xsd:enumeration value="magRhsLoadAdj"/>

    </xsd:restriction>
  </xsd:simpleType>

  <!-- Definition of surface element result types of magneticedge PDE -->
  <xsd:simpleType name="DT_WaveEAdjSurfElemResult">
    <xsd:restriction base="xsd:token">
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Definition of region result types of magnetic PDE -->
  <xsd:simpleType name="DT_WaveEAdjRegionResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="volume"/>
      <xsd:enumeration value="magAveragedFluxDensity"/>
      <xsd:enumeration value="magGradAdjParam"/>
      <xsd:enumeration value="magGradAdjParam1"/>
      <xsd:enumeration value="magGradAdjParam2"/>
      <xsd:enumeration value="magGradAdjParam3"/>
      <xsd:enumeration value="magGradAdjParam4"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Definition of surf region result types of magnetic PDE -->
  <xsd:simpleType name="DT_WaveEAdjSurfRegionResult">
    <xsd:restriction base="xsd:token">
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Definition of coil result types of magnetic PDE -->
  <xsd:simpleType name="DT_WaveEAdjCoilResult">
    <xsd:restriction base="xsd:token">
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Global type for specifying desired output quantities -->
  <xsd:complexType name="DT_WaveEAdjStoreResults">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded">

        <!-- Nodal result definition -->
        <xsd:element name="nodeResult" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_NodeResult">
                <xsd:attribute name="type" type="DT_WaveEAdjNodeResult"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- Element result definition -->
        <xsd:element name="elemResult" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_ElemResult">
                <xsd:attribute name="type" type="DT_WaveEAdjElemResult"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- Region result definition -->
        <xsd:element name="regionResult" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_RegionResult">
                <xsd:attribute name="type" type="DT_WaveEAdjRegionResult"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- Surface region result definition -->
        <xsd:element name="surfRegionResult" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_SurfRegionResult">
                <xsd:attribute name="type" type="DT_WaveEAdjSurfRegionResult" use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- Coil result definition -->
        <xsd:element name="coilResult" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_CoilResult">
                <xsd:attribute name="type" type="DT_WaveEAdjCoilResult" use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- SensorArrayResults -->
        <xsd:element name="sensorArray" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_SensorArrayResult">
                <xsd:attribute name="type" type="DT_WaveEAdjElemResult"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        
        <!-- Surface element result definition -->
        <xsd:element name="surfElemResult" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_SurfElemResult">
                <xsd:attribute name="type" type="DT_WaveEAdjSurfRegionResult" use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>


</xsd:schema>
