share/xml/CFS-Simulation/Schemas/CFS_PDEbasic.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for basic PDE description and boundary conditions
      All other PDE descriptions are derived from this type
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************** -->
  <!--   Definition of basic PDE data type -->
  <!-- ******************************************************************** -->

  <!-- This is an abstract basic type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_PDEBasic" abstract="true">
    
    <xsd:attribute name="feSpaceFormulation" type="DT_FeFormulationBasic" use="optional" default="default"/>
    <!-- This attribute is used to refer to the corresponding linearSystem-element -->
    <xsd:attribute name="pdeFormulation" type="DT_FeFormulationBasic" use="optional" default="default"/>
    <xsd:attribute name="systemId" type="xsd:token" use="optional" default="default"/>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of basic PDE element -->
  <!-- ******************************************************************** -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised PDE elements -->
  <xsd:element name="PDEBasic" type="DT_PDEBasic" abstract="true"/>


  <!-- ******************************************************************** -->
  <!--   Definition of standard type for boundary conditions -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying boundary conditions -->
  <xsd:complexType name="DT_BCBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of data from external fields                            -->
  <!-- ******************************************************************** -->

  <!-- Depend Type of grid coeffunction -->
  <xsd:simpleType name="DT_CoefGirdDependType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="GENERAL"/>
      <xsd:enumeration value="TIMEFREQ"/>
      <xsd:enumeration value="CONST"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Mode of interpolation -->
  <xsd:simpleType name="DT_CoefGirdInterpolMode">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="standard"/>
      <xsd:enumeration value="conservative"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DT_BaseGridData">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">        
        <xsd:choice>
          <xsd:element name="defaultGrid">             
             <xsd:complexType>
               <xsd:sequence>
                 <xsd:element name="factor" maxOccurs="1" minOccurs="0" default="1" type="xsd:int"/>
               </xsd:sequence>
               <xsd:attribute name="quantity" use="required"/>
               <xsd:attribute name="dependtype" type="DT_CoefGirdDependType" use="required" />
               <xsd:attribute name="sequenceStep" type="xsd:integer" use="optional" default="1" />
             </xsd:complexType>
          </xsd:element>
          <xsd:element name="externalGrid">
            <xsd:complexType>
              <xsd:sequence> 
                <xsd:element name="globalFactor" maxOccurs="1" minOccurs="0" default="1" type="xsd:token"/>
                <xsd:element name="globalTolerance" maxOccurs="1" minOccurs="1" type="xsd:double"/>
                <xsd:element name="localTolerance" maxOccurs="1" minOccurs="1" type="xsd:double"/>
                <xsd:element name="regionList">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:attribute name="srcRegionName" type="xsd:token" use="required"/>
                          <xsd:attribute name="regionFactor" type="xsd:token" default="1.0" use="optional"/>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
              <xsd:attribute name="gridId" type="xsd:token" use="required"/>
              <xsd:attribute name="inputId" type="xsd:token" use="required"/>
              <xsd:attribute name="quantity" use="required"/>
              <xsd:attribute name="dependtype" type="DT_CoefGirdDependType" use="required" />
              <xsd:attribute name="interpolation" type="DT_CoefGirdInterpolMode" use="optional" default="standard"/>            
               <xsd:attribute name="sequenceStep" type="xsd:integer" use="optional" default="1" />
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="dofs" type="xsd:token" use="optional" default="all"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  
	<!-- ******************************************************************** -->
  <!--   Definition of data from iterative coupled field problems           -->
  <!-- ******************************************************************** -->
	<xsd:complexType name="DT_IterCplData">
		<xsd:complexContent>
	  	<xsd:restriction base="xsd:anyType">        
	    	<xsd:sequence>
		    	<xsd:element name="quantity">
		    		<xsd:complexType>
		    			<xsd:attribute name="name" type="xsd:token" use="required"/>	    		
		    		</xsd:complexType>	    	
		    	</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="pdeName" type="xsd:token" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
  

  <!-- ******************************************************************* -->
  <!--   Definition of standard types for Bcs and RHS values               -->
  <!-- ******************************************************************* -->
  <!-- Base element type for specifying boundary conditions and RHS values-->
  <xsd:complexType name="DT_BcBasic">    
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="name" type="xsd:token"  use="required"/>
        <xsd:attribute name="coordSysId" type="xsd:token"  default="default"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Homogeneous Boundary Conditions                                   -->
  <!-- ******************************************************************* --> 
  
  <!-- Homogeneous scalar boundary condition -->
  <xsd:complexType name="DT_BcHomScalar">
    <xsd:complexContent>
      <xsd:extension base="DT_BcBasic">
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
  <!-- Homogeneous vector-valued boundary condition -->
  <xsd:complexType name="DT_BcHomVector">
    <xsd:complexContent>
      <xsd:extension base="DT_BcBasic">
        <!-- single components given -->
        <xsd:sequence>
          <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="dof" type="xsd:token" use="required"/>
            </xsd:complexType>  
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
   <!-- Homogeneous tensor-valued boundary condition -->
  <xsd:complexType name="DT_BcHomTensor">
    <xsd:complexContent>
      <xsd:extension base="DT_BcBasic">
        <!-- single components given -->
        <xsd:sequence>
          <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="dof" type="xsd:token" use="required"/>
            </xsd:complexType>  
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Inomogeneous Boundary Conditions / RHS Excitation                 -->
  <!-- ******************************************************************* --> 

  <!-- Inhomogeneous scalar boundary condition / RHS value -->
  <xsd:complexType name="DT_BcInhomScalar">
    <xsd:complexContent>
      <xsd:extension base="DT_BcBasic">
        <xsd:attribute name="value" type="xsd:token"  use="required"/>
        <xsd:attribute name="phase" type="xsd:token"  default="0.0"/>
        <!--xsd:choice>
          <1) complete vector given>
          <xsd:sequence>
            <xsd:element name="values" type="DT_TokenList" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="phase" type="DT_TokenList" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>

          <2) single components given>
          <xsd:sequence>
            <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="dof" type="xsd:token" use="required"/>
                <xsd:attribute name="value" type="xsd:token" use="required"/>
                <xsd:attribute name="phase" type="xsd:token" use="optional" default="0.0"/>
              </xsd:complexType>  
            </xsd:element>
          </xsd:sequence>
          
          <Read Data from external Grids>
          <xsd:element name="grid" maxOccurs="1" type="DT_BaseGridData"/>
            
					<Obtain data from iterative coupling>
					<xsd:element name="coupling" maxOccurs="1" type="DT_IterCplData"/>
        </xsd:choice-->
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
  <!-- Inhomogeneous vector-valued boundary condition / RHS value -->
  <xsd:complexType name="DT_BcInhomVector">
    <xsd:complexContent>
      <xsd:extension base="DT_BcBasic">
        <xsd:choice>
          
          <!-- 1) complete vector given -->
          <xsd:sequence>
            <xsd:element name="values" type="DT_TokenList" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="phase" type="DT_TokenList" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>

          <!-- 2) single components given -->
          <xsd:sequence>
            <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="dof" type="xsd:token" use="required"/>
                <xsd:attribute name="value" type="xsd:token" use="required"/>
                <xsd:attribute name="phase" type="xsd:token" use="optional" default="0.0"/>
              </xsd:complexType>  
            </xsd:element>
          </xsd:sequence>
          
          <!-- Read Data from external Grids -->
          <xsd:element name="grid" maxOccurs="1" type="DT_BaseGridData"/>
            
					<!-- Obtain data from iterative coupling -->
					<xsd:element name="coupling" maxOccurs="1" type="DT_IterCplData"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>
  
  <!-- Inhomogeneous tensor-valued boundary condition / RHS value -->
  <xsd:complexType name="DT_BcInhomTensor">
    <xsd:complexContent>
      <xsd:extension base="DT_BcBasic">
        <xsd:choice>
          
          <!-- 1) complete vector given -->
          <xsd:sequence>
            <xsd:element name="values" type="DT_TokenList" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="phase" type="DT_TokenList" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
          
          <!-- 2) single components given -->
          <xsd:sequence>
            <xsd:element name="comp" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="dof" type="xsd:token" use="required"/>
                <xsd:attribute name="value" type="xsd:token" use="required"/>
                <xsd:attribute name="phase" type="xsd:token" use="optional" default="0.0"/>
              </xsd:complexType>  
            </xsd:element>
          </xsd:sequence>
          
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of standard type for nonlinearity -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying boundary conditions -->
  <xsd:complexType name="DT_NonLinBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="id" type="xsd:token" use="required"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of basic function space types -->
  <!-- ******************************************************************** -->
  <xsd:simpleType name="DT_FeFormulationBasic">
    <xsd:restriction base="xsd:token">
       <xsd:enumeration value="default"/>
       <xsd:enumeration value="H1"/>
       <xsd:enumeration value="HCurl"/>
       <xsd:enumeration value="HDiv"/>
       <xsd:enumeration value="L2"/>
    </xsd:restriction>
  </xsd:simpleType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of non-matching grid formulations -->
  <!-- ******************************************************************** -->
  <xsd:simpleType name="DT_NMGFormulationBasic">
    <xsd:restriction base="xsd:token">
       <xsd:enumeration value="None"/>
       <xsd:enumeration value="Nitsche"/>
       <xsd:enumeration value="Mortar"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of standard type for damping -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying boundary conditions -->
  <xsd:complexType name="DT_DampingBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="id" type="xsd:token" use="required"/>
        <!--xsd:attribute name="aPML" type="DT_CFSBool" use="optional" default="no"/-->
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of standard type for flow data -->
  <!-- ******************************************************************** -->

  <!-- Base element type for specifying boundary conditions -->
  <xsd:complexType name="DT_FlowBasic">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="id" type="xsd:token" use="required"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of PML damping -->
  <!-- ******************************************************************* -->
  
  <!-- Definition of pml damping type -->
  <xsd:complexType name="DT_DampingPML">
    <xsd:complexContent>
      <xsd:extension base="DT_DampingBasic">
        <xsd:sequence>
          
          <!-- Reference coordinate system, in which PML damping is defined -->
          <xsd:element name="coordSysId" minOccurs="0" maxOccurs="1" type="xsd:token"/>          
          
          <!-- Geometric definition of region -->
          <xsd:element name="propRegion" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="direction" minOccurs="1" maxOccurs="3">
                  <xsd:complexType>
                    <xsd:attribute name="comp" type="DT_CosyCompType" use="required"/>
                    <xsd:attribute name="min" type="xsd:token" use="required"/>
                    <xsd:attribute name="max" type="xsd:token" use="required"/>
                    </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          
          <!-- Type of PML -->
          <xsd:element name="type" minOccurs="0" maxOccurs="1" default="inverseDist">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="constant"   />
                <xsd:enumeration value="quadDist"     />
                <xsd:enumeration value="inverseDist"     />
                <xsd:enumeration value="smoothDamp"     />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          
          <!-- Damping factor -->
          <xsd:element name="dampFactor" type="xsd:token" minOccurs="0" maxOccurs="1" />
          
          <!--xsd:element name="aPML"  type="DT_CFSBool" minOccurs="0" maxOccurs="1" default="no"/-->
        </xsd:sequence>
        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- ******************************************************************** -->
  <!--   Definition of basic result data type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_BasicResult" abstract="true">
    <xsd:attribute name="complexFormat" type="DT_ComplexFormat"
      use="optional" default="amplPhase"/>
  </xsd:complexType>

  
  <!-- ******************************************************************** -->
  <!--   Definition of basic result storing data type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_ResultSavingType" abstract="true">
    <xsd:attribute name="saveBegin" type="xsd:token" default="0"/>
    <xsd:attribute name="saveEnd" type="xsd:token" default="2147483647"/>
    <xsd:attribute name="saveInc" type="xsd:token" default="1"/>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of nodal result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_NodeResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">
        <xsd:sequence minOccurs="1">

          <!-- 1.) Definition by 'regionList' -->
          <xsd:choice minOccurs="1" maxOccurs="1">

            <!-- choice for a) several results regions-->
            <xsd:element name="regionList" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="DT_ResultSavingType">
                    <xsd:sequence>
                      <xsd:element name="region"
                        type="DT_SingleRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>

            <!-- choice for b) all regions-->
            <xsd:element name="allRegions"
              type="DT_AllRegionResultDescr" minOccurs="1" maxOccurs="1"/>
          </xsd:choice>
          
          <!-- 2.) Definition by named nodes -->
          <xsd:element name="nodeList" minOccurs="0">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="nodes" type="DT_HistResultDescr"
                      minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of element result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_ElemResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">
        <xsd:sequence minOccurs="1">

          <!-- 1.) Definition by 'regionList' -->
          <xsd:choice minOccurs="0" maxOccurs="1">

            <!-- choice for a) several results regions-->
             <xsd:element name="regionList" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="DT_ResultSavingType">
                    <xsd:sequence>
                      <xsd:element name="region"
                        type="DT_SingleRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            
            <!-- choice for b) all regions-->
            <xsd:element name="allRegions"
              type="DT_AllRegionResultDescr" minOccurs="1" maxOccurs="1"/>
          </xsd:choice>

          <!-- 2.) Definition by named elements -->
          <xsd:element name="elemList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence minOccurs="0" maxOccurs="1">
                    <xsd:element name="elems" type="DT_HistResultDescr"
                      minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


 <!-- ******************************************************************** -->
  <!--   Definition of surface element result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_SurfElemResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">
        <xsd:sequence minOccurs="1">

          <!-- 1.) Definition by 'regionList' -->
          <xsd:element name="surfRegionList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence>
                    <xsd:element name="surfRegion"
                      type="DT_SingleSurfRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>

          <!-- 2.) Definition by named elements -->
          <xsd:element name="surfElemList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence minOccurs="0" maxOccurs="1">
                    <xsd:element name="surfElems" type="DT_SurfElemHistResultDescr"
                      minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>

        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
            

  <!-- ******************************************************************** -->
  <!--   Definition of region result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_RegionResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">

        <!-- 1.) Definition by 'regionList' -->
        <xsd:choice minOccurs="1" maxOccurs="1">
          
          <!-- choice for a) several results regions-->
          <xsd:element name="regionList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence>
                    <xsd:element name="region"
                      type="DT_SingleRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>

          <!-- choice for b) all regions-->
          <xsd:element name="allRegions"
            type="DT_AllRegionResultDescr" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

 <!-- ******************************************************************** -->
  <!--   Definition of surface region result type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_SurfRegionResult">
    <xsd:complexContent>
      <xsd:extension base="DT_BasicResult">
        <xsd:sequence minOccurs="1">

          <!-- 1.) Definition by 'regionList' -->
          <xsd:element name="surfRegionList" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="DT_ResultSavingType">
                  <xsd:sequence>
                    <xsd:element name="surfRegion"
                      type="DT_SingleSurfRegionResultDescr" minOccurs="1" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************** -->
  <!--   Definition of field interpolation -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_FieldResult">
    <xsd:sequence>
      <xsd:element name="list" minOccurs="0" maxOccurs="3">
        <xsd:complexType>
          <xsd:attribute name="comp" type="DT_CosyCompType" use="required"/>
          <xsd:attribute name="start" type="xsd:token" use="required"/>
          <xsd:attribute name="stop" type="xsd:token" use="required"/>
          <xsd:attribute name="inc" type="xsd:token" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="fileName" default="xsd:token"/>
    <xsd:attribute name="csv" default="no" type="DT_CFSBool">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Format output file as comma separated values which can be read directly into ParaView.
          
          The Matlab/Octave code to read such files is: matrix = csvread('vel-line.csv',1,0);
          
          For Python refer to http://matplotlib.org/api/mlab_api.html#matplotlib.mlab.csv2rec or
          http://docs.python.org/2/library/csv.html
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="delimiter" default="," type="xsd:token">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The delimiter character for the CSV file can be defined here. By default a comma is used.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  
  <!-- ******************************************************************** -->
  <!--   Definition of single region result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_SingleRegionResultDescr">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="postProcId" type="xsd:token" default=""/>
    <xsd:attribute name="outputIds" type="xsd:token" default=""/>
    <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>
  

  <!-- ******************************************************************** -->
  <!--   Definition of all region result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_AllRegionResultDescr">
    <xsd:complexContent>
      <xsd:extension base="DT_ResultSavingType">
        <xsd:attribute name="postProcId" type="xsd:token" default=""/>
        <xsd:attribute name="outputIds" type="xsd:token"
          default=""/>
        <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of single surface region result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_SingleSurfRegionResultDescr">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="neighborRegion" type="xsd:token"
    use="optional" default=""/>
    <xsd:attribute name="postProcId" type="xsd:token" default=""/>
    <xsd:attribute name="outputIds" type="xsd:token" default=""/>
    <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of history result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_HistResultDescr">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="postProcId" type="xsd:token" default=""/>
    <xsd:attribute name="outputIds" type="xsd:token"
      default=""/>
    <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>

 <!-- ******************************************************************** -->
  <!--   Definition of surface element history result description type -->
  <!-- ******************************************************************** -->
  
  <!-- Please but documentation here -->
  <xsd:complexType name="DT_SurfElemHistResultDescr">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="neighborRegion" type="xsd:token"
    use="optional" default=""/>
    <xsd:attribute name="postProcId" type="xsd:token" default=""/>
    <xsd:attribute name="outputIds" type="xsd:token"
      default=""/>
    <xsd:attribute name="writeResult" type="DT_CFSBool" default="yes"/>
  </xsd:complexType>
  

</xsd:schema>
