share/xml/CFS-Simulation/Schemas/CFS_Analysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description for all things related to the type of analysis
    </xsd:documentation>
  </xsd:annotation>

  <!-- Data type for specifying type of analysis to be performed -->
  <xsd:complexType name="DT_Analysis">
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attribute name="type" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="static"/>
              <xsd:enumeration value="harmonic"/>
              <xsd:enumeration value="transient"/>
              <xsd:enumeration value="eigenFrequency"/>
              <xsd:enumeration value="inverseSource"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of basic Analysis type -->
  <!-- ******************************************************************* -->

  <!-- This is an abstract basic type so that it cannot appear in an -->
  <!-- instance document -->
  <xsd:complexType name="DT_AnalysisBasic" abstract="true"/>  

  <!-- ******************************************************************* -->
  <!--   Definition of basic Analysis element -->
  <!-- ******************************************************************* -->

  <!-- This element is abstract in order to force substitution -->
  <!-- by the derived specialised analysis elements -->

  <xsd:element name="AnalysisBasic" type="DT_AnalysisBasic" abstract="true"/>

  <!-- ******************************************************************* -->
  <!--   Definition of element Analysis Static -->
  <!-- ******************************************************************* -->
  <xsd:element name="static" type="DT_AnalysisStatic"
    substitutionGroup="AnalysisBasic"> 
  </xsd:element>

  <!-- Data type for static analysis -->
  <xsd:complexType name="DT_AnalysisStatic">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="allowPostProc" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>      
      </xsd:extension>    
    </xsd:complexContent>
  </xsd:complexType>




  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisTransient -->
  <!-- ******************************************************************* -->
  <xsd:element name="transient" type="DT_AnalysisTransient"
    substitutionGroup="AnalysisBasic"> 
  </xsd:element>

  <!-- Data type for transient section, i.e. parameters required for
       performing a transient analysis -->
  <xsd:complexType name="DT_AnalysisTransient">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
      	<xsd:sequence>
          <xsd:element name="numSteps" type="xsd:token"/>
          <xsd:element name="deltaT" type="xsd:token"/>
          <xsd:element name="writeRestart" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
           <xsd:element name="allowPostProc" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        
        <!-- Specify behavior of time step varaible t. Accumulated denots that
             the time is accumulated over several sequence steps.
             Zero denotes that each MultiSequence step has its own local time, 
             starting at 0 -->
        <xsd:attribute name="initialTime" default="accumulated">
   	      <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="accumulated"/>
              <xsd:enumeration value="zero"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of element AnalysisHarmonic -->
  <!-- ******************************************************************* -->
  <xsd:element name="harmonic" type="DT_AnalysisHarmonic"
    substitutionGroup="AnalysisBasic"/>

  <!-- Data type for harmonic section, i.e. parameters required for
       performing a harmonic analysis -->
  <xsd:complexType name="DT_AnalysisHarmonic">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="numFreq" type="xsd:token" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="startFreq" type="xsd:token" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="stopFreq" type="xsd:token" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="sampling" minOccurs="0" maxOccurs="1" default="linear">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="linear"/>
                <xsd:enumeration value="log"/>
                <xsd:enumeration value="reverseLog"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="frequencyList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="freq" maxOccurs="unbounded" minOccurs="1">
                  <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:token" use="required"/>
                    <xsd:attribute name="weight" type="xsd:token" default="1.0" use="optional"/> 
                  </xsd:complexType>
                </xsd:element>                
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="writeRestart" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="allowPostProc" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> 
  
  <!-- ******************************************************************* -->
  <!--   Definition of element eigenFrequency -->
  <!-- ******************************************************************* -->
  <xsd:element name="eigenFrequency" type="DT_AnalysisEigenFrequency"
    substitutionGroup="AnalysisBasic"/>

  <!-- Data type for performing an eigenfrequency analysis -->
  <xsd:complexType name="DT_AnalysisEigenFrequency">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>
          <xsd:element name="isQuadratic" type="DT_CFSBool"/>
          <xsd:element name="numModes" type="xsd:token"/>
          <xsd:element name="freqShift" type="DT_NonNegFloat"/>
          <xsd:element name="writeModes" type="DT_CFSBool"/>
          <!-- bloch band gap visualization on the IBZ -->
          <xsd:element name="bloch" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
               <xsd:element name="ibz" minOccurs="0" maxOccurs="1">
                 <xsd:complexType>
                   <xsd:attribute name="sample" use="required">
                     <xsd:simpleType>
                       <xsd:restriction base="xsd:token">
                         <!-- This is a triangle in 2D and and tetrahedron in 3D. Note that this is only valid for symmetric designs! --> 
                         <xsd:enumeration value="symmetric"/>
                         <!-- This is a (boundary! of a) rectangle in 3D (first quadrant) and a cube in 3D. Necessary for non-symmetric designs! -->
                         <xsd:enumeration value="quadrant"/>
                         <!-- This is just the horizontal part for 2D and 3D -->
                         <xsd:enumeration value="horizontal"/>
                         <!-- this regularly samples the first quadrant, has no practical meaning - just to verify the quadrant and triangle -->
                         <xsd:enumeration value="full"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                   </xsd:attribute>
                   <xsd:attribute name="steps" use="required" type="xsd:int"/>
                 </xsd:complexType>
               </xsd:element>
               <xsd:element name="waveVector" minOccurs="0" maxOccurs="unbounded">
                 <xsd:complexType>
                    <xsd:attribute name="x" type="xsd:float" use="required"/>
                    <xsd:attribute name="y" type="xsd:float" use="required"/>
                 </xsd:complexType>
               </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="allowPostProc" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <!-- Arpack, our only EV solver, sometimes presents unsorted evs. 
             By this option the evs are sorted by magnitude. For quadratic problems with real complex evs
            this makes not sense. For bloch it is ok as the imaginary part is only spurious (Hermitian system)  -->
        <xsd:attribute name="sort" use="optional" type="xsd:boolean" default="true"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> 


  <!-- ******************************************************************* -->
  <!--   Definition of element InverseSource -->
  <!-- ******************************************************************* -->
  <xsd:element name="inverseSource" type="DT_AnalysisInverseSource"
    substitutionGroup="AnalysisBasic"/>

  <!-- Data type for harmonic section, i.e. parameters required for
       performing a harmonic analysis -->
  <xsd:complexType name="DT_AnalysisInverseSource">
    <xsd:complexContent>
      <xsd:extension base="DT_AnalysisBasic">
        <xsd:sequence>   
          <xsd:element name="measDataFilename" type="xsd:string" minOccurs="1" maxOccurs="1"/>          
          <xsd:element name="freq" type="xsd:token" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="alphaPar" type="xsd:token" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="betaPar" type="xsd:token" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="rhoPar" type="xsd:token" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="expPar" type="xsd:token" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="resStopCritRel" type="xsd:token" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="maxReduceParSteps" type="xsd:token" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="maxGradSteps" type="xsd:token" minOccurs="1" maxOccurs="1"/>         
          <xsd:element name="maxNumLineSearch" type="xsd:token" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="minMicDistant" type="xsd:token" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="logLevel" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="writeRestart" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="allowPostProc" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> 

</xsd:schema>
