share/xml/CFS-Simulation/Schemas/CFS_Optimization.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description Optimization setting
    </xsd:documentation>
  </xsd:annotation>
  
  <!-- ******************************************************************** -->
  <!--   Definition of an optimization problem at all                       -->
  <!-- ******************************************************************** -->
  <!-- example: <optimization type="SIMP" log="gnuplot.dat"> -->
  <xsd:complexType name="DT_Optimization">
    <xsd:sequence>
      
      
      <!-- Costfunction is mandatory and includes optional stoppingRule values
        <costFunction type="compliance" task="minimize" stoppingRule="relative" value="1e-3" queue="2"/> -->
      <xsd:element name="costFunction" minOccurs="1">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="trackings" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="tracking" minOccurs="0" maxOccurs="unbounded" type="DT_MechLoad"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

            <xsd:element name="factor" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:attribute name="omega_omega" type="xsd:boolean" default="false" use="optional"/>
              </xsd:complexType>
            </xsd:element>
            
            <!--   <multipleExcitation type="fixed_weights/meta_objective">
                     <metaObjective type="best_value"/>
                     <adjustWeights stride="1" max_gain="1e4"/>
                   </multipleExcitation> -->        
            <xsd:element name="multipleExcitation" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:all>
                  <xsd:element name="metaObjective">
                    <xsd:complexType>
                      <xsd:attribute name="type" default="best_objective" use="optional">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="best_objective"></xsd:enumeration>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="adjustWeights">
                    <xsd:complexType>
                      <xsd:attribute name="damping" use="optional" default="1.0" type="xsd:float"/>                      
                      <xsd:attribute name="stride" use="optional" default="1" type="xsd:nonNegativeInteger"/>
                      <xsd:attribute name="max_gain" use="optional" default="1e4" type="xsd:float"/>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="excitations" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="excitation" minOccurs="1" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:all>
                              <xsd:element name="loads" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:choice minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="load"           type="DT_MechLoad"      />
                                    <xsd:element name="pressure"       type="DT_MechPressure"  />
                                    <xsd:element name="regionLoad"     type="DT_MechRegionLoad"/>
                                    <xsd:element name="testStrain"     type="DT_MechTestStrain"/>
                                  </xsd:choice>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="trackings" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="tracking" minOccurs="0" maxOccurs="unbounded" type="DT_MechLoad"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:all>
                            <xsd:attribute name="weight" type="xsd:double" use="optional" default="1.0"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:all>
                <xsd:attribute name="type" default="fixed_weights" use="optional">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="fixed_weights"/>
                      <xsd:enumeration value="meta_objective"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>  
              </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="output" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="displacement" minOccurs="0" maxOccurs="unbounded" type="DT_MechLoad"/>
                  <xsd:element name="elecPotential" minOccurs="0" maxOccurs="unbounded" type="DT_ElecLoad"/>
                  <!-- here the quantity attribute shall be set in the probem file. Default is acouPressure! -->
                  <xsd:element name="acoustic" minOccurs="0" maxOccurs="unbounded" type="DT_AcousticLoad"/>                  
                </xsd:sequence>                                  
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
          
          <!-- mandatory to give the type. The type is one of a list of types -->
          <xsd:attribute name="type" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="compliance"/>
                <xsd:enumeration value="output"/>                
                <xsd:enumeration value="conjugateCompliance"/>
                <xsd:enumeration value="globalDynamicCompliance"/>
                <xsd:enumeration value="dynamicOutput"/>
                <xsd:enumeration value="absDynamicOutputSquared"/>
                <xsd:enumeration value="tracking"/>
                <xsd:enumeration value="elecEnergy"/>
                <xsd:enumeration value="homogenization"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          
          <!-- an optional attribute for the costfunction is the task: minimize or maximize -->
          <xsd:attribute name="task" use="optional" default="minimize">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="minimize"/>
                <xsd:enumeration value="maximize"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          
          <!-- Define if we we shall calculate with multiple excitations. Defined for
            mechanical/static loads and multiple harmonic frequencies. 
            The corresponding element is optional -->
          <xsd:attribute name="multiple_excitation" type="xsd:boolean" use="optional" default="false" />
          
          <!-- optional stopping rule.  -->
          <xsd:attribute name="stoppingRule" use="optional" default="relative">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="relative"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          
          <!-- optional to give the stopping rule value.  -->
          <xsd:attribute name="value" use="optional"  type="xsd:float" default="1e-5"/>
          
          <!-- optinoal to give the stopping rule queue lenght, this is for how many steps the criteria has to hold.  -->
          <xsd:attribute name="queue" use="optional" type="xsd:positiveInteger" default="2"/>
          
          <xsd:attribute name="tychonoff" use="optional" type="xsd:float" default="0.0"/>
          
        </xsd:complexType>
      </xsd:element>
      
      <!-- constraint: e.g. <constraint type="volume" value="0.5"/> optional -->
      <xsd:element name="constraint" minOccurs="0" maxOccurs="10">
        <xsd:complexType>
          <!-- mandatory to give the name -->
          <xsd:attribute name="name" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="volume"/>
                <xsd:enumeration value="compliance"/>
                <xsd:enumeration value="greyness"/>
                <xsd:enumeration value="gaussGreyness"/>
                <xsd:enumeration value="realvolume"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- The desing is optional. If not given it is for all  -->
          <xsd:attribute name="design" use="optional" type="DT_Design"/>
          <!-- A constraint value is always scalar -->
          <xsd:attribute name="value" use="optional" default="-1.0" type="xsd:float"/>
          <!-- some constraints (gaussGreyness) have a parameter -->
          <xsd:attribute name="parameter" use="optional" type="xsd:float"/>
          <!-- for IPOPT one can scale to value and gradient. Only seen there -->
          <xsd:attribute name="scaling" use="optional" type="xsd:float" default="1.0" />
          <!-- optional to give the type - default is equal -->
          <xsd:attribute name="type" use="optional" default="equal">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="equal"/>
                <xsd:enumeration value="lowerBound"/>
                <xsd:enumeration value="upperBound"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- Determine if this is a real constraint or if we just want its logging
            mode="output_only" -->
          <xsd:attribute name="mode" use="optional" default="constraint">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="constraint"/>
                <xsd:enumeration value="observation"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- constraints are integrated via penalty/lagrange multipliers in the level set method -->
          <xsd:attribute name="penalty" use="optional" default="0.0" type="xsd:float"/>
          <xsd:attribute name="region" use="optional" default="all" type="xsd:token"/>          
          
        </xsd:complexType>
      </xsd:element>

      <!-- optimizer: e.g. <optimizer type="optimialityCondition" maxIterations="20"/> mandatory -->
      <xsd:element name="optimizer" minOccurs="1">
        <xsd:complexType>
          <!-- It is optional to define the optimizer in more detail. -->
          <xsd:sequence>
            <!-- This describes the optional autoscale setting 
              <autoscale target="10" tolerance="0.5" />-->
            <xsd:element name="autoscale" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:attribute name="target" use="required" type="xsd:float"/>
                <xsd:attribute name="tolerance" use="optional" default="0.0" type="xsd:float"/>  
              </xsd:complexType>
            </xsd:element>
            
            <!-- This is an ipopt element which has * child elements with options -->
            <xsd:element name="ipopt" minOccurs="0" type="DT_ExternalOptimizer"/>
            
            <!-- we made scpip the look like ipopt -->
            <xsd:element name="scpip" minOccurs="0" type="DT_ExternalOptimizer"/>
            

            <!-- the parameters of the shape optimizer can be set
                 <shapeOpt enableTopgrad="true" /> -->
            <xsd:element name="shapeOpt" minOccurs="0">
              <xsd:complexType>
                <xsd:all>
                  <!-- begin topgrad element -->
                  <xsd:element name="topGrad" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <!-- how many element to remove in one iteration -->
                      <xsd:attribute name="tg_elemsremove" type="xsd:positiveInteger" default="1" use="optional"/>
                      <!-- percentage of elements being removed in first iteration -->
                      <xsd:attribute name="tg_initpercent" type="xsd:float" default="0.3" use="optional"/>
                      <!-- signals if we should adaptively change the number of removed elements per iteration -->
                      <xsd:attribute name="tg_enableadaptive" type="xsd:boolean" default="false" use="optional"/>
                      <!-- signals if more output to std::cout is given -->
                      <xsd:attribute name="tg_moreoutput" type="xsd:boolean" default="false" use="optional"/>
                    </xsd:complexType>
                  </xsd:element>
                  <!-- end topgrad element -->
                  <!-- begin levelset element -->
                  <xsd:element name="levelSet" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                  <xsd:element name="actionList" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="action" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:attribute name="type" use="required">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                  <xsd:enumeration value="signedDistanceField"/>
                                  <xsd:enumeration value="shapeStep"/>
                                  <xsd:enumeration value="trivialHole"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:attribute>
                            <!-- how often to exectue -->
                            <xsd:attribute name="modulus" type="xsd:positiveInteger" default="1" use="optional"/>
                            <!-- how oftern to perfom this actions -->
                            <xsd:attribute name="perform" type="xsd:nonNegativeInteger" default="1" use="optional"/>
                            <!-- should we perform the action in the first iteration -->
                            <xsd:attribute name="first" type="xsd:boolean" default="true" use="optional"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
									<xsd:element name="nodeList" minOccurs="0" maxOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<!-- We can have several node_number childs. Each with one attribute, the node number -->
													<xsd:element name="node_number" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<!-- the value attribute is the node number -->
															<xsd:attribute name="value" use="required" type="xsd:positiveInteger" />
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
									</xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="ls_time_step" type="xsd:float" default="0.005" use="optional"/>
                      <xsd:attribute name="ls_dump_fast_marching" type="xsd:boolean" default="false" use="optional"/>
                      <xsd:attribute name="ls_element" type="xsd:positiveInteger" default="1" use="optional"/>
                    </xsd:complexType>
                  </xsd:element>
                  <!-- end levelset element -->
                </xsd:all>
                <!-- For the signed distance field is this the element discretization -->
                <xsd:attribute name="enableTopgrad" type="xsd:boolean" default="false"/>
								<xsd:attribute name="useLevelSet" type="xsd:boolean" default="false"/>
								<xsd:attribute name="useShapeOptimization" type="xsd:boolean" default="false"/>
              </xsd:complexType>
            </xsd:element>
            
            <!-- the parameters of the optimality condition can be set
              <optimalityCondition damping="0.5" move_limit="0.2"/>
              (this are also the code defaults! -->
            <xsd:element name="optimalityCondition" minOccurs="0">
              <xsd:complexType>
                <xsd:all>
                  <!-- <framed upper="1200" lower="0" enlarge_upper="2" enlarge_lower="0.5" alwaysEnlarge="true" /> -->
                  <xsd:element name="framed" minOccurs="0" maxOccurs="1" >
                    <xsd:complexType>
                      <xsd:attribute name="upper" type="xsd:float" default="1200"/>
                      <xsd:attribute name="lower" type="xsd:float" default="0"/>
                      <xsd:attribute name="enlargeUpper" type="xsd:float" default="2"/>
                      <xsd:attribute name="enlargeLower" type="xsd:float" default="0.5"/>
                      <xsd:attribute name="alwaysEnlarge" type="xsd:boolean" default="true"/>
                    </xsd:complexType>
                  </xsd:element>
                  <!-- <fumble start="10" step="1" contract="0.49" expand="1.9" /> -->
                  <xsd:element name="fumble" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:attribute name="start" type="xsd:double" default="10"/>
                      <xsd:attribute name="step" type="xsd:double" default="1"/>
                      <xsd:attribute name="contract" type="xsd:double" default="0.49"/>
                      <xsd:attribute name="expand" type="xsd:double" default="1.99"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:all>
                <xsd:attribute name="type" use="optional" default="framed" >
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="framed"/>
                      <xsd:enumeration value="fumble"/>
                      <xsd:enumeration value="trajectory"/>
                      <xsd:enumeration value="extremize"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="err_eps" use="optional" default="1e-3" type="xsd:float" />
                <xsd:attribute name="damping" use="optional" default="0.5" type="xsd:float" />
                <xsd:attribute name="move_limit" use="optional" default="0.2" type="xsd:float" />
                <xsd:attribute name="lambda_min" use="optional" default="1e-30" type="xsd:float" />
                <xsd:attribute name="max_lambda_iters" use="optional" default="100" type="xsd:positiveInteger" />
              </xsd:complexType>
            </xsd:element>
            
            <!-- similar to evaluateInitialDesign - checks the gradients via finite differences -->
            <xsd:element name="gradientCheck" minOccurs="0">
              <xsd:complexType>
                <xsd:attribute name="h" type="xsd:float" use="optional" default="1e-6" />
                <xsd:attribute name="order" use="optional" default="first">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="first"/>
                      <xsd:enumeration value="second"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            
          </xsd:sequence>
          <!-- mandatory to give the name. The type is one of a list of types -->
          <xsd:attribute name="type" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="optimalityCondition"/>
                <xsd:enumeration value="ipopt"/>
                <xsd:enumeration value="scpip"/>
                <xsd:enumeration value="evaluateInitialDesign"/>
                <xsd:enumeration value="shapeOpt"/>
                <xsd:enumeration value="gradientCheck"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- A constraint value is always scalar -->
          <xsd:attribute name="maxIterations" use="optional" type="xsd:nonNegativeInteger" default="20"/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- If we have SIMP as optimizer type this value is mandatory but we define this not in the Schema -->
      <!-- example:     <SIMP region="piezo"/> -->
      <xsd:element name="ersatzMaterial" minOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="region" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="name" use="required" type="xsd:token"/>
              </xsd:complexType>              
            </xsd:element>
            <xsd:element name="SIMP" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="regularization" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <!-- every regularization needs to define the type explicitly -->
                        <xsd:element name="filter" minOccurs="1">
                          <xsd:complexType>
                            <!-- we might be of type radius or neighbours -->
                            <xsd:attribute name="type" use="required">
                              <xsd:simpleType>  
                                <xsd:restriction base="xsd:token">
                                  <xsd:enumeration value="radius"/>
                                  <xsd:enumeration value="volumeRadius"/>
                                  <xsd:enumeration value="maxEdge"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:attribute>
                            
                            <xsd:attribute name="value" use="required" type="xsd:float" />
                            
                            <!-- her we can give a desing type -->
                            <xsd:attribute name="design" use="optional" type="DT_Design" default="density" />
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      
                      
                      <xsd:attribute name="type" use="required">
                        <xsd:simpleType>  
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="filter"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      
                    </xsd:complexType>
                  </xsd:element>                 
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="shapeGrad" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="topGrad" minOccurs="0">
                    <xsd:complexType>
                      <xsd:attribute name="enabled" use="optional" default="false" type="xsd:boolean"/>
                    </xsd:complexType>
                  </xsd:element>                 
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            
            <!-- The desing variables have to be specified explicitely, 
              <design name="density" initial="0.5"/> -->
            <xsd:element name="design" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="name" use="required" type="DT_Design"/>
                <xsd:attribute name="initial" use="required" type="xsd:float"/>
                <!-- for the lower and upper limits we have to default as it depends on the name -->
                <xsd:attribute name="lower" use="optional" type="xsd:float"/>
                <xsd:attribute name="upper" use="optional" type="xsd:float"/>
                <xsd:attribute name="region" use="optional" type="xsd:token" default="all"/>
                <xsd:attribute name="constant" use="optional" type="xsd:boolean" default="false"/>
                <xsd:attribute name="scale" use="optional" type="xsd:boolean" default="false"/>
              </xsd:complexType>
            </xsd:element>
            
            <!-- We have to define transfer functions 
              <transferFunction type="SIMP" application="elast" design="density" param="3.0"/> -->
            <xsd:element name="transferFunction" minOccurs="0" maxOccurs="8" type="DT_TransferFunction"/>
            <xsd:element name="result" minOccurs="0" maxOccurs="9">
              <xsd:complexType>
                <!-- mandatory to give the type. The type is one of a list of types -->
                <xsd:attribute name="id" use="required">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="optResult_1"/>
                      <xsd:enumeration value="optResult_2"/>
                      <xsd:enumeration value="optResult_3"/>                
                      <xsd:enumeration value="optResult_4"/>
                      <xsd:enumeration value="optResult_5"/>
                      <xsd:enumeration value="optResult_6"/>
                      <xsd:enumeration value="optResult_7"/>
                      <xsd:enumeration value="optResult_8"/>
                      <xsd:enumeration value="optResult_9"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                
                <!-- Whe have to specifiy which entry of the design element we want -->
                <xsd:attribute name="value" use="required">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="design"/>
                      <xsd:enumeration value="designTimesCostGradient"/>                                  
                      <xsd:enumeration value="costGradient"/> <!-- has details! -->               
                      <xsd:enumeration value="constraintGradient"/>                                                     
                      <xsd:enumeration value="weight"/>                       
                      <xsd:enumeration value="neighbours"/>
                      <xsd:enumeration value="objective"/>
                      <xsd:enumeration value="levelSetValue"/>                                                
											<xsd:enumeration value="levelSetState"/>
											<xsd:enumeration value="topGradValue"/>
											<xsd:enumeration value="shapeGradValue"/>
											<xsd:enumeration value="shapeGradNodeValue"/>
                      <xsd:enumeration value="levelSetGradXP"/>
                      <xsd:enumeration value="levelSetGradXN"/>
                      <xsd:enumeration value="levelSetGradYP"/>
                      <xsd:enumeration value="levelSetGradYN"/>
                      <xsd:enumeration value="levelSetGradZP"/>
                      <xsd:enumeration value="levelSetGradZN"/>
                      <xsd:enumeration value="levelSetNormal"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>

                <!-- The design element is optional if we have only one design in the optimization -->
                <xsd:attribute name="design" use="optional" type="DT_Design"/>
                
                <!-- Access is either plan or smart which is plain or filtered depending on regularization -->
                <xsd:attribute name="access" use="optional" default="plain">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="plain"/>
                      <xsd:enumeration value="smart"/>                  
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                
                                                
                <!-- These are optional parameters for value=objective or specialResult -->
                <xsd:attribute name="detail" use="optional" default="none">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="none"/>
                      <xsd:enumeration value="symmetry"/>
                      <!-- details for costGradient in optimier=gradientCheck case -->
                      <xsd:enumeration value="finiteDiffCostGrad"/> 
                      <xsd:enumeration value="finiteDiffCostGradRelError"/>
                      <!-- details for costGradient in PiezoSIMP, elec_elec_quad for elecEnergy only -->
                      <xsd:enumeration value="mech_mech"/>
                      <xsd:enumeration value="elec_elec"/>
                      <xsd:enumeration value="elec_elec_quad"/>
                      <xsd:enumeration value="mech_elec"/>
                      <xsd:enumeration value="elec_mech"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                
                
              </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="export" minOccurs="0">
              <xsd:complexType>  
                <xsd:attribute name="file" use="optional" default="[problem]" type="xsd:token" />
                <xsd:attribute name="save" use="optional" default="last">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="last"/>
                      <xsd:enumeration value="all"/>                             
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>                       
            
            <xsd:element name="paramMat" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="designMaterial" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="param" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:attribute name="name" use="required" type="DT_Design"/>                      
                            <xsd:attribute name="value" use="required" type="xsd:float"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>                
                      <xsd:attribute name="type" use="required">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="isotropic"/>
                            <xsd:enumeration value="lame-isotropic"/>
                            <xsd:enumeration value="transversal-isotropic"/>
                            <xsd:enumeration value="transversal-isotropic-boxed"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <xsd:attribute name="isoplane" use="optional" default="xy">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="xy"/>
                            <xsd:enumeration value="xz"/>
                            <xsd:enumeration value="yz"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                    </xsd:complexType>              
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>              
            </xsd:element>
            
            <xsd:element name="shapeOpt" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="allShapeParams" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:attribute name="upper" type="xsd:float" default="1.0"/>
                      <xsd:attribute name="lower" type="xsd:float" default="-1.0"/>
                      <xsd:attribute name="scaling" type="xsd:float" default="1.0"/>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="shapeParam" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:attribute name="param" type="xsd:nonNegativeInteger" use="required"/>
                      <xsd:attribute name="upper" type="xsd:float"/>
                      <xsd:attribute name="lower" type="xsd:float"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="meshdeformationfile" use="required" type="xsd:token"/>
              </xsd:complexType>
              <xsd:unique name="uShapeParam">
                <xsd:selector xpath="shapeParam"/>
                <xsd:field xpath="param"/>
              </xsd:unique>
            </xsd:element>
            
          </xsd:sequence>  
          <!-- attribute like  system="piezo" -->
          
          
          <xsd:attribute name="method" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="simp"/>
                <xsd:enumeration value="paramMat"/>
                <xsd:enumeration value="shapeGrad"/>
                <xsd:enumeration value="shapeOpt"/>
                <xsd:enumeration value="shapeParamMat"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>         
          
          <xsd:attribute name="region" use="optional" type="xsd:token" />
          <xsd:attribute name="grid_regular" use="optional" type="xsd:boolean" default="true"/>
          
          <xsd:attribute name="material" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="piezo"/>
                <xsd:enumeration value="mechanic"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>               
                                     
        </xsd:complexType>
      </xsd:element>
      
      <!-- We can control the comit for forward and/or adjoint solution --> 
      <xsd:element name="commit" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="mode" use="optional" default="forward">                      
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="forward"/>
                <xsd:enumeration value="adjoint"/>                             
                <xsd:enumeration value="both_cases"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="stride" type="xsd:nonNegativeInteger" default="1"/>
        </xsd:complexType>
      </xsd:element>
      
      
      
    </xsd:sequence> <!-- end of optimization children -->
    
    <!-- this triggeres a gnuplot lot file. The same info as in info.xml.
      With "false" this is disabled. 
      With "[problem]" or "true" (default) this is the simulation problem name + "plot.dat"
      Else: the name as file name  -->
    <xsd:attribute name="log" use="optional" default="[problem]" type="xsd:token" />
    <xsd:attribute name="logdesign" use="optional" type="xsd:boolean" default="false"/>
    <xsd:attribute name="logdesigngradient" use="optional" type="xsd:boolean" default="false"/>
    
  </xsd:complexType>
  
  <!-- the complex ipopt and scpip type are same same as scpip got the interface
    of ipopt. example:
    <ipopt>
    <option type="string" name="derivative_test" value="first-order"/>
    </ipopt> -->
  <xsd:complexType name="DT_ExternalOptimizer">
    <xsd:sequence>
      <!-- We can have many option childs. Each with three attributes -->
      <xsd:element name="option" minOccurs="0" maxOccurs="10">
        <xsd:complexType>
          <!-- the type attribute is from a restriction -->
          <xsd:attribute name="type" use="required">
            <xsd:simpleType>  
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="string"/>
                <xsd:enumeration value="integer"/>
                <xsd:enumeration value="real"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- the name attribute has to match an IPOPT parameter -> see IPOPT manual -->
          <xsd:attribute name="name" use="required" type="xsd:token" />
          <!-- the value attribute is always string, nontheless the type -->
          <xsd:attribute name="value" use="required" type="xsd:token" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <!-- this is for SCPIP only -->
    <xsd:attribute name="fromWarmstart" type="xsd:boolean" default="true"/>
  </xsd:complexType>
  
  
  <!-- This describes the transfer function as it is used in SIMP and in the
    ersartzMaterial element outside optimization 
    <transferFunction type="SIMP" application="elast" design="density" param="3.0"/> -->
  <xsd:complexType name="DT_TransferFunction" >
    <xsd:attribute name="type" use="required">
      <xsd:simpleType>  
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="identity"/>
          <xsd:enumeration value="simp"/>
          <xsd:enumeration value="ramp"/>
          <xsd:enumeration value="fixed"/>
          <xsd:enumeration value="full"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    
    <xsd:attribute name="application" use="required">
      <xsd:simpleType>  
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="elec"/>
          <xsd:enumeration value="mech"/>
          <xsd:enumeration value="mass"/>
          <xsd:enumeration value="piezoCoupling"/>
          <xsd:enumeration value="pressure"/>          
          <xsd:enumeration value="chargeDensity"/>                    
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    
    <xsd:attribute name="design" use="optional" type="DT_Design"/>
    
    <xsd:attribute name="param" use="optional" type="xsd:float" />
  </xsd:complexType> 
  
  <!-- This describes the design element which is a list of possible values -->	 
  <xsd:simpleType name="DT_Design">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="density"/>
      <xsd:enumeration value="polarization"/>
      <xsd:enumeration value="tensor_trace"/>
      <xsd:enumeration value="emodul"/>
      <xsd:enumeration value="poisson"/>
      <xsd:enumeration value="lamelambda"/>
      <xsd:enumeration value="lamemu"/>
      <xsd:enumeration value="emodul-iso"/>
      <xsd:enumeration value="poisson-iso"/>
      <xsd:enumeration value="gmodul"/>
      <xsd:enumeration value="unity"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  
</xsd:schema>

