share/xml/CFS-Simulation/Schemas/CFS_Optimization.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description Optimization setting
    </xsd:documentation>
  </xsd:annotation>
  
  <!-- ******************************************************************** -->
  <!--   Definition of an optimization problem at all                       -->
  <!-- ******************************************************************** -->
  <!-- example: <optimization type="SIMP" log="gnuplot.dat"> -->
  <xsd:complexType name="DT_Optimization">
    <xsd:sequence>
      <xsd:element name="logging" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="design" use="optional" type="xsd:boolean" default="false"/>
          <xsd:attribute name="designGradient" use="optional" type="xsd:boolean" default="false"/>
        </xsd:complexType>
      </xsd:element>      
      
      <xsd:element name="firstStepStatic" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="weight" use="optional" default="0.5">
            <xsd:simpleType>
              <xsd:restriction base="xsd:double">
                <xsd:minInclusive value="0.0"/>
                <xsd:maxInclusive value="1.0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      
      <!-- Costfunction is mandatory and includes optional stoppingRule values
        <costFunction type="compliance" task="minimize" stoppingRule="relative" value="1e-3" queue="2"/> -->
      <xsd:element name="costFunction" minOccurs="1">
        <xsd:complexType>
          <xsd:all>
            <!-- It is possible to choose in the costFunction attribute type=multiObjective then this is evaluated -->
            <xsd:element name="multiObjective" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="objective" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:all>
                        <!-- this is the tensor for the homogenizationTracking objective -->
                        <xsd:element name="tensor" type="DT_MechElastTensor" minOccurs="0" maxOccurs="1"/>
                        <!-- the tensor can optionally be specified by emod and poisson ratio -->
                        <xsd:element name="isotropic" type="DT_MechElastIsotropic" minOccurs="0" maxOccurs="1"/>
                        <!-- some (global) local constraints have optional or mandatory local properties -->
                        <xsd:element name="local" type="DT_Local" minOccurs="0" maxOccurs="1"/>
                      </xsd:all>
                      <xsd:attribute name="type" type="DT_Objective" use="required"/>
                      <xsd:attribute name="penalty" type="xsd:float" use="required"/>
                      <xsd:attribute name="coord" use="optional" type="DT_HomTensorEntries"/>
                      <!-- only the globalSlope has a value and only within multiObjective -->
                      <xsd:attribute name="parameter" use="optional" type="xsd:float"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="stopping" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <!-- type of stopping criteria  -->
                <xsd:attribute name="type" use="optional" default="designChange">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="designChange"/>
                      <xsd:enumeration value="relativeCostChange"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                
                <!-- optional to give the stopping rule value.  -->
                <xsd:attribute name="value" use="optional"  type="xsd:float" default="1e-3"/>
                
                <!-- optinoal to give the stopping rule queue lenght, this is for how many steps the criteria has to hold.  -->
                <xsd:attribute name="queue" use="optional" type="xsd:positiveInteger" default="5"/>
              </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="trackings" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="tracking" minOccurs="0" maxOccurs="unbounded" type="DT_MechLoad"/>
                </xsd:sequence>
              </xsd:complexType>
              <xsd:unique name="uTracking">
                <xsd:selector xpath="cfs:tracking"></xsd:selector>
                <xsd:field xpath="@name"/>
                <xsd:field xpath="@dof"/>
              </xsd:unique>
            </xsd:element>

            <xsd:element name="factor" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:attribute name="omega_omega" type="xsd:boolean" default="false" use="optional"/>
              </xsd:complexType>
            </xsd:element>
            
            <!--   <multipleExcitation type="fixed_weights/meta_objective">
                     <metaObjective type="best_value"/>
                     <adjustWeights stride="1" max_gain="1e4"/>
                   </multipleExcitation> -->        
            <xsd:element name="multipleExcitation" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:all>
                  <xsd:element name="metaObjective" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:attribute name="type" default="best_objective" use="optional">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="best_objective"></xsd:enumeration>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="adjustWeights" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:attribute name="damping" use="optional" default="1.0" type="xsd:float"/>                      
                      <xsd:attribute name="stride" use="optional" default="1" type="xsd:nonNegativeInteger"/>
                      <xsd:attribute name="max_gain" use="optional" default="1e4" type="xsd:float"/>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="excitations" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="excitation" minOccurs="1" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:all>
                              <xsd:element name="loads" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:choice minOccurs="0" maxOccurs="unbounded">
                                    <xsd:element name="load"           type="DT_MechLoad"      />
                                    <xsd:element name="pressure"       type="DT_MechPressure"  />
                                    <xsd:element name="regionLoad"     type="DT_MechRegionLoad"/>
                                  </xsd:choice>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="trackings" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="tracking" minOccurs="0" maxOccurs="unbounded" type="DT_MechLoad"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                                <xsd:unique name="uTrackingInExcitation">
                                  <xsd:selector xpath="cfs:tracking"/>
                                  <xsd:field xpath="@name"/>
                                  <xsd:field xpath="@dof"/>
                                </xsd:unique>                                
                              </xsd:element>
                            </xsd:all>
                            <xsd:attribute name="weight" type="xsd:double" use="optional" default="1.0"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:all>
                <xsd:attribute name="type" default="fixed_weights" use="optional">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="fixed_weights"/>
                      <xsd:enumeration value="meta_objective"/>
                      <xsd:enumeration value="homogenizationTestStrains"/>
                      <xsd:enumeration value="polarizationMatrix"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>  
              </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="output" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="displacement" minOccurs="0" maxOccurs="unbounded" type="DT_MechLoad"/>
                  <xsd:element name="elecPotential" minOccurs="0" maxOccurs="unbounded" type="DT_ElecLoad"/>
                  <!-- here the quantity attribute shall be set in the probem file. Default is acouPressure! -->
                  <xsd:element name="acoustic" minOccurs="0" maxOccurs="unbounded" type="DT_AcousticLoad"/>
                  <xsd:element name="energyFlux" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="surfRegion" maxOccurs="1" minOccurs="1">
                          <xsd:complexType>
                            <xsd:attribute name="name" type="xsd:token" use="required"/>
                            <xsd:attribute name="neighborRegion" type="xsd:token" use="required"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>                                  
              </xsd:complexType>
            </xsd:element>
            
            <!-- this is the tensor for the homogenizationTracking objective -->
            <xsd:element name="tensor" type="DT_MechElastTensor" minOccurs="0" maxOccurs="1"/>
            <!-- the tensor can optionally be specified by emod and poisson ratio -->
            <xsd:element name="isotropic" type="DT_MechElastIsotropic" minOccurs="0" maxOccurs="1"/>

            <!-- some (global) local functions have optional or mandatory local properties -->
            <xsd:element name="local" type="DT_Local" minOccurs="0" maxOccurs="1"/>
            
            <xsd:element name="volumePenaltyExponent" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:attribute name="value" type="xsd:float" use="optional"/>
              </xsd:complexType>
            </xsd:element>
            
          </xsd:all>


          <!-- mandatory to give the type. The type is one of a list of types -->
          <xsd:attribute name="type" use="required" type="DT_Objective"/>
          
          <!-- an optional attribute for the costfunction is the task: minimize or maximize -->
          <xsd:attribute name="task" use="optional" default="minimize">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="minimize"/>
                <xsd:enumeration value="maximize"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>


          <xsd:attribute name="coord" use="optional" type="DT_HomTensorEntries"/>
          
          <!-- Define if we we shall calculate with multiple excitations. Defined for
            mechanical/static loads and multiple harmonic frequencies. 
            The corresponding element is optional -->
          <xsd:attribute name="multiple_excitation" type="xsd:boolean" use="optional" default="false" />

        </xsd:complexType>
      </xsd:element>
      
      <!-- constraint: e.g. <constraint type="volume" value="0.5"/> optional -->
      <xsd:element name="constraint" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="factor" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:attribute name="omega_omega" type="xsd:boolean" default="false" use="optional"/>
              </xsd:complexType>              
            </xsd:element>
            <!-- some (global) local constraints have optional or mandatory local properties -->
            <xsd:element name="local" type="DT_Local" minOccurs="0" maxOccurs="1"/>
            <!-- entry is a special element for performing homogenization -->
            <xsd:element name="tensor" type="DT_MechElastTensor" minOccurs="0" maxOccurs="1"/>
            <!-- the tensor can optionally be specified by emod and poisson ratio -->
            <xsd:element name="isotropic" type="DT_MechElastIsotropic" minOccurs="0" maxOccurs="1"/>
          </xsd:all>
          <!-- mandatory to give the name -->
          <xsd:attribute name="type" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="volume"/>
                <xsd:enumeration value="penalizedVolume"/>
                <xsd:enumeration value="gap"/>
                <xsd:enumeration value="compliance"/>
                <xsd:enumeration value="greyness"/>
                <xsd:enumeration value="realvolume"/>
                <xsd:enumeration value="homTensor"/>
                <xsd:enumeration value="homTracking"/>
                <xsd:enumeration value="poissonsRatio"/>
                <xsd:enumeration value="youngsModulus"/>
                <xsd:enumeration value="youngsModulusE1"/>
                <xsd:enumeration value="youngsModulusE2"/>
                <xsd:enumeration value="isotropy"/>
                <xsd:enumeration value="iso-orthotropy"/>
                <xsd:enumeration value="orthotropy"/>
                <xsd:enumeration value="slope"/>
                <xsd:enumeration value="globalSlope"/>
                <xsd:enumeration value="oscillation"/>
                <xsd:enumeration value="globalOscillation"/>
                <xsd:enumeration value="mole"/>
                <xsd:enumeration value="globalMole"/>
                <xsd:enumeration value="jump"/>
                <xsd:enumeration value="globalJump"/>
                <xsd:enumeration value="stress"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- The desing is optional. If not given it is for all  -->
          <xsd:attribute name="design" use="optional" type="DT_Design"/>
          <!-- A constraint value is always scalar. Allowed only when constraint and no tensor homogenization tensor is given -->
          <xsd:attribute name="value" use="optional" type="xsd:float"/>
          <!-- some constraints (slope constraint, penalized volume) have a parameter -->
          <xsd:attribute name="parameter" use="optional" type="xsd:float"/>
          <!-- one can scale value and gradient by a constant or link to the objective scaling -->
          <xsd:attribute name="scaling" use="optional" type="xsd:token" default="1.0" />
          <!-- optional to give the type - default is equal -->
          <xsd:attribute name="bound" use="optional">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="equal"/>
                <xsd:enumeration value="lowerBound"/>
                <xsd:enumeration value="upperBound"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- Determine if this is a real constraint or if we just want its logging
            mode="output_only" -->
          <xsd:attribute name="mode" use="optional" default="constraint">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="constraint"/>
                <xsd:enumeration value="observation"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- some constraints (volume/ greyness) can be based on their physical values (penalized density) -->
          <xsd:attribute name="physical" use="optional" default="false" type="xsd:boolean"/>
          <!-- constraints are integrated via penalty/lagrange multipliers in the level set method. 
            Note the difference to penalizedVolume which has a parameter! -->
          <xsd:attribute name="penalty" use="optional" default="0.0" type="xsd:float"/>
          <xsd:attribute name="region" use="optional" default="all" type="xsd:token"/>
          <!-- mandatory attribute for homogenizedTensor and honogenizationTracking. Gives coordinates
            within the elasticity tensor -->
          <xsd:attribute name="coord" use="optional" type="DT_HomTensorEntries"/>
          <!-- Shall for logging the value or the difference to value be printed? -->
          <xsd:attribute name="log_delta" use="optional" default="false" type="xsd:boolean"/>
          
          <!-- slopes can be treated linearly by snopt or nonlinearly -->
          <xsd:attribute name="linear" use="optional" type="xsd:boolean"/>
          
          <!-- for a stress constraint we can define the excitation by its label. The enumaration
               can be easy extended here as we do a string compare with the excitation label in the code -->
          <xsd:attribute name="excitation" use="optional" default="all">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="all"/>
                <xsd:enumeration value="x"/>
                <xsd:enumeration value="y"/>
                <xsd:enumeration value="z"/>
                <xsd:enumeration value="yz"/>
                <xsd:enumeration value="xz"/>
                <xsd:enumeration value="xy"/>
                <xsd:enumeration value="0"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
        
        <xsd:unique name="opt_unique_constraint">
          <xsd:selector xpath="cfs:constraint"/>
          <xsd:field xpath="@type"/>
          <xsd:field xpath="@mode"/>
          <xsd:field xpath="@excitation"/>
        </xsd:unique>        
      </xsd:element>

      <!-- optimizer: e.g. <optimizer type="optimialityCondition" maxIterations="20"/> mandatory -->
      <xsd:element name="optimizer" minOccurs="1">
        <xsd:complexType>
          <!-- It is optional to define the optimizer in more detail. -->
          <xsd:sequence>
            <!-- This describes the optional autoscale setting 
              <autoscale target="10" tolerance="0.5" manual="1.0"/>-->
            <xsd:element name="autoscale" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <!-- 0.0 means no target, but eventually logscaling  -->                
                <xsd:attribute name="target" use="optional" type="xsd:float" default="0.0"/>
                <!-- restart optimizer of target is too far. 0.0 is disabled -->
                <xsd:attribute name="tolerance" use="optional" default="0.0" type="xsd:float"/>
                <!-- additional, only or not at all: logarithmic scaling/damping -->
                <xsd:attribute name="logscale" use="optional" type="xsd:boolean" default="false"/>
              </xsd:complexType>
            </xsd:element>
            
            <!-- This is an ipopt element which has * child elements with options -->
            <xsd:element name="ipopt" minOccurs="0" type="DT_ExternalOptimizer"/>
            
            <!-- we made scpip the look like ipopt -->
            <xsd:element name="scpip" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <!-- We can have many option childs. Each with three attributes -->
                  <xsd:element name="option" minOccurs="0" maxOccurs="10">
                    <xsd:complexType>
                      <!-- the type attribute is from a restriction -->
                      <xsd:attribute name="type" use="required">
                        <xsd:simpleType>  
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="string"/>
                            <xsd:enumeration value="integer"/>
                            <xsd:enumeration value="real"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <xsd:attribute name="name" use="required" >
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:token">
                            <!-- string type -->
                            <xsd:enumeration value="optimization_method"/>
                            <xsd:enumeration value="output_level"/>
                            <xsd:enumeration value="convergence_criteria"/>
                            <!-- integer type -->
                            <xsd:enumeration value="maximum_linesearch_function_calls"/>
                            <xsd:enumeration value="spstrat"/>
                            <xsd:enumeration value="linsys"/>
                            <!-- real type -->
                            <xsd:enumeration value="max_kuhn_tucker_constraint_violation"/>
                            <xsd:enumeration value="infinity"/>
                            <xsd:enumeration value="inequality_constraint_active_limit"/>
                            <xsd:enumeration value="relaxed_relative_objective_change"/>
                            <xsd:enumeration value="relaxed_absolut_objective_change"/>
                            <xsd:enumeration value="convergence_criteria"/>
                            <xsd:enumeration value="relaxed_relative_iteration_move"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <!-- the value attribute is always string, nontheless the type -->
                      <xsd:attribute name="value" use="required" >
                        <xsd:simpleType>
                          <!-- the scpip_option_values are for 'string' type, for 'integer' and 'real' is the float type -->
                          <xsd:union memberTypes="scpip_option_values xsd:float"></xsd:union>
                        </xsd:simpleType>
                      </xsd:attribute>
                      
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="fromWarmstart" type="xsd:boolean" default="true"/>
              </xsd:complexType>
            </xsd:element>

            <!-- we made snopt the look like ipopt -->
            <xsd:element name="snopt" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <!-- We can have many option childs. Each with three attributes -->
                  <xsd:element name="option" minOccurs="0" maxOccurs="10">
                    <xsd:complexType>
                      <!-- the type attribute is from a restriction -->
                      <xsd:attribute name="type" use="required">
                        <xsd:simpleType>  
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="string"/>
                            <xsd:enumeration value="integer"/>
                            <xsd:enumeration value="real"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <xsd:attribute name="name" use="required" >
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:token">
                            <!-- integer options -->
                            <xsd:enumeration value="major_iterations_limit"/>
                            <xsd:enumeration value="minor_iterations_limit"/>
                            <xsd:enumeration value="iterations_limit"/>
                            <xsd:enumeration value="timing_level"/>
                            <xsd:enumeration value="verify_level"/>
                            <xsd:enumeration value="major_print_level"/>
                            <xsd:enumeration value="minor_print_level"/>
                            <xsd:enumeration value="print_frequency"/>
                            <xsd:enumeration value="factorization_frequency"/>
                            <!-- real options -->
                            <xsd:enumeration value="major_optimality_tolerance"/>
                            <xsd:enumeration value="major_feasibility_tolerance"/>
                            <xsd:enumeration value="minor_feasibility_tolerance"/>
                            <xsd:enumeration value="linesearch_tolerance"/>
                            <xsd:enumeration value="difference_interval"/>
                            <!-- string options -->
                            <xsd:enumeration value="qpsolver"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <!-- the value attribute is always string, nontheless the type -->
                      <xsd:attribute name="value" use="required"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="fromWarmstart" type="xsd:boolean" default="true"/>
              </xsd:complexType>
            </xsd:element>

            

            <!-- the parameters of the shape optimizer can be set
                 <shapeOpt enableTopgrad="true" /> -->
            <xsd:element name="shapeOpt" minOccurs="0">
              <xsd:complexType>
                <xsd:all>
                  <!-- begin topgrad element -->
                  <xsd:element name="topGrad" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <!-- how many element to remove in one iteration -->
                      <xsd:attribute name="tg_elemsremove" type="xsd:positiveInteger" default="1" use="optional"/>
                      <!-- percentage of elements being removed in first iteration -->
                      <xsd:attribute name="tg_initpercent" type="xsd:float" default="0.3" use="optional"/>
                      <!-- signals if we should adaptively change the number of removed elements per iteration -->
                      <xsd:attribute name="tg_enableadaptive" type="xsd:boolean" default="false" use="optional"/>
                      <!-- signals if more output to std::cout is given -->
                      <xsd:attribute name="tg_moreoutput" type="xsd:boolean" default="false" use="optional"/>
                    </xsd:complexType>
                  </xsd:element>
                  <!-- end topgrad element -->
                  <!-- begin levelset element -->
                  <xsd:element name="levelSet" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                  <xsd:element name="actionList" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="action" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:attribute name="type" use="required">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                  <xsd:enumeration value="signedDistanceField"/>
                                  <xsd:enumeration value="shapeStep"/>
                                  <xsd:enumeration value="trivialHole"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:attribute>
                            <!-- how often to exectue -->
                            <xsd:attribute name="modulus" type="xsd:positiveInteger" default="1" use="optional"/>
                            <!-- how oftern to perfom this actions -->
                            <xsd:attribute name="perform" type="xsd:nonNegativeInteger" default="1" use="optional"/>
                            <!-- should we perform the action in the first iteration -->
                            <xsd:attribute name="first" type="xsd:boolean" default="true" use="optional"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                                    <xsd:element name="nodeList" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <!-- We can have several node_number childs. Each with one attribute, the node number -->
                                                    <xsd:element name="node_number" minOccurs="0" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <!-- the value attribute is the node number -->
                                                            <xsd:attribute name="value" use="required" type="xsd:positiveInteger" />
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                    </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="ls_time_step" type="xsd:float" default="0.005" use="optional"/>
                      <xsd:attribute name="ls_dump_fast_marching" type="xsd:boolean" default="false" use="optional"/>
                      <xsd:attribute name="ls_element" type="xsd:positiveInteger" default="1" use="optional"/>
                    </xsd:complexType>
                  </xsd:element>
                  <!-- end levelset element -->
                </xsd:all>
                <!-- For the signed distance field is this the element discretization -->
                <xsd:attribute name="enableTopgrad" type="xsd:boolean" default="false"/>
                                <xsd:attribute name="useLevelSet" type="xsd:boolean" default="false"/>
                                <xsd:attribute name="useShapeOptimization" type="xsd:boolean" default="false"/>
              </xsd:complexType>
            </xsd:element>
            
            <!-- the parameters of the optimality condition can be set
              <optimalityCondition damping="0.5" move_limit="0.2"/>
              (this are also the code defaults! -->
            <xsd:element name="optimalityCondition" minOccurs="0">
              <xsd:complexType>
                <xsd:all>
                  <!-- <framed upper="1200" lower="0" enlarge_upper="2" enlarge_lower="0.5" alwaysEnlarge="true" /> -->
                  <xsd:element name="framed" minOccurs="0" maxOccurs="1" >
                    <xsd:complexType>
                      <xsd:attribute name="upper" type="xsd:float" default="1200"/>
                      <xsd:attribute name="lower" type="xsd:float" default="0"/>
                      <xsd:attribute name="enlargeUpper" type="xsd:float" default="2"/>
                      <xsd:attribute name="enlargeLower" type="xsd:float" default="0.5"/>
                      <xsd:attribute name="alwaysEnlarge" type="xsd:boolean" default="true"/>
                    </xsd:complexType>
                  </xsd:element>
                  <!-- <fumble start="10" step="1" contract="0.49" expand="1.9" /> -->
                  <xsd:element name="fumble" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:attribute name="start" type="xsd:double" default="10"/>
                      <xsd:attribute name="step" type="xsd:double" default="1"/>
                      <xsd:attribute name="contract" type="xsd:double" default="0.49"/>
                      <xsd:attribute name="expand" type="xsd:double" default="1.99"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:all>
                <xsd:attribute name="type" use="optional" default="framed" >
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="framed"/>
                      <xsd:enumeration value="fumble"/>
                      <xsd:enumeration value="trajectory"/>
                      <xsd:enumeration value="extremize"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="err_eps" use="optional" default="1e-3" type="xsd:float" />
                <xsd:attribute name="damping" use="optional" default="0.5" type="xsd:float" />
                <xsd:attribute name="move_limit" use="optional" default="0.2" type="xsd:float" />
                <xsd:attribute name="lambda_min" use="optional" default="1e-30" type="xsd:float" />
                <xsd:attribute name="max_lambda_iters" use="optional" default="100" type="xsd:positiveInteger" />
              </xsd:complexType>
            </xsd:element>
            
            <!-- similar to evaluateInitialDesign - checks the gradients via finite differences -->
            <xsd:element name="gradientCheck" minOccurs="0">
              <xsd:complexType>
                <xsd:attribute name="h" type="xsd:float" use="optional" default="1e-6" />
                <xsd:attribute name="order" use="optional" default="first">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="first"/>
                      <xsd:enumeration value="second"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            
          </xsd:sequence>
          <!-- mandatory to give the name. The type is one of a list of types -->
          <xsd:attribute name="type" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="optimalityCondition"/>
                <xsd:enumeration value="ipopt"/>
                <xsd:enumeration value="scpip"/>
                <xsd:enumeration value="snopt"/>
                <xsd:enumeration value="evaluateInitialDesign"/>
                <xsd:enumeration value="shapeOpt"/>
                <xsd:enumeration value="gradientCheck"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- A constraint value is always scalar -->
          <xsd:attribute name="maxIterations" use="required" type="xsd:nonNegativeInteger" />
        </xsd:complexType>
      </xsd:element>
      
      <!-- If we have SIMP as optimizer type this value is mandatory but we define this not in the Schema -->
      <!-- example:     <SIMP region="piezo"/> -->
      <xsd:element name="ersatzMaterial" minOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="region" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="name" use="required" type="xsd:token"/>
              </xsd:complexType>              
            </xsd:element>
            <xsd:element name="SIMP" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="regularization" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <!-- every regularization needs to define the type explicitly -->
                        <xsd:element name="filter" minOccurs="1">
                          <xsd:complexType>
                            
                            <!-- optional sub element for target sensitivity filter -->
                            <xsd:sequence>
                              <xsd:element name="sensitivity" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:attribute name="type">
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:token"> 
                                        <xsd:enumeration value="sigmund"/>
                                        <xsd:enumeration value="sharp_sigmund"/>
                                        <xsd:enumeration value="borrvall"/>
                                        <xsd:enumeration value="plain"/>
                                        <xsd:enumeration value="sharp_plain"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:attribute>
                                </xsd:complexType>
                              </xsd:element>
                              
                              <!-- optional sub element for target design filter -->
                              <xsd:element name="density" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                  <xsd:attribute name="type" use="optional" default="standard">
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:token">
                                        <xsd:enumeration value="standard"/>
                                        <xsd:enumeration value="heaviside"/>
                                        <xsd:enumeration value="mod_heaviside"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:attribute>
                                  
                                  <!-- the heaviside filters require beta -->
                                  <xsd:attribute name="beta" type="xsd:float" use="optional"/>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>

                            <!-- define for sensitivity or design filtering -->
                            <xsd:attribute name="type" use="optional" default="sensitivity">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                  <xsd:enumeration value="sensitivity"/>
                                  <xsd:enumeration value="density"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:attribute>

                            <!-- we might be of type radius or neighbours -->
                            <xsd:attribute name="neighborhood" use="required" type="DT_Neighbood"/>
                            
                            <xsd:attribute name="value" use="required" type="xsd:float" />
                            
                            
                            <!-- how the distance affects the weighting.  -->
                            <xsd:attribute name="contribution" use="optional" default="linear">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                  <xsd:enumeration value="linear"/>
                                  <xsd:enumeration value="constant"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:attribute>
                            
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      
                      <xsd:attribute name="type" use="required">
                        <xsd:simpleType>  
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="filter"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      
                    </xsd:complexType>
                  </xsd:element>                 

                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="shapeGrad" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="topGrad" minOccurs="0">
                    <xsd:complexType>
                      <xsd:attribute name="enabled" use="optional" default="false" type="xsd:boolean"/>
                    </xsd:complexType>
                  </xsd:element>                 
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            
            <!-- The desing variables have to be specified explicitely, 
              <design name="density" initial="0.5"/> -->
            <xsd:element name="design" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="name" use="required" type="DT_Design"/>
                <xsd:attribute name="initial" use="required" type="xsd:float"/>
                <!-- for the lower and upper limits we have to default as it depends on the name -->
                <xsd:attribute name="lower" use="optional" type="xsd:float"/>
                <xsd:attribute name="upper" use="optional" type="xsd:float"/>
                <xsd:attribute name="region" use="optional" type="xsd:token" default="all"/>
                <xsd:attribute name="constant" use="optional" type="xsd:boolean" default="false"/>
                <xsd:attribute name="scale" use="optional" type="xsd:boolean" default="false"/>
                <xsd:attribute name="adapt_lower" use="optional" type="xsd:boolean" default="false"/>
                <!-- bimaterial optimization is optional. The value needs to be found in the material.xml -->
                <xsd:attribute name="bimaterial" use="optional" type="xsd:token"/>
              </xsd:complexType>
            </xsd:element>
            
            <!-- We have to define transfer functions 
              <transferFunction type="SIMP" application="elast" design="density" param="3.0"/> -->
            <xsd:element name="transferFunction" minOccurs="0" maxOccurs="8" type="DT_TransferFunction"/>
            <xsd:element name="result" minOccurs="0" maxOccurs="9">
              <xsd:complexType>
                <!-- mandatory to give the type. The type is one of a list of types -->
                <xsd:attribute name="id" use="required">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="optResult_1"/>
                      <xsd:enumeration value="optResult_2"/>
                      <xsd:enumeration value="optResult_3"/>                
                      <xsd:enumeration value="optResult_4"/>
                      <xsd:enumeration value="optResult_5"/>
                      <xsd:enumeration value="optResult_6"/>
                      <xsd:enumeration value="optResult_7"/>
                      <xsd:enumeration value="optResult_8"/>
                      <xsd:enumeration value="optResult_9"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                
                <!-- Whe have to specifiy which entry of the design element we want -->
                <xsd:attribute name="value" use="required">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="design"/>
                      <xsd:enumeration value="designTimesCostGradient"/>
                      <xsd:enumeration value="costGradient"/>
                      <xsd:enumeration value="maxSlope"/>
                      <xsd:enumeration value="maxOscillation"/>
                      <xsd:enumeration value="maxMole"/>
                      <xsd:enumeration value="maxJump"/>
                      <!-- for stress constraints a transferFunciton penalizes low density
                        stresses, here they can be visualized. The element vonMisesStress
                        result gives the physical one -->
                      <xsd:enumeration value="penalizedStress"/>
                      <!-- has details! -->
                      <xsd:enumeration value="constraintGradient"/>
                      <xsd:enumeration value="weight"/>
                      <xsd:enumeration value="neighbours"/>
                      <xsd:enumeration value="objective"/>
                      <xsd:enumeration value="levelSetValue"/>
                      <xsd:enumeration value="levelSetState"/>
                      <xsd:enumeration value="topGradValue"/>
                      <xsd:enumeration value="shapeGradValue"/>
                      <xsd:enumeration value="shapeGradNodeValue"/>
                      <xsd:enumeration value="levelSetGradXP"/>
                      <xsd:enumeration value="levelSetGradXN"/>
                      <xsd:enumeration value="levelSetGradYP"/>
                      <xsd:enumeration value="levelSetGradYN"/>
                      <xsd:enumeration value="levelSetGradZP"/>
                      <xsd:enumeration value="levelSetGradZN"/>
                      <xsd:enumeration value="levelSetNormal"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>

                <!-- The design element is optional if we have only one design in the optimization -->
                <xsd:attribute name="design" use="optional" type="DT_Design"/>
                
                <!-- Access is either plan or smart which is plain or filtered depending on regularization -->
                <xsd:attribute name="access" use="optional" default="plain">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="plain"/>
                      <xsd:enumeration value="smart"/>                  
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                
                                                
                <!-- These are optional parameters for value=objective or specialResult -->
                <xsd:attribute name="detail" use="optional" default="none" type="result_detail"/>
                
                <!-- optional excitation parameter, can be used for penalized stress which is excitation dep. -->
                <xsd:attribute name="excitation" use="optional" default="">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value=""/>
                      <xsd:enumeration value="x"/>
                      <xsd:enumeration value="y"/>
                      <xsd:enumeration value="z"/>
                      <xsd:enumeration value="xy"/>
                      <xsd:enumeration value="xz"/>
                      <xsd:enumeration value="yz"/>
                      <xsd:enumeration value="0"/>
                      <xsd:enumeration value="1"/>
                      <xsd:enumeration value="2"/>
                      <xsd:enumeration value="3"/>
                      <xsd:enumeration value="4"/>
                      <xsd:enumeration value="5"/>
                      <xsd:enumeration value="6"/>
                      <xsd:enumeration value="7"/>
                      <xsd:enumeration value="8"/>
                      <xsd:enumeration value="9"/>                      
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="export" minOccurs="0">
              <xsd:complexType>  
                <xsd:attribute name="file" use="optional" default="[problem]" type="xsd:token" />
                <xsd:attribute name="save" use="optional" default="last">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="last"/>
                      <xsd:enumeration value="all"/>                             
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="write" use="optional" default="finally">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="finally"/>
                      <xsd:enumeration value="iteration"/>                             
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>                       
            
            <xsd:element name="paramMat" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="designMaterial" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="param" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:attribute name="name" use="required" type="DT_Design"/>                      
                            <xsd:attribute name="value" use="required" type="xsd:float"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>                
                      <xsd:attribute name="type" use="required">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="isotropic"/>
                            <xsd:enumeration value="lame-isotropic"/>
                            <xsd:enumeration value="transversal-isotropic"/>
                            <xsd:enumeration value="transversal-isotropic-boxed"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <xsd:attribute name="isoplane" use="optional" default="xy">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:token">
                            <xsd:enumeration value="xy"/>
                            <xsd:enumeration value="xz"/>
                            <xsd:enumeration value="yz"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                      <xsd:attribute name="optimizeMass" type="xsd:boolean" use="optional" default="false"/>
                      <xsd:attribute name="optimizeDamping" type="xsd:boolean" use="optional" default="false"/>
                    </xsd:complexType>              
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>              
            </xsd:element>
            
            <xsd:element name="shapeOpt" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="allShapeParams" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                      <xsd:attribute name="upper" type="xsd:float" default="1.0"/>
                      <xsd:attribute name="lower" type="xsd:float" default="-1.0"/>
                      <xsd:attribute name="initial" type="xsd:float" default="0.0"/>
                      <xsd:attribute name="scaling" type="xsd:float" default="1.0"/>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="shapeParam" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:attribute name="param" type="xsd:nonNegativeInteger" use="required"/>
                      <xsd:attribute name="upper" type="xsd:float"/>
                      <xsd:attribute name="lower" type="xsd:float"/>
                      <xsd:attribute name="initial" type="xsd:float"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="meshdeformationfile" use="required" type="xsd:token"/>
              </xsd:complexType>
              <xsd:unique name="uShapeParam">
                <xsd:selector xpath="cfs:shapeParam"/>
                <xsd:field xpath="@param"/>
              </xsd:unique>
            </xsd:element>
            
          </xsd:sequence>  
          <!-- attribute like  system="piezo" -->
          
          
          <xsd:attribute name="method" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="simp"/>
                <xsd:enumeration value="paramMat"/>
                <xsd:enumeration value="shapeGrad"/>
                <xsd:enumeration value="shapeOpt"/>
                <xsd:enumeration value="shapeParamMat"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>         
          
          <xsd:attribute name="region" use="optional" type="xsd:token" />
          
          <xsd:attribute name="material" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="piezo"/>
                <xsd:enumeration value="mechanic"/>
                <xsd:enumeration value="heat"/>
                <xsd:enumeration value="acoustic"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>               

          <!-- the L-mesh of the stress constraint benchmark is meshed by gid with different positions of
               element nodes, such that one cannot use the same element materix, even if the grid is regular -->
          <xsd:attribute name="enforce_unstructured" default="false" type="xsd:boolean" use="optional"/>                                     
                                     
        </xsd:complexType>
      </xsd:element>
      
      <!-- We can control the comit for forward and/or adjoint solution --> 
      <xsd:element name="commit" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="mode" use="optional" default="forward">                      
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="forward"/>
                <xsd:enumeration value="each_forward"/>
                <xsd:enumeration value="adjoint"/>                             
                <xsd:enumeration value="each_adjoint"/>
                <xsd:enumeration value="both_cases"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="stride" type="xsd:nonNegativeInteger" default="1"/>
        </xsd:complexType>
      </xsd:element>
      
      
      
    </xsd:sequence> <!-- end of optimization children -->
    
    <!-- this triggeres a gnuplot lot file. The same info as in info.xml.
      With "false" this is disabled. 
      With "[problem]" or "true" (default) this is the simulation problem name + "plot.dat"
      Else: the name as file name  -->
    <xsd:attribute name="log" use="optional" default="[problem]" type="xsd:token" />
    
  </xsd:complexType>
  
  <!-- similar schema for ipopt, snopt and scpip. -->
  <xsd:complexType name="DT_ExternalOptimizer">
    <xsd:sequence>
      <!-- We can have many option childs. Each with three attributes -->
      <xsd:element name="option" minOccurs="0" maxOccurs="10">
        <xsd:complexType>
          <!-- the type attribute is from a restriction -->
          <xsd:attribute name="type" use="required">
            <xsd:simpleType>  
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="string"/>
                <xsd:enumeration value="integer"/>
                <xsd:enumeration value="real"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <!-- the name attribute has to match an IPOPT parameter -> see IPOPT manual -->
          <xsd:attribute name="name" use="required" type="xsd:token" />
          <!-- the value attribute is always string, nontheless the type -->
          <xsd:attribute name="value" use="required" type="xsd:token" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- This describes the transfer function as it is used in SIMP and in the
    ersartzMaterial element outside optimization 
    <transferFunction type="SIMP" application="elast" design="density" param="3.0"/> -->
  <xsd:complexType name="DT_TransferFunction" >
    <xsd:sequence>
      <xsd:element name="heaviside" minOccurs="0" maxOccurs="1">
        <xsd:complexType >
          <xsd:attribute name="penalty" type="xsd:float" default="1" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="type" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <!-- f(rho) = rho -->
          <xsd:enumeration value="identity"/>
          <!-- f(rho) = rho^param -->
          <xsd:enumeration value="simp"/>
          <xsd:enumeration value="ramp"/>
          <!-- f(rho) = param -->
          <xsd:enumeration value="fixed"/>
          <!-- f(rho) = 1 -->
          <xsd:enumeration value="full"/>
          <!-- f(rho) = 1 - exp(-param * rho^penalty). penalty is an attribute of the optional 'heaviside' element -->
          <xsd:enumeration value="heaviside"/>

        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    
    <xsd:attribute name="application" use="required">
      <xsd:simpleType>  
        <xsd:restriction base="xsd:token">
          <!-- acoustic and heat and maybe more ... -->
          <xsd:enumeration value="laplace"/>
          <xsd:enumeration value="elec"/>
          <xsd:enumeration value="mech"/>
          <xsd:enumeration value="mass"/>
          <xsd:enumeration value="piezoCoupling"/>
          <xsd:enumeration value="pressure"/>          
          <xsd:enumeration value="chargeDensity"/>                    
          <xsd:enumeration value="stress"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    
    <xsd:attribute name="design" use="optional" type="DT_Design"/>
    
    <xsd:attribute name="param" use="optional" type="xsd:float" />
  </xsd:complexType> 
  
  <!-- This describes the design element which is a list of possible values -->  
  <xsd:simpleType name="DT_Design">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="density"/>
      <xsd:enumeration value="acouDensity"/>
      <xsd:enumeration value="polarization"/>
      <xsd:enumeration value="tensor_trace"/>
      <xsd:enumeration value="emodul"/>
      <xsd:enumeration value="poisson"/>
      <xsd:enumeration value="lamelambda"/>
      <xsd:enumeration value="lamemu"/>
      <xsd:enumeration value="emodul-iso"/>
      <xsd:enumeration value="poisson-iso"/>
      <xsd:enumeration value="gmodul"/>
      <xsd:enumeration value="unity"/>
      <xsd:enumeration value="mass"/>
      <xsd:enumeration value="damping-alpha"/>
      <xsd:enumeration value="damping-beta"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- The objective type for the attribute or multiObjective list -->
  <xsd:simpleType name="DT_Objective">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="compliance"/>
      <xsd:enumeration value="output"/>                
      <xsd:enumeration value="conjugateCompliance"/>
      <xsd:enumeration value="globalDynamicCompliance"/>
      <xsd:enumeration value="dynamicOutput"/>
      <xsd:enumeration value="absOutput"/>
      <xsd:enumeration value="tracking"/>
      <xsd:enumeration value="elecEnergy"/>
      <xsd:enumeration value="homTensor"/>
      <xsd:enumeration value="homTracking"/>
      <xsd:enumeration value="poissonsRatio"/>
      <xsd:enumeration value="youngsModulus"/>
      <xsd:enumeration value="youngsModulusE1"/>
      <xsd:enumeration value="youngsModulusE2"/>
      <xsd:enumeration value="volume"/>
      <xsd:enumeration value="penalizedVolume"/>
      <xsd:enumeration value="gap"/>
      <xsd:enumeration value="tychonoff"/>
      <xsd:enumeration value="temperature"/>
      <xsd:enumeration value="energyFlux"/>
      <xsd:enumeration value="globalSlope"/>
      <xsd:enumeration value="globalOscillation"/>
      <xsd:enumeration value="globalMole"/>
      <xsd:enumeration value="globalJump"/>
      <xsd:enumeration value="stress"/>
      <xsd:enumeration value="multiObjective"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- This is almost a copy & paste of DT_MechElastTensor from the material schema stuff -->
  <xsd:complexType name="DT_MechElastTensor">
    <xsd:sequence>
      <xsd:element name="real">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="36"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
      <xsd:element name="imag" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="DT_DoubleList">
            <xsd:maxLength value="36"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> 
    </xsd:sequence>
    <xsd:attribute name="dim1" type="xsd:nonNegativeInteger" use="required"/>
    <xsd:attribute name="dim2" type="xsd:nonNegativeInteger" use="optional"/>
    <xsd:attribute name="factor" type="xsd:float" use="optional" default="1.0"/>
  </xsd:complexType>
  

  <xsd:complexType name="DT_MechElastIsotropic">
    <xsd:sequence>
      <xsd:element name="real" type="DT_MechElastIsotrRealImag"/>
      <xsd:element name="imag" type="DT_MechElastIsotrRealImag" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_MechElastIsotrRealImag">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="elasticityModulus" type="DT_NonNegFloat"/>
        <xsd:element name="poissonNumber" type="xsd:float"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="lameParameterMu" type="DT_NonNegFloat"/>
        <xsd:element name="lameParameterLamda" type="DT_NonNegFloat"/>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>

  <xsd:simpleType name="DT_HomTensorEntries">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="11"/>
      <xsd:enumeration value="12"/>
      <xsd:enumeration value="13"/>
      <xsd:enumeration value="14"/>
      <xsd:enumeration value="15"/>
      <xsd:enumeration value="16"/>
      <xsd:enumeration value="22"/>
      <xsd:enumeration value="23"/>
      <xsd:enumeration value="24"/>
      <xsd:enumeration value="25"/>
      <xsd:enumeration value="26"/>
      <xsd:enumeration value="33"/>
      <xsd:enumeration value="34"/>
      <xsd:enumeration value="35"/>
      <xsd:enumeration value="36"/>
      <xsd:enumeration value="44"/>
      <xsd:enumeration value="45"/>
      <xsd:enumeration value="46"/>
      <xsd:enumeration value="55"/>
      <xsd:enumeration value="56"/>
      <xsd:enumeration value="66"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="scpip_option_values">
    <xsd:restriction base="xsd:token">
      <!-- for 'optimization_method' -->
      <xsd:enumeration value="moving_asymptotes"/>
      <xsd:enumeration value="sequential_convex_programming"/>
      <!-- for 'output_level' -->
      <xsd:enumeration value="no_output"/>
      <xsd:enumeration value="only_final_convergence_analysis"/>
      <xsd:enumeration value="one_line_of_intermediate_results"/>
      <xsd:enumeration value="more_detailed_and_intermediate_results"/>
      <!-- for 'convergence_criteria' -->
      <xsd:enumeration value="kuhn_tucker"/>
      <xsd:enumeration value="relaxed"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="result_detail">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="symmetry"/>
      <!-- details for costGradient in optimier=gradientCheck case -->
      <xsd:enumeration value="finiteDiffCostGrad"/> 
      <xsd:enumeration value="finiteDiffCostGradRelError"/>
      <!-- details for costGradient in PiezoSIMP, elec_elec_quad for elecEnergy only -->
      <xsd:enumeration value="mech_mech"/>
      <xsd:enumeration value="elec_elec"/>
      <xsd:enumeration value="elec_elec_quad"/>
      <xsd:enumeration value="mech_elec"/>
      <xsd:enumeration value="elec_mech"/>
      <!-- detail for constraintGradient in SIMP -->
      <xsd:enumeration value="volume"/>
      <xsd:enumeration value="penalizedVolume"/>
      <xsd:enumeration value="gap"/>
      <xsd:enumeration value="compliance"/>
      <xsd:enumeration value="greyness"/>
      <xsd:enumeration value="realvolume"/>
      <xsd:enumeration value="homTracking"/>
      <xsd:enumeration value="poissonsRatio"/>
      <xsd:enumeration value="youngsModulus"/>
      <xsd:enumeration value="youngsModulusE1"/>
      <xsd:enumeration value="youngsModulusE2"/>
      <xsd:enumeration value="globalSlope"/>
      <xsd:enumeration value="globalOscillation"/>
      <xsd:enumeration value="globalMole"/>
      <xsd:enumeration value="globalJump"/>
      <xsd:enumeration value="stress"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- This is the "local" sub-element for objectives and constraints which are (globalized) local -->
  <xsd:complexType name="DT_Local">
    <!-- most locality is done automatically, only slopes for snopt have two possibilities and mole.
    Therefore not all possibilites are listed as user choice.-->
    <xsd:attribute name="locality" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="default"/>
          <xsd:enumeration value="next"/>
          <xsd:enumeration value="next_and_reverse"/>
          <xsd:enumeration value="prev_next"/>
          <xsd:enumeration value="prev_next_and_reverse"/>
          <xsd:enumeration value="45_deg_star"/>
          <xsd:enumeration value="45_deg_star_and_reverse"/>
          <xsd:enumeration value="element"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    
    <!-- the parameter for max/min, for the Kreisselmeier and Steinhauser approx. (global) oscillation only -->
    <xsd:attribute name="beta" type="xsd:float" use="optional"/>

    <!-- relaxation parameter for abs smoothing in (global) model constraint -->
    <xsd:attribute name ="eps" type="xsd:float" use="optional"/>

    <!-- the neighborhood type for mole and the simp/regularization/filters -->
    <xsd:attribute name="neighbor_type" type="DT_Neighbood" use="optional" default="maxEdge"/>

    <!-- if the have a neighborhood, the value. 0.0 disables the type -->
    <xsd:attribute name="neighbor_value" type="xsd:float" use="optional" default="0.0"/>
    
    <!-- globalSlope, globalOscillation, ... might be normalized by number of local constraints -->
    <xsd:attribute name="normalize" type="xsd:boolean" default="false"/>
    
    <!-- global functions are actually sum( max(0, g_i(x) - c)^p) where c is the parameter and p is a "norm" -->
    <xsd:attribute name="power" type="xsd:float" use="optional" default="2.0"/>
    
    <!-- only for the oscillation constraint, defines if applied on void and/or material phase.
    Requires locality without _AND_REVERSE -->
    <xsd:attribute name="phase" use="optional" default="both">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="both"/>
          <xsd:enumeration value="void"/>
          <xsd:enumeration value="material"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <!-- neighborhood types -->
  <xsd:simpleType name="DT_Neighbood">  
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="radius"/>
      <xsd:enumeration value="volumeRadius"/>
      <xsd:enumeration value="maxEdge"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

