share/xml/CFS-Simulation/Schemas/CFS_PDEacoustic.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for an acoustics PDE
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of element for acoustics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:element name="acoustic" type="DT_PDEAcoustic"
    substitutionGroup="PDEBasic">
    <xsd:unique name="CS_AcousticRegion">
      <xsd:selector xpath="cfs:region"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for acoustics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_PDEAcoustic">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- Regions the PDE lives on (including optional damping model) -->
          <!--xsd:element name="regionList" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:token" use="required"/>
                    <xsd:attribute name="dampingId" type="xsd:token" 
                      use="optional" default=""/>
                    <xsd:attribute name="nonLinId" type="xsd:token" 
                      use="optional" default=""/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element-->

          <!-- Regions the PDE lives on -->
          <xsd:element name="regionList" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:token" use="required"/>
                    <xsd:attribute name="polyId" type="xsd:string" use="optional" default="default"> </xsd:attribute>
                    <xsd:attribute name="integId" type="xsd:string" use="optional" default="default"> </xsd:attribute>
                    <xsd:attribute name="nonLinId" type="xsd:token" use="optional" default=""/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- Non-conforming interfaces of the PDE -->
          <xsd:element name="ncInterfaceList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ncInterface" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:token" use="required"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- List defining nonlinear types -->
          <xsd:element name="nonLinList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="westervelt" type="DT_AcousticNonLinWestervelt"/>
                <xsd:element name="kuznetsov" type="DT_AcousticNonLinKuznetsov"/>
                <xsd:element name="variableSOS_CN1" type="DT_AcousticNonVariableSOS_CN1"/>
                <xsd:element name="variableSOS_CN2" type="DT_AcousticNonVariableSOS_CN2"/>
                <xsd:element name="variableSOS_CN2Mean" type="DT_AcousticNonVariableSOS_CN2Mean"/>
                </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- List defining damping types -->
          <xsd:element name="dampingList" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="pml" type="DT_DampingPML"/>
                <xsd:element name="dampLayer" type="DT_AcousticDampingLayer"/>
                <xsd:element name="fractional" type="DT_AcousticDampingFrac"/>
                <xsd:element name="thermoViscous" type="DT_AcousticDampingThermo"/>
                <xsd:element name="rayleigh" type="DT_AcousticDampingRayl"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="valRHS" type="DT_CFSBool" minOccurs="0"
            maxOccurs="1" default="no"/>

          <!--  Parameter to check if we are using acousrcs computed 
          from fluid pressure (optional) -->
          <xsd:element name="pressFormul" type="DT_CFSBool" minOccurs="0"
            maxOccurs="1" default="no"/>

          <!--  Three parameters are to activate the write out of the
          grid and coupled values (optional) -->



          <!-- Type of FlowData (optional) -->

          <!-- Type of Combustion Data (optional) -->
          <xsd:element name="combustionData" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
               <xsd:element name="coupledRegion" type="xsd:token"/>
               <xsd:element name="fileName" type="xsd:token"/>
               <xsd:element name="numDataInCFD" type="xsd:nonNegativeInteger"/>
               <xsd:element name="varSpeedOfSound" type="xsd:nonNegativeInteger"/>
               <xsd:element name="ReynoldStress" type="xsd:nonNegativeInteger"/>
               <xsd:element name="momentum" type="xsd:nonNegativeInteger"/>
               <xsd:element name="chemical" type="xsd:nonNegativeInteger"/>
               <xsd:element name="densityDeriv2" type="xsd:nonNegativeInteger"/>
               <xsd:element name="heatRelease" type="xsd:nonNegativeInteger"/>
               <xsd:element name="gasConstDeriv2" type="xsd:nonNegativeInteger"/>
               <xsd:element name="shearTerm" type="xsd:nonNegativeInteger"/>
               <xsd:element name="xfmin"       type="xsd:float"/>	
               <xsd:element name="yfmin"       type="xsd:float"/>
               <xsd:element name="zfmin"       type="xsd:float"/>
               <xsd:element name="xfmax"       type="xsd:float"/>
               <xsd:element name="yfmax"       type="xsd:float"/>
               <xsd:element name="zfmax"       type="xsd:float"/>
               <xsd:element name="facrampXmin" type="xsd:float"/>
               <xsd:element name="facrampYmin" type="xsd:float"/>
               <xsd:element name="facrampZmin" type="xsd:float"/> 
               <xsd:element name="facrampXmax" type="xsd:float"/>
               <xsd:element name="facrampYmax" type="xsd:float"/>
               <xsd:element name="facrampZmax" type="xsd:float"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- Information for simulation including bubbles (optional) -->
          <xsd:element name="bubbles" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="bubbleType">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                      <xsd:enumeration value="Gilmore"/>
                      <xsd:enumeration value="KellerMiksis"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="bubbleNumDensity" type="DT_NonNegFloat"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="dirichletHom"   type="DT_AcousticHD"  />
                <xsd:element name="dirichletInhom" type="DT_AcousticID"  />
                <xsd:element name="neumannInhom"   type="DT_AcousticIN"  />
                <xsd:element name="load"           type="DT_AcousticLoad"/>
                <xsd:element name="absorbingBCs"   type="DT_AbsorbingBC" />
                <xsd:element name="flowData"       type="DT_AcousticFlow"/>
                <xsd:element name="rhsValues"      type="DT_AcousticRHS"
                  minOccurs="0" maxOccurs="1"/>
                <xsd:element name="impedance"      type="DT_AcouImpedance"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>

          <!-- Desired solution values (optional) -->
          <!-- Currently this is not supported, since it is difficult
          to define in the acoustics case since it depends on the
          boundary conditions -->
          <xsd:element name="storeResults" type="DT_AcousticStoreResults"
            minOccurs="0" maxOccurs="1"/>

        </xsd:sequence>

        <!-- Type of acoustic formulation (optional) -->
        <xsd:attribute name="formulation" use="optional" default="acouPressure">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="acouPressure"/>
              <xsd:enumeration value="acouPotential"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

        <!-- updated Lagrangian formulation -->
        <xsd:attribute name="updatedLagrange" use="optional" default="no">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="no"/>
              <xsd:enumeration value="yes"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

        <!-- Type of acoustic pde -->
        <xsd:attribute name="subType" use="optional"
          default="standard">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="standard"/>
              <xsd:enumeration value="combustionNoise"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

        <!-- Type of function space (Lagrange / Legendre) with
        optional order -->
        <xsd:attribute name="type" use="optional" default="lagrange">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="lagrange"/>
              <xsd:enumeration value="legendre"/>
              <xsd:enumeration value="spectral"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="order" use="optional"
        type="xsd:positiveInteger" default="1"/>

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of layer damping -->
  <!-- ******************************************************************* -->

  <!-- Definition of layer damping type -->
  <xsd:complexType name="DT_AcousticDampingLayer">
    <xsd:complexContent>
      <xsd:extension base="DT_DampingBasic">
        <xsd:sequence>
          <!-- Type of PML -->
          <xsd:element name="type" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="linear"   />
                <xsd:enumeration value="quadDist"     />
                <xsd:enumeration value="inverseDist"     />
                <xsd:enumeration value="exponential"     />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          
          <xsd:element name="xM" type="xsd:double" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="yM" type="xsd:double" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="zM" type="xsd:double" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="radiusStart" type="xsd:double" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="radiusEnd" type="xsd:double" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="dampFactor" type="xsd:double"
          minOccurs="0" maxOccurs="1"/>
          <xsd:element name="dampFactorMax" type="xsd:double"
          minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

 
  <!-- ******************************************************************* -->
  <!--   Definition of fractional damping -->
  <!-- ******************************************************************* -->

  <!-- Definition of pml damping type -->
  <xsd:complexType name="DT_AcousticDampingFrac">
    <xsd:complexContent>
      <xsd:extension base="DT_DampingBasic">
        <xsd:sequence>

          <!-- Type of fractional damping algorithm -->
          <xsd:element name="fracAlg" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="gl"/>
                <xsd:enumeration value="blank"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          
          <!-- Number of past time-steps for fractional damping -->
          <xsd:element name="fracMemory" type="xsd:positiveInteger" 
            minOccurs="0" maxOccurs="1"/>
          
          <!-- Type of interpolation -->
          <xsd:element name="interpolation" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="no"/>
                <xsd:enumeration value="lin1pt"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

          
 

  <!-- ******************************************************************* -->
  <!--   Definition of rayleigh damping -->
  <!-- ******************************************************************* -->

  <!-- Definition of rayleigh damping type -->
  <xsd:complexType name="DT_AcousticDampingRayl">
    <xsd:complexContent>
      <xsd:extension base="DT_DampingBasic">
        <xsd:sequence>
          <xsd:element name="adjustDamping" type="DT_CFSBool" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="freq" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ratioDeltaF" type="DT_NonNegFloat" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- ******************************************************************* -->
  <!--   Definition of thermoViscous damping -->
  <!-- ******************************************************************* -->

  <!-- Definition of thermoviscous damping type -->
  <xsd:complexType name="DT_AcousticDampingThermo">
    <xsd:complexContent>
      <xsd:extension base="DT_DampingBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!--   Definition of westervelt nonlienarity -->
  <!-- ******************************************************************* -->

  <!-- Definition of westervelt nonlinearity type -->
  <xsd:complexType name="DT_AcousticNonLinWestervelt">
    <xsd:complexContent>
      <xsd:extension base="DT_NonLinBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of kuznetsov nonlienarity -->
  <!-- ******************************************************************* -->

  <!-- Definition of kunetsov nonlinearity type -->
  <xsd:complexType name="DT_AcousticNonLinKuznetsov">
    <xsd:complexContent>
      <xsd:extension base="DT_NonLinBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

 

  <!-- ******************************************************************* -->
  <!--   Definition of variableSOS_CN1 nonlienarity -->
  <!-- ******************************************************************* -->
  <!-- Definition of variable SOS CN1 nonlinearity type -->
  <xsd:complexType name="DT_AcousticNonVariableSOS_CN1">
    <xsd:complexContent>
      <xsd:extension base="DT_NonLinBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of variableSOS_CN2 nonlienarity -->
  <!-- ******************************************************************* -->
  <!-- Definition of variable SOS CN2 nonlinearity type -->
  <xsd:complexType name="DT_AcousticNonVariableSOS_CN2">
    <xsd:complexContent>
      <xsd:extension base="DT_NonLinBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
 <!-- ******************************************************************* -->
  <!--   Definition of variableSOS_CN2Mean nonlienarity -->
  <!-- ******************************************************************* -->
  <!-- Definition of variable SOS CN2 nonlinearity type -->
  <xsd:complexType name="DT_AcousticNonVariableSOS_CN2Mean">
    <xsd:complexContent>
      <xsd:extension base="DT_NonLinBasic">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of the acoustic unknown types -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticUnknownType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressure"/>
      <xsd:enumeration value="acouPotential"/>
      <xsd:enumeration value="LagrangeMultiplier"/>
      <xsd:enumeration value="acouPmlAuxScalar"/>
      <xsd:enumeration value="acouPmlAuxVec"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of the boundary condition types for acoustics -->
  <!-- ******************************************************************* -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_AcousticHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="nodeList"/>
        <xsd:attribute name="quantity" default="acouPressure"
          type="DT_AcousticUnknownType"/>
        <xsd:attribute name="dof">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value=""/>
              <xsd:enumeration value="psi"/>
              <xsd:enumeration value="phix"/>
              <xsd:enumeration value="phiy"/>
              <xsd:enumeration value="phiz"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_AcousticID">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticHD">
        <xsd:attribute name="value" type="xsd:token" use="required"/>
        <xsd:attribute name="phase" type="xsd:token" use="optional"
          default="0.0"/>
	<xsd:attribute name="fileName" type="xsd:token" use="optional"
          default="none"/>
	<xsd:attribute name="interpolType" type="xsd:token" use="optional"
          default="NNB"/>
	<xsd:attribute name="noNodes" type="xsd:token" use="optional"
          default="-1"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticIN">
    <xsd:complexContent>
      <xsd:restriction base="DT_AcousticID">
        <xsd:attribute name="entityType" type="DT_EntityType"
          use="optional" default="surfElemList"/>
        <xsd:attribute name="quantity" type="DT_AcousticUnknownType"
                       default="acouPotential"/>
        </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying loads -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticLoad">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticID"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying absorbing boundary conditions -->
  <!-- Identical to that of homogeneous Dirichlet case -->
  <xsd:complexType name="DT_AbsorbingBC">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticHD">
       <xsd:attribute name="volumeRegion" type="xsd:token" use="required"/>     
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying an acoustic impedance -->
  <xsd:complexType name="DT_AcouImpedance">
    <xsd:attribute name="name" type="xsd:token" use="required"/>
    <xsd:attribute name="value" type="xsd:token" use="required"/>
    <xsd:attribute name="phase" type="xsd:token" use="optional" default="0.0"/>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition for Flow data                                          -->
  <!-- ******************************************************************* -->

   <xsd:complexType name="DT_AcousticFlow">
      <xsd:sequence>
        <xsd:element name="flowDir" type="xsd:token"/>
        <xsd:element name="flowOrd" type="xsd:nonNegativeInteger"/>
        <xsd:element name="flowVel" type="xsd:double"/>
        <xsd:element name="flowDia" type="xsd:double"/>
        <xsd:element name="flowLen" type="xsd:double"/>
        <xsd:element name="flowDecay" type="xsd:double"/>
        <xsd:element name="flowCenterX" type="xsd:double"/>
        <xsd:element name="flowCenterY" type="xsd:double"/>
        <xsd:element name="flowCenterZ" type="xsd:double"/>
      </xsd:sequence>
    <xsd:attribute name="region" type="xsd:token" use="required"/>
  </xsd:complexType>


  <!-- RHS values, sources for the acoustic inside the domain -->
  <xsd:complexType name="DT_AcousticRHS">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded">

        <!-- regions to be selected for reading in rhs values -->
        <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="factor" type="xsd:token" minOccurs="0" maxOccurs="1"
                default="1"/>
              <xsd:element name="interpolation" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element name="srcRegions">
                      <xsd:complexType>
                        <xsd:attribute name="names" type="xsd:token" use="required"/>
                        <xsd:attribute name="inputId" type="xsd:token" use="required"/>
                        <xsd:attribute name="coordSysId" type="xsd:token"
                          use="optional" default="default"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="xyPlane" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:attribute name="z" type="xsd:double" use="required"/>
                        <xsd:attribute name="tol" type="DT_NonNegFloat"
                          use="optional" default="1.0e-10"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="tolerances" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:all>
                          <xsd:element name="global" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:attribute name="start" type="DT_NonNegFloat"
                                use="required"/>
                              <xsd:attribute name="end" type="DT_NonNegFloat"
                                use="optional"/>
                              <xsd:attribute name="inc" type="DT_PosFloat"
                                use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="local" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:attribute name="start" type="DT_NonNegFloat"
                                use="required"/>
                              <xsd:attribute name="end" type="DT_NonNegFloat"
                                use="optional"/>
                              <xsd:attribute name="inc" type="DT_PosFloat"
                                use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:all>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="restartFileMode" minOccurs="0" maxOccurs="1"
                      default="rw">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="r"/>
                          <xsd:enumeration value="w"/>
                          <xsd:enumeration value="rw"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="nodeWarnings" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:attribute name="display" use="required">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="yes"/>
                              <xsd:enumeration value="no"/>
                              <xsd:enumeration value="verbose"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="writeNodes" type="DT_CFSBool"
                          use="optional" default="no"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:all>
                  <xsd:attribute name="justInterpolate" type="DT_CFSBool"
                    use="optional" default="no"/>
                  <xsd:attribute name="overwriteOldSrcs" type="DT_CFSBool"
                    use="optional" default="yes"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="asyncSteps" minOccurs="0" maxOccurs="1"
                default="no">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="no"/>
                    <xsd:enumeration value="nearest"/>
                    <xsd:enumeration value="interpolate"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:all>
            <xsd:attribute name="name" type="xsd:token" use="required"/>
            <xsd:attribute name="inputId" type="xsd:token"
              use="optional" default="default"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of data type for damping model -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_AcousticDamp">

    <!-- Type of damping -->
    <xsd:attribute name="type" use="optional" default="no">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="fractional"   />
          <xsd:enumeration value="rayleigh"     />
          <xsd:enumeration value="absorbingBC"  />
          <xsd:enumeration value="thermoViscous"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

    <!-- Type of fractional damping algorithm -->
    <xsd:attribute name="fracAlg" use="optional" default="gl">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="gl"/>
          <xsd:enumeration value="blank"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

    <!-- Number of past time-steps for fractional damping -->
    <xsd:attribute name="fracMemory" type="xsd:positiveInteger" use="optional"
      default="1"/>

    <!-- Type of interpolation -->
    <xsd:attribute name="interpolation" use="optional" default="no">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="lin1pt"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************* -->

  <!-- Definition of nodal result types of acoustic PDE -->
  <xsd:simpleType name="DT_AcousticNodeResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressure"/>
      <xsd:enumeration value="acouPotential"/>
      <xsd:enumeration value="acouPotentialD1"/>
      <xsd:enumeration value="acouPotentialD2"/>
      <xsd:enumeration value="acouRhsLoad"/>
      <xsd:enumeration value="gradAcousticSolution"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Definition of element result types of acoustic PDE -->
  <xsd:simpleType name="DT_AcousticElemResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressure"/>
      <xsd:enumeration value="acouIntensity"/>
      <!-- topology optimization -->
      <xsd:enumeration value="acouPseudoDensity"/>      
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Definition of surface element result types of acoustic PDE -->
  <xsd:simpleType name="DT_AcousticSurfElemResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouForce"/>
      <xsd:enumeration value="acouSurfIntensity"/>
    </xsd:restriction>
  </xsd:simpleType>

 <!-- Definition of surface region result types of acoustic PDE -->
  <xsd:simpleType name="DT_AcousticSurfRegionResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouForce"/>
      <xsd:enumeration value="acouPower"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Definition of region result types of magnetic PDE -->
  <xsd:simpleType name="DT_AcousticRegionResult">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouEnergy"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Global type for specifying desired electrostatic output quantities -->
  <xsd:complexType name="DT_AcousticStoreResults">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded">

        <!-- Nodal result definition -->
        <xsd:element name="nodeResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_NodeResult">
                <xsd:attribute name="type" type="DT_AcousticNodeResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        
        <!-- Element result definition -->
        <xsd:element name="elemResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_ElemResult">
                <xsd:attribute name="type" type="DT_AcousticElemResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- Region result definition -->
        <xsd:element name="regionResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_RegionResult">
                <xsd:attribute name="type" type="DT_AcousticRegionResult"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- Surface result definition -->
        <xsd:element name="surfElemResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_SurfElemResult">
                <xsd:attribute name="type" type="DT_AcousticSurfElemResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        
        <!-- Surface region result definition -->
        <xsd:element name="surfRegionResult" minOccurs="0"
          maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="DT_SurfRegionResult">
                <xsd:attribute name="type" type="DT_AcousticSurfRegionResult"
                  use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_DomainDimension">
    <xsd:attribute name="dimX" type="DT_PosFloat"/>
    <xsd:attribute name="dimY" type="DT_PosFloat"/>
    <xsd:attribute name="dimZ" type="DT_PosFloat"/>
  </xsd:complexType>
  
</xsd:schema>
