share/xml/CFS-Simulation/Schemas/CFS_LinearSystem.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for description of solvers and preconditioner
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for linear system properties -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_SystemSpec">
    <xsd:sequence>

      <!-- Syste setup (optional) -->
      <xsd:element name="setup" type="DT_SetupDescription" minOccurs="0"/>

      <!-- Matrix format, entries and layout (optional) -->
      <xsd:choice minOccurs="0">
        <xsd:element name="matrix" type="DT_MatrixDescription"/>
        <xsd:element name="sbmMatrix" type="DT_SBMMatrixDescription"/>
      </xsd:choice>

      <!-- Export linear system? (optional) -->
      <xsd:element name="exportLinSys" minOccurs="0">
        <xsd:complexType>
          <xsd:attribute name="baseName" use="optional" type="xsd:token"/>
          <xsd:attribute name="solution" use="optional" default="no">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="yes"/>
                <xsd:enumeration value="no"/>
                <xsd:enumeration value="exclusive"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="format" use="optional" default="matrix-market">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="matrix-market"/>
                <xsd:enumeration value="harwell-boeing"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="damping" use="optional" default="false" type="xsd:boolean"/>
          <xsd:attribute name="auxiliary" use="optional" default="false" type="xsd:boolean"/>
          <xsd:attribute name="initialGuess" use="optional" default="false" type="xsd:boolean"/>          
        </xsd:complexType>
      </xsd:element>

      <!-- Description of eigensolver properties (optional) -->
      <xsd:element name="eigenSolver" type="DT_EigenSolverSpec" minOccurs="0"/>

      <!-- Description of solver properties (optional) -->
      <xsd:element name="solver" type="DT_SolverSpec" minOccurs="0"/>

      <!-- Time Stepping Formulation (optional)-->
      <xsd:element name="timeSteppingFormulation" 
        type="DT_TimeStep" minOccurs="0" default="effStiffMatrix"/>

      <!-- Parameters in timestepping algorithm (optional) -->
      <xsd:element name="timeSteppingParameters" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="beta"  type="xsd:float" minOccurs="0"/>
            <xsd:element name="gamma" type="xsd:float" minOccurs="0" />
            <xsd:element name="nu"    type="xsd:float" minOccurs="0"/>
            <xsd:element name="omitInitialSol" type="DT_CFSBool" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>

    <!-- Name attribute to associate system with PDE -->
    <xsd:attribute name="name" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="acoustic"/>
          <xsd:enumeration value="acousticMixed"/>
          <xsd:enumeration value="direct"/>
          <xsd:enumeration value="electrostatic"/>
          <xsd:enumeration value="magnetic"/>
          <xsd:enumeration value="magneticScalar"/>
          <xsd:enumeration value="magneticEdge"/>
          <xsd:enumeration value="magneticEdge2"/>
          <xsd:enumeration value="mechanic"/>
          <xsd:enumeration value="mpcci"/>
          <xsd:enumeration value="piezo"/>
          <xsd:enumeration value="smooth"/>
          <xsd:enumeration value="heatConduction"/>
          <xsd:enumeration value="fluidMech"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for solver specification -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_SolverSpec">

    <xsd:sequence>

      <!-- Select stopping rule to be used -->
      <xsd:element name="stoppingRule" minOccurs="0">
        <xsd:complexType>
          <xsd:attribute name="type" use="optional" default="relNormRes0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="absNorm"/>
                <xsd:enumeration value="relNormRHS"/>
                <xsd:enumeration value="relNormRes0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>

      <!-- Parameters for solver (optional) -->
      <xsd:element ref="SolverBasic" minOccurs="0" maxOccurs="unbounded"/>

      <!-- Parameters for preconditioner (optional) -->
      <xsd:element ref="PrecondBasic" minOccurs="0"/>

    </xsd:sequence>

    <!-- List of available solvers to chose from --> 
    <xsd:attribute name="type" use="optional" default="expertsChoice">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="expertsChoice"/>
          <xsd:enumeration value="richardson"/>
          <xsd:enumeration value="diagsolver"/>
          <xsd:enumeration value="cg"/>
          <xsd:enumeration value="gmres"/>
          <xsd:enumeration value="minres"/>
          <xsd:enumeration value="symmlq"/>
          <xsd:enumeration value="qmr"/>
          <xsd:enumeration value="lapackLU"/>
          <xsd:enumeration value="lapackLL"/>
          <xsd:enumeration value="directLU"/>
          <xsd:enumeration value="directLDL"/>
          <xsd:enumeration value="pardiso"/>
          <xsd:enumeration value="ilupack"/>
          <xsd:enumeration value="cholmod"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

    <!-- Desired Preconditioner (if any) -->
    <xsd:attribute name="precond" use="optional" default="noPrecond">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="noPrecond"/>
          <xsd:enumeration value="Id"/>
          <xsd:enumeration value="MG"/>
          <xsd:enumeration value="Jacobi"/>
          <xsd:enumeration value="BlockJacobi"/>
          <xsd:enumeration value="SSOR"/>
          <xsd:enumeration value="IC0"/>
          <xsd:enumeration value="ILU0"/>
          <xsd:enumeration value="ILUK"/>
          <xsd:enumeration value="ILDLK"/>
          <xsd:enumeration value="ILDL0"/>
          <!-- Here we repeat the list of solvers, as every
          solver could be also used as a preconditioner -->
          <xsd:enumeration value="expertsChoice"/>
          <xsd:enumeration value="richardson"/>
          <xsd:enumeration value="diagsolver"/>
          <xsd:enumeration value="cg"/>
          <xsd:enumeration value="gmres"/>
          <xsd:enumeration value="minres"/>
          <xsd:enumeration value="symmlq"/>
          <xsd:enumeration value="qmr"/>
          <xsd:enumeration value="lapackLU"/>
          <xsd:enumeration value="lapackLL"/>
          <xsd:enumeration value="directLU"/>
          <xsd:enumeration value="directLDL"/>
          <xsd:enumeration value="pardiso"/>
          <xsd:enumeration value="ilupack"/>
          <xsd:enumeration value="cholmod"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of data type for EigenSolver specification -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_EigenSolverSpec">
   <!-- Parameters for solver (optional) -->
    <xsd:sequence>
      <xsd:element ref="EigenSolverBasic" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="type" use="optional" default="expertsChoice">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="expertsChoice"/>
          <xsd:enumeration value="subspace"/>
          <xsd:enumeration value="arpack"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of linear system setup description type -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_SetupDescription">
    <xsd:attribute name="eqnNumbering" use="optional" default="scalar">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="scalar"/>
          <xsd:enumeration value="block"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="idbcHandling" use="optional" default="penalty">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="penalty"/>
          <xsd:enumeration value="elimination"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of matrix description type -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_MatrixDescription">
    <xsd:attribute name="entry" use="optional" default="double">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="double"/>
          <xsd:enumeration value="complex"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="storage" use="optional" default="expertsChoice">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="sparseSym"/>
          <xsd:enumeration value="sparseNonSym"/>
          <xsd:enumeration value="variableBlockRow"/>
          <xsd:enumeration value="skylineSym"/>
          <xsd:enumeration value="skylineNonSym"/>
          <xsd:enumeration value="lapackGBMatrix"/>
          <xsd:enumeration value="expertsChoice"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="reordering" use="optional" default="expertsChoice">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="expertsChoice"/>
          <xsd:enumeration value="noReordering"/>
          <xsd:enumeration value="Metis"/>
          <xsd:enumeration value="Sloan"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="calcConditionNumber" type="DT_CFSBool" default="no"/>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of matrix description type for SBM_Matrices -->
  <!-- ******************************************************************* -->

  <xsd:complexType name="DT_SBMMatrixDescription">
    <xsd:attribute name="entry" use="optional" default="double">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="double"/>
          <xsd:enumeration value="complex"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="symmetric" use="optional" default="no"
      type="DT_CFSBool"/>
  </xsd:complexType>

  <!-- ******************************************************************* -->
  <!--   Definition of data type for time stepping formulation -->
  <!-- ******************************************************************* -->

  <xsd:simpleType name="DT_TimeStep">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="effMassMatrix"/>
      <xsd:enumeration value="effStiffMatrix"/>
      <xsd:enumeration value="diagMassMatrix"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
