XML/Schemas/CFS_PDEacousticXYZ.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for an acoustics PDE
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************* -->
  <!--   Definition of element for acoustics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:element name="acousticXYZ" type="DT_PDEAcousticXYZ"
    substitutionGroup="PDEBasic">
    <xsd:unique name="CS_AcousticXYZRegion">
      <xsd:selector xpath="cfs:region"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for acoustics PDEs -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_PDEAcousticXYZ">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- Regions the PDE lives on (including optional damping model) -->
          <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="damping" type="DT_AcousticXYZDamp"
                  minOccurs="0"/>
                <xsd:element name="pml" type="DT_AcousticXYZPML"
                  minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="name" type="xsd:token" use="required"/>
            </xsd:complexType>
          </xsd:element>
          
          <!-- Surface regions on which results as force are calculated -->
          <xsd:element name="surface" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="name" type="xsd:token" use="required"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Type of FlowData (optional) -->
          <xsd:element name="flowData" minOccurs="0">
            <xsd:complexType>
              <xsd:attribute name="type" use="required">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="nodalSrc"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>

          <!-- Time Stepping Formulation (optional)-->
          <xsd:element name="timeSteppingFormulation"
            type="DT_AcousticXYZTimeStep" minOccurs="0"
            default="effStiffMatrix"/>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:choice maxOccurs="unbounded">
                <xsd:element name="dirichletHom"   type="DT_AcousticXYZHD"  />
                <xsd:element name="dirichletInhom" type="DT_AcousticXYZID"  />
                <xsd:element name="neumannInhom"   type="DT_AcousticXYZIN"  />
                <xsd:element name="load"           type="DT_AcousticXYZLoad"      />
              </xsd:choice>
              <xsd:attribute name="tag" type="xsd:token" use="optional"
                default="anyTag"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Desired solution values (optional) -->
          <!-- Currently this is not supported, since it is difficult
          to define in the acoustics case since it depends on the
          boundary conditions -->
          <xsd:element name="storeResults" type="DT_AcousticXYZStoreResults"
            minOccurs="0" maxOccurs="1"/>

        </xsd:sequence>

        <!-- Type of acoustic pde -->
        <xsd:attribute name="subType" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="flowNoise"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of enumeration type describing the degrees of freedom  -->
  <!-- ******************************************************************* -->

  <xsd:simpleType name="DT_AcousticXYZDOF">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="px"/>
      <xsd:enumeration value="py"/>
      <xsd:enumeration value="pz"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ******************************************************************* -->
  <!--   Definition of the boundary condition types for acoustics -->
  <!-- ******************************************************************* -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_AcousticXYZHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attribute name="dof" type="DT_AcousticXYZDOF" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_AcousticXYZID">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticXYZHD">
        <xsd:attribute name="value" type="xsd:token" use="required"/>
        <xsd:attribute name="dynamics" type="xsd:token" use="optional"
          default="none"/>
        <xsd:attribute name="phase" type="xsd:token" use="optional"
          default="0.0"/>
	<xsd:attribute name="fileName" type="xsd:token" use="optional"
          default="none"/>
	<xsd:attribute name="interpolType" type="xsd:token" use="optional"
          default="NNB"/>
	<xsd:attribute name="noNodes" type="xsd:token" use="optional"
          default="-1"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticXYZIN">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticXYZID"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying loads -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticXYZLoad">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticXYZID"/>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition for PML                                                -->
  <!-- ******************************************************************* -->

   <xsd:complexType name="DT_AcousticXYZPML">

    <!-- Type of PML -->
    <xsd:attribute name="type" use="optional" default="constant">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="constant"   />
          <xsd:enumeration value="quadDist"     />
          <xsd:enumeration value="inverseDist"     />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

    <xsd:attribute name="xMin" type="xsd:double" use="required"/>
    <xsd:attribute name="xMax" type="xsd:double" use="required"/>
    <xsd:attribute name="yMin" type="xsd:double" use="required"/>
    <xsd:attribute name="yMax" type="xsd:double" use="required"/>
    <xsd:attribute name="zMin" type="xsd:double" use="required"/>
    <xsd:attribute name="zMax" type="xsd:double" use="required"/>
    <xsd:attribute name="dampFactor" type="xsd:double" use="optional"
      default="10"/>
  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for damping model -->
  <!-- ******************************************************************* -->
  <xsd:complexType name="DT_AcousticXYZDamp">

    <!-- Type of damping -->
    <xsd:attribute name="type" use="optional" default="no">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="rayleigh"     />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

  </xsd:complexType>


  <!-- ******************************************************************* -->
  <!--   Definition of data type for time stepping formulation -->
  <!-- ******************************************************************* -->
  <xsd:simpleType name="DT_AcousticXYZTimeStep">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="effMassMatrix"/>
      <xsd:enumeration value="effStiffMatrix"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************* -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************* -->

  <!-- What data can a single node have in an acoustic PDE -->
  <xsd:simpleType name="DT_AcousticXYZNodeData">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressureXYZ"/>
      <xsd:enumeration value="acouPressure"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- What data can a single element have in an acoustic PDE -->  
  <xsd:simpleType name="DT_AcousticXYZElemData">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressure"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Data type for describing final node values to be stored -->
  <xsd:complexType name="DT_AcousticXYZNodeResults">
    <xsd:attribute name="type" type="DT_AcousticXYZNodeData" use="required"/>
    <xsd:attribute name="region" type="xsd:token" use="optional"
      default="all"/>
  </xsd:complexType>

  <!-- Data type for describing history of node values to be stored -->
  <xsd:complexType name="DT_AcousticXYZNodeHistory">
    <xsd:attribute name="type" type="DT_AcousticXYZNodeData" use="required"/>
    <xsd:attribute name="saveNodes" type="xsd:token" use="optional"
      default=""/>
    <xsd:attribute name="saveRegion" type="xsd:token" use="optional"
      default=""/>
    <xsd:attribute name="format" use="optional" default="complete">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="complete"/>
          <xsd:enumeration value="maxVal"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <!-- Data type for describing history of node values to be stored -->
  <xsd:complexType name="DT_AcousticXYZSpecialNodes">
    <xsd:attribute name="type" type="DT_AcousticXYZNodeData" use="required"/>
    <xsd:attribute name="saveNodes" type="xsd:token" use="required"/>
    <xsd:attribute name="file" type="xsd:token" use="required"/>
  </xsd:complexType>

  <!-- Data type for describing final element values to be stored -->
  <xsd:complexType name="DT_AcousticXYZElemResults">
    <xsd:attribute name="type" type="DT_AcousticXYZElemData" use="required"/>
    <xsd:attribute name="region" type="xsd:token" use="optional"
      default="all"/>
  </xsd:complexType>
  
  <!-- Data type for describing history of element values to be stored -->
  <xsd:complexType name="DT_AcousticXYZElemHistory">
    <xsd:attribute name="type" type="DT_AcousticXYZElemData" use="required"/>
    <xsd:attribute name="saveElems" type="xsd:token" use="optional"
      default=""/>
    <xsd:attribute name="saveRegion" type="xsd:token" use="optional"
      default=""/>
  </xsd:complexType>  

  <!-- Global type for specifying the desired acoustic output quantities -->
  <xsd:complexType name="DT_AcousticXYZStoreResults">
    <xsd:sequence>
      <xsd:element name="nodeResults" type="DT_AcousticXYZNodeResults"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="nodeHistory" type="DT_AcousticXYZNodeHistory"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="specialNodes" type="DT_AcousticXYZSpecialNodes"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="elemResults" type="DT_AcousticXYZElemResults"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="elemHistory" type="DT_AcousticXYZElemHistory"
        minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  
</xsd:schema>
