XML/Schemas/CFS_PDEacoustic.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cfs++.org"
  xmlns="http://www.cfs++.org"
  xmlns:cfs="http://www.cfs++.org"
  elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema for PDE description for an acoustics PDE
    </xsd:documentation>
  </xsd:annotation>


  <!-- ******************************************************************** -->
  <!--   Definition of element for acoustics PDEs -->
  <!-- ******************************************************************** -->
  <xsd:element name="acoustic" type="DT_PDEAcoustic"
       substitutionGroup="PDEBasic"/>


  <!-- ******************************************************************** -->
  <!--   Definition of data type for acoustics PDEs -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_PDEAcoustic">
    <xsd:complexContent>
      <xsd:extension base="DT_PDEBasic">
        <xsd:sequence>

          <!-- Regions the PDE lives on (including optional damping model) -->
          <xsd:element name="region" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="damping" type="DT_AcousticDamp"
                 minOccurs="0"/>
              </xsd:sequence>
              <xsd:attribute name="name" type="xsd:token" use="required"/>
              <xsd:attribute name="nonLinear" type="DT_AcousticNonLin"
                use="optional" default="no"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Type of FlowData (optional) -->
          <xsd:element name="flowData" minOccurs="0">
            <xsd:complexType>
              <xsd:attribute name="type" use="required">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="nodalSrc"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>

          <!-- Time Stepping Formulation (optional)-->
          <xsd:element name="timeSteppingFormulation"
            type="DT_AcousticTimeStep" minOccurs="0" default="effStiffMatrix"/>

          <!-- Information for simulation including bubbles (optional) -->
          <xsd:element name="bubbles" minOccurs="0">
            <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="bubbleType">
                 <xsd:simpleType>
                   <xsd:restriction base="xsd:token">
                     <xsd:enumeration value="Gilmore"/>
                     <xsd:enumeration value="KellerMiksis"/>
                   </xsd:restriction>
                 </xsd:simpleType>
               </xsd:element>
               <xsd:element name="bubbleNumDensity" type="DT_NonNegFloat"/>
             </xsd:sequence>
           </xsd:complexType>
         </xsd:element>

          <!-- Boundary Conditions & Loads (optional) -->
          <xsd:element name="bcsAndLoads" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="dirichletHom" type="DT_AcousticHD"
                             minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="dirichletInhom" type="DT_AcousticID"
                             minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="neumannInhom" type="DT_AcousticIN"
                             minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="absorbingBCs" type="DT_AbsorbingBC"
                             minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
              <xsd:attribute name="tag" type="xsd:token" use="optional"
                default="anyTag"/>
            </xsd:complexType>
          </xsd:element>

          <!-- Section for specifying non-linear parameters (optional) -->
          <xsd:element name="nonLinear" type="DT_NonLinParams" minOccurs="0"/>

          <!-- Desired solution values (optional) -->
          <!-- Currently this is not supported, since it is difficult
               to define in the acoustics case since it depends on the
               boundary conditions -->
          <xsd:element name="storeResults" type="DT_AcousticStoreResults"
            minOccurs="0" maxOccurs="1"/>

          <!-- Section for specifying solver (optional) -->
          <xsd:element ref="solver" minOccurs="0"/>
  
        </xsd:sequence>

        <!-- Type of acoustic formulation -->
        <xsd:attribute name="formulation">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="acouPressure"/>
              <xsd:enumeration value="acouPotential"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

        <!-- Type of acoustic pde -->
        <xsd:attribute name="subType" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="flowNoise"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ******************************************************************** -->
  <!--   Definition of the boundary condition types for acoustics -->
  <!-- ******************************************************************** -->

  <!-- Element type for homogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the base type -->
  <xsd:complexType name="DT_AcousticHD">
    <xsd:complexContent>
      <xsd:extension base="DT_BCBasic">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for inhomogeneous Dirichlet boundary conditions -->
  <!-- We derive it by extending the homogeneous case -->
  <xsd:complexType name="DT_AcousticID">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticHD">
        <xsd:attribute name="value" type="xsd:double" use="required"/>
        <xsd:attribute name="dynamics" type="xsd:token" use="optional"
          default="none"/>
        <xsd:attribute name="phase" type="xsd:double" use="optional"
          default="0.0"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying inhomogeneous neumann conditions -->
  <!-- Identical to that of inhomogeneous Dirichlet case -->
  <xsd:complexType name="DT_AcousticIN">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticID"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element type for specifying absorbing boundary conditions -->
  <!-- Identical to that of homogeneous Dirichlet case -->
  <xsd:complexType name="DT_AbsorbingBC">
    <xsd:complexContent>
      <xsd:extension base="DT_AcousticHD"/>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of data type for non-linearity in mechanic PDEs -->
  <!-- ******************************************************************** -->
  <xsd:simpleType name="DT_AcousticNonLin">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="westervelt"/>
      <xsd:enumeration value="kuznetsov"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************** -->
  <!--   Definition of data type for damping model -->
  <!-- ******************************************************************** -->
  <xsd:complexType name="DT_AcousticDamp">

	<!-- Type of damping -->
    <xsd:attribute name="type" use="optional" default="no">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="fractional"   />
          <xsd:enumeration value="rayleigh"     />
          <xsd:enumeration value="absorbingBC"  />
          <xsd:enumeration value="thermoViscous"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

	<!-- Type of fractional damping algorithm -->
    <xsd:attribute name="fracAlg" use="optional" default="gl">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="gl"/>
          <xsd:enumeration value="blank"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>

	<!-- Number of past time-steps for fractional damping -->
    <xsd:attribute name="fracMemory" type="xsd:positiveInteger" use="optional"
      default="1"/>

	<!-- Type of interpolation -->
    <xsd:attribute name="interpolation" use="optional" default="no">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="lin1pt"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <!-- ******************************************************************** -->
  <!--   Definition of data type for time stepping formulation -->
  <!-- ******************************************************************** -->
  <xsd:simpleType name="DT_AcousticTimeStep">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="effMassMatrix"/>
      <xsd:enumeration value="effStiffMatrix"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ******************************************************************** -->
  <!--   Definition of syntax for specifying output quantities of CFS -->
  <!-- ******************************************************************** -->

  <!-- What data can a single node have in an acoustic PDE -->
  <xsd:simpleType name="DT_AcousticNodeData">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="acouPressure"/>
      <xsd:enumeration value="acouPotential"/>
      <xsd:enumeration value="acouPotentialD1"/>
      <xsd:enumeration value="acouPotentialD2"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Data type for describing final node values to be stored -->
  <xsd:complexType name="DT_AcousticNodeResults">
    <xsd:attribute name="type" type="DT_AcousticNodeData" use="required"/>
    <xsd:attribute name="region" type="xsd:token" use="optional"
      default="all"/>
  </xsd:complexType>

  <!-- Data type for describing history of node values to be stored -->
  <xsd:complexType name="DT_AcousticNodeHistory">
    <xsd:attribute name="type" type="DT_AcousticNodeData" use="required"/>
    <xsd:attribute name="saveNodes" type="xsd:token" use="required"/>
  </xsd:complexType>

  <!-- Global type for specifying the desired mechanical output quantities -->
  <xsd:complexType name="DT_AcousticStoreResults">
    <xsd:sequence>
      <xsd:element name="nodeResults" type="DT_AcousticNodeResults"
        minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="nodeHistory" type="DT_AcousticNodeHistory"
        minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
   
</xsd:schema>
